<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>接受邀请</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
	<div class="about acceptIn">
		<div class="about-inner">
			<img class="logo" src="{$Think.config.resources_site_root}/mobile/img/logo.png">
			<img class="font margin86" src="{$Think.config.resources_site_root}/mobile/img/font.png">
			<section class="text font28">
				老板点评，职场征信的领跑者，致力于向企业决策者提供在管理、招聘（选、用、留）等方面的优秀产品解决方案。
			</section>
			<section class="text font28">
				“让老板们联合起来，共同抵制那些不良职场行为，共建利于降低企业用人风险的职场诚信环境；防止无信者为害自己公司，让有信有才者更容易被发现，并为公司发挥更大的价值”，这就是老板点评想给你的。
			</section>
		</div>
		<div class="btn">
			<button id="register" type="button">接受邀请</button>
		</div>
	</div>
	{include file="-public/resources__footer" /}
</body>
</html>