<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>对公账号</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
	<div class="account">
		<div class="account-inner">
			<h3>您可以通过银行账号转账</h3>
			<ul>
				<li>
					账户：北京全联职信科技有限公司
				</li>
				<li>
					账号：110925635010401
				</li>
				<li>
					开户银行：招商银行北京东四环支行
				</li>
			</ul>
			<p class="font24">汇款后，请联系对接销售人员或老板点评客服开通服务</p>
			<p class="font24">联系老板点评：400-815-9166  010-57795268</p>
		</div>
	</div>
	{include file="-public/resources__footer" /}
</body>
</html>