<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>企业用户协议&隐私政策</title>
	</head>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
	<style type="text/css">
	     *{margin:0;padding:0;}
		.font24{font-size:0.3333rem!important;}
		.font26{font-size:0.3611rem!important;}
		.font30{font-size:0.4167rem!important;}
		.font34{font-size:0.4722rem!important;}
		.content{width: 100%;box-sizing: border-box;background: #f8f8f8;}
		.title{width:100%;overflow:hidden ;}
		.big{color:#dac07d!important}
		.title span{padding:0.4rem 0;font-weight: bold;float:left;
		           display: inline-block;width:50%;text-align: center;}
		.content-agreement,.content-privacy{clear:both;padding: 0.4rem 5%;}
		ul{margin: 0; padding: 0; list-style: none;overflow: hidden;}
		.li1{float: left;}
		li{border: 1px solid;text-align: center;}
	</style>
	<body>
		<div class="title">
			<span class="font34 big">企业用户隐私政策</span>
			<span class="font34">企业用户协议</span>
	    </div>
		<div class="content">
			<div class="content-agreement">
				<p class="font24">感谢您使用老板点评服务和应用！使用老板点评产品及服务即代表您已经仔细阅读《企业用户协议》并同意我们的条款。因此，请详细阅读本《企业用户协议》。
					<br />请注意: 您即将签订的协议具法律约束效力。</p>			
				<h4 class="font30">1. 引言</h4>
				<p class="font24">老板点评是专业的职业征信平台。</p>
				<h3 class="font26">1.1. 宗旨</h3>
				<p class="font24">老板点评致力于引领塑造诚信的职场环境，依托于真实的点评数据，有效的为企业管理者在员工聘用、员工管理、员工培养方面提供服务和支持；同时有效的帮助职场人士树立自身口碑，建立职场诚信档案。</p>
				<h3 class="font26">1.2. 协议</h3>
				<p class="font26">使用我们的“服务”时，您已成为一项具有法律约束力协议的签约方，并且同意本协议所有条款。
					<br />同时也代表您同意老板点评的《企业用户隐私政策》。该政策内容涵盖我们如何收集、使用、分享及储存您提交的信息。
					<br />您同意，通过点击 “开通老板点评服务”、“注册”，或注册、登录或使用我们的服务 (包括老板点评、或相关的移动应用程序、高级服务或上述服务包含的任何内容和信息，统称“服务”)，您即成为一项具有法律约束力协议的签约方 (即使您是代表公司使用我们的“服务”也同样有效)。
					<br />该“协议”包含本《企业用户协议》和《企业用户隐私政策》以及您首次使用某些功能时显示的条款。老板点评可能会对本协议进行多次修改。如果您不同意本协议，请不要点击 “注册”或类似内容，也不要访问或使用我们提供的任何“服务”。
					<br />老板点评有两类企业用户，分别为“认证通过的付费用户”和“来访者”。本协议对两者皆适用。</p>
				<h4 class="font30">2. 义务</h4>
				<h3 class="font26">2.1. 服务资格</h3>
				<p class="font24">您在本协议中对老板点评的承诺:
					<br />您符合签订本协议的资格，并且满足“最低年龄要求”。
					<br />要使用服务，您同意: (1) 您必须在18周岁以上；(2) 所有注册认证用户必须使用实名； (3) 老板点评没有在限制您使用服务。</p>
				<h3 class="font26">2.2. 您的账号密码</h3>
				<p class="font26">您会妥善保管密码。
					<br />您不可与其他人分享同一个账号，并且将遵守我们的规定和法律。
					<br />您的账号只属于您，不属于他人。您同意: (1) 选择保密性强且安全性高的密码；(2) 确保密码的安全和保密性；(3) 不转移账号的任何部分，例如: 员工档案、评价信息及老板圈等；以及 (4) 遵守法律及以下应做事项和禁止事项。 除非您发送了错误使用报告，否则您对您所拥有的账号上发生的所有事件承担相关法律责任。
					<br />请注意，对于另一方购买给您使用的高级服务账号 (例如: 雇主购买给您的操作者、点评官账号)，支付服务费用的一方对该账号有控制权，并可能会终止您对该账号的使用。 </p>
				<h3 class="font26">2.3 支付</h3>
				<p class="font26">您或您所代表的公司主体会履行支付相关费用的义务，且同意我们储存相关支付信息。另外，老板点评可能向您或您所代表的公司主体代收应缴税费款项。
					<br />老板点评不保证退款。
					<br />如果您购买了我们的付费服务，您同意支付其费用和税费。付费失败将导致付费服务终止。同时:
					<br />•	您授权我们在您的支付方式 (如信用卡) 过期之后，仍可储存和继续使用其信息，以此避免付费账号等服务的中断并为支付新服务提供便利。
					<br />•	税费是以您购买时提供的支付信息决定的。
					<br />老板点评收费标准：
					<br />•	开户（开通服务）费，原价5000元，优先体验价3000元，实际价格受优惠活动影响，请以实际支付为准；
					<br />•	服务年费，根据前一年建档的在职人员数量收取服务年费，年费标准为：
					<ul class="list">
						<li class="li1">前一年建档的在职人员数量    
							<ul>
								<li>1-49</li>
								<li>50-99</li>
								<li>100-199</li>
								<li>200-499</li>
								<li>500-999</li>
								<li>1000-4999</li>
								<li>5000-9999</li>
								<li>10000及以上</li>
								
							</ul>
						</li>
						<li class="li1">年费标准（人民币，元）
							<ul>
								<li>800</li>
								<li>1200</li>
								<li>1800</li>
								<li>2500</li>
								<li>3500</li>
								<li>5000</li>
								<li>7500</li>
								<li>10000</li>
							</ul>
						</li>
					</ul>
					</p>
				<h3 class="font26">2.4 通知及服务信息</h3>
				<p class="font24">您允许我们通过网站、移动 App、短信和邮件给您发送重要通知。
					<br />如果您没有及时更新联系方式，您可能会错过这些通知。
					<br />您同意，我们可以通过如下方式向您发送通知: (1) 有关“服务”的APP消息通知或网页横幅通知；(2) 向您提供的邮箱地址发送邮件；(3) 其他方式，包括手机号码、电话或信件。您同意及时更新联系信息。</p>
				<h4 class="font30">3. 权利和限制</h4>
				<h3 class="font26">3.1 您所代表的公司主体授予老板点评的权限</h3>
				<p class="font24">您所代表的公司主体对于您及其他企业用户提供给老板点评的所有内容、反馈和个人信息均拥有所有权，但您及您所代表的公司主体也授予老板点评非专属权限。
					<br />我们尊重您及您所代表的公司主体对个人信息和内容可见度所作出的选择。
					<br />您及您所代表的公司主体承诺仅提供您们有权分享的信息和内容，并且您的个人资料和您公司的认证资料是真实的。
					<br />您所代表的公司主体对您提交或发表在“服务”的内容和信息拥有所有权，且您所代表的公司主体只授予老板点评以下非专属权限: 全球性、可转让、可再授权、无须取得您和他人同意、无需另行通知或补偿您或他人即可使用、复制、修改、传播、发表、加工您通过老板点评“服务”提供的信息和内容的权利。这些权利也是有限的，方式如下:
					<br />a.	您可以通过删除“服务”里的特定内容，来终止您所代表的公司主体授予老板点评的权限，以下情况除外: (a) 您与他人分享了该内容，并且他们复制或保存了该内容；(b) 从备份和其他系统中删除内容将需要一段时间。
					<br />b.	未经您所代表的公司主体的同意，我们不会将您的内容包含在他人的产品和服务的广告中 (包括赞助内容)。但是，我们有权在您的内容和信息旁边发布广告，并且不需要向您或他人提供报酬； 
					<br />c.	如果我们想给予其他人在“服务”范围之外发布您发表内容的权利，须取得您所代表的公司主体的同意。但是，其他认证用户有可能查看和分享您的内容和信息，这取决于您的设置，以及您与他们的联系程度。
					<br />d.	我们可能对您的内容进行编辑和修改其格式 (例如:修改大小、排版或文件名，或删除元数据)，但我们不会修改其含义。
					<br />e.	因为您所代表的公司主体对内容和信息拥有所有权，而我们对其只有非专属权利，所以您所代表的公司主体可以在法律法规所允许的范围内将内容和信息提供给他人。
					<br />在我们遵守《企业用户隐私政策》的条款的条件下，您所代表的公司主体同意我们能访问、保存和使用您提供的任何信息。但是我们对您所代表的公司主体的提供的内容和信息有保护隐私的义务，我们保证不将你们提交的上述内容用于非法用途，否则，我们将承担相应法律责任。
					<br />通过提交关于老板点评“服务”的建议或其他反馈意见，您所代表的公司主体同意老板点评可以 (但非必须) 出于任何用途使用和分享此意见，并且不对您及您所代表的公司主体提供报酬。
					<br />您所代表的公司主体同意仅提供不触犯法律和不侵犯他人权利 (例如: 不触犯知识产权保护法或不违反合约) 的内容或信息。您所代表的公司主体也同意，您的身份和公司资质等信息是真实的。</p>
				<h3 class="font26">3.2. 服务可用性</h3>
				<p class="font24">我们可能会修改或取消某些“服务”。我们无法承诺保存或持续展示您及您所代表的公司主体发布的任何信息和内容。
					<br />我们可能修改、暂停或终止任何“服务”，或会自行更改或修改价格。 在法律允许的范围内，这些更改可能在向您及您公司下其他企业用户发送通知时开始生效。
					<br />老板点评不是专门保存信息的App。您所代表的公司主体同意，除非是法律和老板点评《企业用户隐私政策》规定，否则我们没有义务保存、维护您及您所代表的公司主体提供的任何内容或信息，也没有义务提供这些内容和信息的副本。</p>
				<h3 class="font26">3.3. 其他内容、网站和应用程序</h3>
				<p class="font24">当您看到或使用发布在老板点评“服务”的内容和信息时，您会承担一定风险。
					<br />第三方可能会通过老板点评提供他们自己的产品和服务，而老板点评不为这些第三方活动负责。
					<br />使用这些“服务”时，您可能会看到不准确、不完整、过时、有误导性、非法、冒犯性或有害的内容或信息。老板点评一般不审查认证用户提供的内容。您同意，我们不对第三方 (包括其他认证用户) 提供的内容或信息负责，也不对您因使用或参考该内容或信息而造成的损失负责。
					<br />您需自行决定是否通过老板点评“服务”上的链接访问或使用第三方应用程序或网站。 如果您允许第三方应用程序或网站对您进行身份认证或与您的老板点评账号绑定，该应用程序或网站即可在老板点评上查看您和您联系人的相关信息。第三方应用程序和网站有自己的法律条款和隐私政策，因此您此时可能在以老板点评不认可的方式允许他人使用您的信息。除非有适用法律规定的特殊情况，否则老板点评不对这些网站和应用程序负责——使用时您将自己承担风险。</p>
				<h3 class="font26">3.4. 限制</h3>
				<p class="font24">老板点评有权限制您及您所代表的公司主体及其他企业用户使用“服务”时与其他认证用户建立联系和进行互动的方式。
					<br />老板点评保留限制您使用“服务”的权利，包括建立员工档案的数量、有效服务期限、邀请企业开户分成比例与权限，以及您与其他认证用户互动的能力。如果老板点评认为您可能违反了本协议或法律，或对“服务”使用不当 (如违反任何规定)，老板点评将保留限制、暂停或终止您及您所代表的公司主体下其他企业用户账号的权利。
					<br />老板点评保留“服务”中的所有知识产权。与老板点评相关的标志均为老板点评的商标或注册商标。其他与“服务”相关的商标和标志可能属于其拥有者。</p>
				<h4 class="font30">4. 免责声明和有限责任</h4>
				<h3 class="font26">4.1. 无担保</h3>
				<p class="font24">以下是关于老板点评“服务”的质量、安全和可靠性法律责任的免责声明。
					<br />在法律允许的范围内，老板点评 (以及与老板点评共同提供“服务”的相关方) 将: (a) 不对任何暗示的担保和代表承担责任，例如: 适销性、适合特定用途、数据准确度和非侵权的担保；(b) 不保证“服务”不会中断或发生错误；(c) 根据“现成状态”和“可获得性”提供“服务” (包括内容和信息)。
					<br />部分法律不认可特定的免责声明，因此该免责声明中的部分或所有内容可能对您并不适用。</p>
				<h3 class="font26">4.2. 责任免除</h3>
				<p class="font24">老板点评对您负有有限的法律责任。
					<br />除非老板点评已签订另一份独立书面协议取代本协议，否则在法律允许的范围内，老板点评 (以及与老板点评共同提供“服务”的相关方) 不因任何与“服务”相关的间接的、突发的、特殊的、后续的或惩罚性的损失 (例如: 攻击性或诽谤性的陈述、业务过少或损失，使用或修改您的信息或内容) 或就丢失数据、机会、名誉、利润或收入对您或他人承担责任。
					<br />在任何情况下，关于所有索赔的总计，老板点评的责任 (以及与老板点评共同提供“服务”的相关方) 都不超过以下二者中较少的一项: (a) 您最近一次支付的高级服务的月费或年费的一倍; (c) 3000元人民币。
					<br />即使老板点评已被告知类似损失的可能性，或者这些补救措施没有取得成效，此责任限制是您与老板点评协议基础的一部分，且对所有索赔适用 (例如: 担保、侵权、疏忽、合同、法律)。
					<br />部分法律不允许限制或免除责任，因此这些限制对您也许不适用。</p>
				<h3 class="font26">5. 服务终止</h3>
				<p class="font24">您我双方可于任何时候终止本协议。
					<br />老板点评或您可以在任何时间通知对方终止协议。 一旦协议终止，您就失去了访问或使用“服务”的权利。以下内容将不会终止:
					<br />•	老板点评使用和有限呈现您在协议终止之前提交的内容的权利；
					<br />•	认证用户使用或查看您在协议终止之前被复制、购买、分享的内容和信息的权利。
					<br />•	本协议的第 4、6、7 条；
					<br />•	任何一方在协议终止前所欠的费用及点评信息在后续继续创造的佣金在终止后仍成立。</p>
				<h3 class="font26">6. 纠纷解决</h3>
				<p class="font24">若您我双方发生法律纠纷，纠纷将交于北京市朝阳区人民法院，依照中国法律处理。
					<br />您同意，中国法律 (与法律有冲突的规定除外) 将作为任何关于本协议和/或“服务”纠纷的唯一依据。双方同意，所有索赔只能在北京市朝阳区人民法院提起诉讼。</p>
				<h3 class="font26">7. 通用条款</h3>
				<p class="font24">以下是如何阅读本协议的重要详细说明。
					<br />本协议 (包括您使用“服务”某一功能时我们可能提供的附加条款) 是您我双方关于“服务”的唯一协议，将凌驾于“服务”的所有其他协议之上。
					<br />我们不对违反本协议的行为采取行动，并不表示老板点评放弃了执行本协议的权利。您不得在没有取得老板点评同意的情况下将本协议 (包括您的认证身份或“服务”使用权) 转让或移交给任何人。 但是，您同意老板点评可以在没有您同意的情况下将本协议转让给隶属方或老板点评的收购方。 本协议不存在第三方受益者。
					<br />我们保留修改本协议条款的权利。我们也同意修改不具有追溯力。如果您不同意这些更改，必须停止使用“服务”。
					<br />您同意，给我们提供法律通知的唯一方式是寄送至第 9 条中提供的地址。</p>
				<h4 class="font30">8. 老板点评的应做与禁止事项</h4>
				<h3 class="font26">8.1. 应做事项。您及您所代表的公司主体同意，您将:</h3>
				<p class="font24">•	遵守所有适用法律，包括且不限于隐私权、知识产权、税法以及监管要求等；
					<br />•	提供准确信息，并及时更新信息；保证涉及到的在职员工、离职员工的档案及评价信息均获得了员工本人的同意及授权；
					<br />•	在个人或企业认证资料中使用真实信息；
					<br />•	以专业的态度使用“服务”。</p>
				<h3 class="font26">8.2. 禁止事项。您及您所代表的公司主体同意，您将不会:</h3>
				<p class="font26">•	参与不实或不专业行为，包括发布不恰当、不准确或引起异议的信息和内容；
					<br />•	在空白处填写不必要或不准确的信息，例如: 在“姓名”或任何空白栏提交电话号码； 
					<br />•	提供虚假的员工现有或以往职位和资历；
					<br />•	伪造员工与其他实体的过去或现在的关系；
					<br />•	伪造员工身份，包括但不限于使用假名；
					<br />•	使用或试图使用他人账号；
					<br />•	骚扰、辱骂或伤害他人；
					<br />•	以任何方式删除或复制其它认证用户的资料和信息，包括爬行器、浏览器插件和附加组件，和其他任何技术或人工方法。
					<br />•	采取任何非法、诽谤、侮辱、淫秽、歧视或其他不当行为；
					<br />•	公开您无权公开的信息，例如: 建立未经员工本人同意 (真实存在的人) 的档案资料，或他人的保密信息等；
					<br />•	侵犯他人的知识产权，包括专利、商标、商业机密、版权和其他所有权；
					<br />•	发布任何未经请求或未经授权的广告、 传销信息或未经老板点评授权的其他形式的信息；
					<br />•	发布含有软件病毒、害虫或其他有害代码的内容；
					<br />•	复制或使用他人在“服务”上的的信息、内容或数据 (公开授权或已按老板点评规则购买的除外)；
					<br />•	复制或使用老板点评上与竞争性服务 (由老板点评判断) 有关的信息、内容或数据；
					<br />•	复制、修改或创建老板点评、“服务”或任何相关技术的衍生品 (老板点评公开授权的除外)；
					<br />•	未经老板点评明确同意，暗示或声明您隶属老板点评或受老板点评认可，例如: 表明您是老板点评认证的企业；
					<br />•	出租、租借、借贷、交易、出售或转售“服务”或任何相关的信息或数据；
					<br />•	未经老板点评允许，出售、赞助或将老板点评老板圈或任何“服务”的其他功能货币化；
					<br />•	删除老板点评“服务”中包含的任何关于版权、商标或其他所有权的通知；
					<br />•	删除、覆盖或隐藏“服务”中包含的任何广告；
					<br />•	未经老板点评同意，收集、使用、复制或转移任何从老板点评获取的信息；
					<br />•	未经他人同意，分享或公开他人信息；
					<br />•	以任何竞争目的监控“服务”的可用性、性能或功能；
					<br />•	参与“建立构架”、“制作镜像”或其他模拟老板点评产品外观或功能的活动；
					<br />•	通过非老板点评明确提供的界面访问“服务”，老板点评提供的界面包括移动客户端、laobandianping.com等；
					<br />•	覆写“服务”的任何安全性功能；
					<br />•	干扰“服务”的运营、或给“服务”带来不合理的负荷 (例如技术攻击、病毒等)； 
					<br />如果您违反上述禁止条款，应当承担由此带来的法律后果。</p>
				<h3 class="font26">9. 如何联系我们</h3>
				<p class="font24">如果您想向我们发送通知或送达法律文件，请联系我们:
					<br />在线地址:<br />https://laobandianping.com
					<br />或通过邮寄:北京市朝阳区广渠东路3号中水电国际大厦1105</p>		
				</div>
		    <div class="content-privacy" style="display: none;">
		    	<p class="font24">“付费用户为先”是老板点评的根本理念，公司的所有决策，包括如何收集并尊重您及您所代表的公司主体下其他企业用户提交的信息，都基于此理念。
				<br />我们尽可能简洁明了地撰写了以下政策全文，目的是使您——我们的付费用户——始终能获悉最新政策内容，同时了解到老板点评尊重您的隐私。</p>		
			<h3 class="font26">•	引言
				<br />•	信息收集
				<br />•	使用与分享信息
				<br />•	您的选择与义务
				<br />•	重要信息</h3>		
			<h4 class="font30">引言</h4>		
			<p class="font24">老板点评是专业的职业征信平台。
				<br />老板点评致力于引领塑造诚信的职场环境，依托于真实的点评数据，有效的为企业管理者在员工聘用、员工管理、员工培养方面提供服务和支持；同时有效的帮助职场人士树立自身口碑，建立职场诚信档案。
				<br />我们使用业界标准的防护措施保护您、您所代表的公司主体及公司主体下其他企业用户（以下统称为“您们”）的所有信息。
				<br />我们仅在您们同意或法律要求的情况下共享您们的信息，并且我们会通知您们有关本《企业用户隐私政策》内容的所有重大改动。
				<br />我们致力于维持您们对我们的信任，恪守以下原则，保护您们的隐私:
				<br />•	我们保护您们的档案信息、评价信息及个人信息，仅在以下情况向第三方提供: (1) 取得您们的同意后；(2) 为执行您们的指示而必须提供时；(3) 为向您们提供老板点评功能而有必要提供时；(4) 我们有理由相信法律法规、传票或其他法律程序要求提供时；或 (5) 为执行老板点评的《企业用户协议》或保护老板点评、我们的“付费用户”、“访客”及公众的权利、财产和安全而必须提供时。
				<br />•	我们按业界标准采取了相应的安全保护措施来保护您们的信息。
				<br />《企业用户隐私政策》适用于laobandianping.com 和老板点评移动客户端、和所有其他老板点评网页、应用程序和其他产品和服务 (统称为“服务”)。我们可不定期修改本《企业用户隐私政策》，且当内容发生重大改变时，我们将通过“服务”或其他途径通知您们，方便您们在继续使用我们的“服务”前有机会阅读修订内容。若反对任何更改，您们可停用帐号。在我们发布或发出本《企业用户隐私政策》的修订通知后，如您们继续使用我们的“服务”，即代表您们同意修订内容。</p>		
				<h4 class="font30">1. 老板点评收集哪些信息</h4>		
				<h3 class="font26">1.1. 数据控制方</h3>		
				<p class="font24">我们的《企业用户隐私政策》适用于所有“付费用户”和“来访者”。在您们使用我们的“服务”时，我们会收集信息，为您们提供个性化的相关体验。
					<br />对于向我们提供信息、将信息显示于我们的“服务”或在本《企业用户隐私政策》与《企业用户协议》允许范围内通过其他途径使用信息，若您们有任何疑虑，请不要注册、访问我们的网站、应用程序或使用我们的“服务”。
					<br />我们通过以下方式收集您们的信息:</p>		
				<h3 class="font26">1.2. 注册</h3>		
				<p class="font26">您在老板点评创建企业用户帐号时，我们将收集您的姓名、手机号和密码等信息。
					<br />您必须至少向我们提供手机号码、创建密码，并同意我们的《企业用户协议》和我们处理您们的信息时所依据的《企业用户隐私政策》，才能在老板点评上创建帐号。在注册认证过程中，您需要提供其他信息 (例如:工作职位、公司以及公司营业执照、法人证明等) 完善账户。您理解，创建帐号后，我们和其他人能够通过您的老板点评资料识别您的身份。</p>		
				<h3 class="font26">1.3. 员工档案信息</h3>		
				<p class="font26">在您们填写员工档案和相关评价时，我们会收集信息。我们仅在您们操作员工为“离任”状态时，才会将您们的员工档案和相关评价有限的开放给平台其它符合认证条件的企业用户。
					<br />创建帐号后，您们可决定是否在老板点评员工档案中提供工作经历、教育经历、联系方式、阶段评价、离任报告等的额外信息。但提供这些信息，您公司需要获得员工当事人的授权，老板点评不保证抽查授权行为，所有因授权产生的纠纷均由您公司承担；同时，您们须在员工入职或签订劳动合同时如实告知员工您已开通老板点评服务。请不要提供您们不希望公开的员工档案信息。依照本《企业用户隐私政策》和我们的《企业用户协议》，我们可能使用并分享您们在老板点评中提供的信息。</p>		
				<h3 class="font26">1.4. 客户服务</h3>	
				<p class="font24">您们联系我们获取客服支持时，我们将收集信息。
					<br />当您们联系我们的客户支持服务时，我们可能需要访问您的老板圈及在“服务”的其他发布内容并收集所需信息，以便将您们的问题分类、处理，并在适当情况下，调查是否有违反老板点评《企业用户协议》或本《企业用户隐私政策》的行为。我们还使用此信息跟踪潜在问题和趋势，使回复内容更加个性化，向您们提供更优质的服务。</p>	
				<h3 class="font26">1.5. 老板点评网站及应用程序的使用</h3>	
				<p class="font24">您们访问我们的“服务”、使用移动客户端及在“服务”内外与广告互动时，我们将收集相关信息。
					<br />无论您们是否为付费用户，您使用老板点评网站、应用程序、平台技术或其他“服务”时，我们将收集相关信息。例如，在您查看或点击“服务”内外的广告、搜索、加入和参与老板圈、参与投票、安装老板点评移动客户端、在我们的“服务”中分享文章以及通过我们的“服务”发布职位时，我们将收集相关信息。如果您已登录laobandianping.com、老板点评客户端或其他“服务”，或者您设备上的老板点评 cookie 确认了您，我们将您的使用信息及本政策第 1.8 节中所述的登录数据 (如 IP 地址) 与您的帐号绑定。即使您没有登录“服务”，我们也会记录访问我们“服务”的设备信息，包括 IP 地址。</p>	
				<h3 class="font26">1.6. Cookie</h3>	
				<p class="font24">我们利用 cookie 及类似技术来收集信息。
					<br />我们利用包括移动客户端识别码在内的 cookie 及类似技术，在不同的“服务”中识别您的身份、了解您在“服务”内外的兴趣、改进体验、提高安全性、衡量“服务”的使用和效果及提供广告。您可通过浏览器设置及其他工具控制 cookie。访问老板点评“服务”，即表示您同意我们在遵守本《企业用户隐私政策》的前提下，在您的浏览器和 HTML 格式的消息中放置 cookie 和网络信标。</p>	
				<h3 class="font26">1.7. 广告发布技术及网络信标</h3>	
				<p class="font24">我们利用广告发布技术和网络信标收集信息。我们提供多种选择让用户关闭针对性广告，包括在显示我们广告的第三方网站通过“广告选择”图标关闭广告。如果您不希望我们在第三方网站跟踪您的行为，您可关闭此功能。如果您不选择关闭，则表示您同意我们使用网络信标及其他广发布告技术。</p>	
				<h3 class="font26">1.8. 日志文件、IP 地址及您的电脑与移动设备的信息</h3>	
				<p class="font24">我们收集您访问我们“服务”时所用的设备及网络信息。
					<br />无论您们是否为付费用户，您点击超链接访问、离开“服务”，或浏览包含老板点评插件、cookie 或类似技术的第三方网站时，我们自动记录您的来源和去向网站的网址。当您在我们的“服务”上或通过其点击广告时，广告商也将接收到该页的网址。老板点评也接收以下信息: 您电脑或您访问网络所使用的代理服务器的互联网通信协议地址 (即 “IP 地址”)、您电脑的操作系统信息、您使用的网页浏览器类型、您的移动设备 (包括移动设备操作系统提供的识别码) 和移动操作系统 (如您正使用移动设备访问老板点评) 以及您的互联网提供商或移动运营商的名称。我们还会接收由第三方服务或您设置的具 GPS 功能的设备传送给我们的地理位置数据，并利用这些信息在老板点评移动客户端上为您显示本地信息 (例如: 您所在区域的职位发布)，同时也将这些信息用于预防欺诈和确保安全的目的。大部分移动设备可设置为不向我们发送实时定位数据，当然我们也将尊重您的设定。
					<br />我们的安卓客户端也就即将发送给我们的数据类型向您发送通知，例如: 位置信息。如果您接到通知后选择使用老板点评客户端，我们将用此信息帮助您注册或预览产品功能，如您附近的老板。如果您不选择成为“付费用户”，我们将删除此信息。</p>	
				<h3 class="font26">1.9. 其他</h3>	
				<p class="font24">我们锐意创新，力求不断改善老板点评“服务”，因此我们可通过新方式收集“服务”上的信息。
					<br />我们的“服务”具有富有活力和创新力，因此我们在不懈努力寻求改善“服务”的新方法。我们经常推出新功能，部分新功能可能收集新信息。此外，新的合作方或公司并购等可能会带来新功能，我们也将因此收集新的信息。如果我们开始收集新的个人信息以及大幅调整我们对个人数据的处理方式，我们将修改本《企业用户隐私政策》并依照第 4.2 节通知您。</p>	
				<h4 class="font30">2. 老板点评如何使用您们的信息</h4>	
				<h3 class="font26">2.1. 同意老板点评处理您们的信息</h3>	
				<p class="font26">在员工档案（包含阶段工作评价、离任报告等）中提供的信息您公司已获得员工本人的授权，且员工本人与您所代表的公司主体同意对他人可见，他人可在本《企业用户隐私政策》及《企业用户协议》允许范围内使用该信息（如只有离任状态的员工档案才能被检索到）。
					<br />您们向我们提供的信息可透露、或可让他人推断员工档案中未列出的资料，例如: 员工的头像或姓名可能会透露其性别。在创建或更新员工档案（包含阶段工作评价、离任报告）时向我们提供信息，即代表您们明示并自愿接受我们的《企业用户协议》条件与条款，并自主接受及同意我们在本《企业用户隐私政策》约束范围内处理您们的信息。向我们提供任何适用法律认定是“敏感”的信息完全是您们自愿行为。</p>	
				<h3 class="font26">2.2 老板点评消息</h3>	
				<p class="font24">老板点评通过站内消息、短信及其他方式与您们沟通。老板点评可向您们发送有关“服务”、安全性或其他与服务相关的消息。
					<br />我们通过站内通知、消息及其他“服务”提供的途径 (包括手机短信及推送通知) 与您们沟通。这些消息包括: (1) 欢迎和互动消息 - 通知您们如何最有效使用我们的“服务”、新功能、老板圈“法人”的动态和他们的行为等；(2) 服务消息 - 此类信息包括服务可用性、安全性及其他“服务”性能问题；(3) 推广类消息 - 此类信息包括电子邮件、手机短信及推送通知等，内容可包含老板点评合作伙伴的推广类信息。</p>	
				<h3 class="font26">2.3. 用户交流</h3>	
				<p class="font26">您通过我们的“服务”发布动态、职位及发送交流信息、邀请信息时，接收人可查看您的姓名（取决于您的设置）、公司名称信息。
					<br />您通过我们的“服务”发起的许多交流信息，将在标题处显示您的姓名（取决于您的设置）及公司名称。
					<br />我们利用自动扫描技术来保护您及其他“付费用户”。这些技术可检查职位、老板圈动态信息中的链接和其他内容，帮助我们确定并阻止恶意链接和恶意软件。</p>	
				<h3 class="font26">2.4. 服务开发；定制内容</h3>	
				<p class="font24">我们利用您个人信息及员工档案（包含阶段工作评价、离任报告）中的信息进行研发，并为您提供个性化、更相关和更实用的体验。
					<br />我们利用您们和其他付费用户提供的信息进行研发，改进“服务”，为您们及其他付费用户和访客提供更优质、更直观的体验，推动付费用户人数增长，提高付费用户使用“服务”的活跃度。
					<br />我们也为您们和其他“付费用户”的提供个性化的“服务”体验。我们也向您显示内容，如与您、您的行业或职业相关的新闻资讯和演示文稿。我们也利用“付费用户”的信息和内容，建议付费用户建立联系和促进交流，提供为付费用户量身定制的“服务”。</p>	
				<h3 class="font26">2.5. 与联营机构共享信息</h3>	
				<p class="font24">我们向老板点评旗下的公司和不同“服务”共享您及您所代表的公司提供的信息。
					<br />为合理提供“服务”，我们可向老板点评法人实体之外、作为您数据控制方的联营机构 (即受老板点评管理、管理老板点评、与老板点评共同管理的公司实体) 共享您的个人信息，您同意这种信息共享。我们会在内部综合不同“服务”的信息。</p>	
				<h3 class="font26">2.6. 背景调查</h3>	
				<p class="font24">我们的“服务”协助您们搜索其他职场人士的背景调查。
					<br />您们可在我们“服务”上的“背景调查”搜索“背调报告”（在老板点评中最后一份工作被标记为在职的人员，其背调报告不能被检索到），查询需提交人员姓名及身份证号，并且须确保您所代表的公司已获得被查人员的授权，老板点评认为您提交查询前已经执行授权工作，您及您所代表的公司对此负全部责任。</p>	
				<h3 class="font26">2.7. 老板圈</h3>	
				<p class="font24">老板圈仅允许认证通过的公司法人发布动态和评论其他公司法人发布的动态，您（法人）对自己在我们“服务”上发布的任何信息负责，此内容对他人可见。
					<br />若您参与在老板圈动态消息中分享内容或导入博客或其他内容，您应知晓，企业身份的“付费用户”可阅读、收集并使用您通过上述服务公开的所有信息。您向老板圈提交的信息，我们概不负责。您也可随时删除您在老板圈内发布的动态。但请注意，删除时他人或已复制并使用过您分享的信息。</p>	
				<h3 class="font26">2.8. 人才招聘</h3>	
				<p class="font24">我们向求职人员（在老板点评中被标记为离任状态的人员）提供职位检索服务，该服务可用于搜索、查看企业用户发布的职位信息。您及您公司其他企业身份用户可以选择修改、关闭、删除已发布的职位。</p>	
				<h3 class="font26">2.9. 遵循法律程序及其他信息公开规定</h3>	
				<p class="font26">若须遵循法律、法庭传唤或其他法律程序，或为执行我们的《企业用户协议》，老板点评可公开您们的信息。
					<br />若传讯程序或其他法律程序要求，我们可能需要公开您们的信息，以及您们上传的员工档案、阶段工作评价、离任报告等，或在老板点评确信在以下情况必须公开此类信息: (1) 调查、预防、或确实对疑似或实际非法活动采取措施或协助政府执法部门；(2) 执行《企业用户协议》，以调查并针对任何第三方主张或指控进行自我辩护，或保护我们“服务”的安全性或完整性；或 (3) 行使或保护老板点评、我们的“付费用户”、职员或他人的权利、财产或个人安全。除非法律禁止或相关请求为紧急情况，我们会根据判断，在适当的情况下尽力通知付费用户有关提供数据的法律请求。根据我们的原则，当确信请求超出范围、模糊或缺少合法委认，我们将质疑此类请求，但不承诺质疑每个请求。</p>	
				<h3 class="font26">2.10. 因管理权变更或出售老板点评公司而造成的信息公开</h3>	
				<p class="font26">若出现管理变更或部分或全部出售老板点评，我们可向第三方共享您们的信息。该第三方有权在符合本《企业用户隐私政策》条款的情况下使用该信息。
					<br />老板点评可在以下情形向第三方公开您的个人信息: 北京全联职信科技有限公司、子公司或部门出售时；公司或任何联营公司的管理变更时；或为上述情况做相应准备时。我们对其转让或出售资产的任何第三方均有权在本《企业用户隐私政策》条款范围内继续使用您们向我们提供的员工档案及其他信息。</p>	
				<h3 class="font26">2.11. 服务提供商</h3>	
				<p class="font26">我们可以雇用第三方协助提供“服务”。
					<br />老板点评可以雇用第三方公司和个人协助我们的“服务” (如维护、分析、审计、市场营销和开发)。这些第三方权限有限，只代表我们掌握您的部分信息以完成任务，并对老板点评承担责任不泄露或使用信息作其他用途。</p>	
				<h3 class="font26">2.12 在您所处国家/地区之外处理数据</h3>	
				<p class="font26">我们可以在您所处国家/地区之外处理您的信息。
					<br />我们可能会将您的信息传送至您所处国家/地区之外，在老板点评及其联营公司和服务提供商运营的所在地予以处理。</p>	
				<h4 class="font30">3. 您的选择与义务</h4>	
				<h3 class="font26">3.1. 编辑、更正或浏览个人信息、公司信息、员工档案</h3>	
				<p class="font24">您可编辑公司信息、员工档案、个人信息等，在您所代表的公司授予您的权限范围内随时更改老板点评信息。您也可要求我们提供与您帐号相关的其他信息。
					在您所代表的公司授予您的权限范围内，您有权: 编辑、修改、更正、浏览老板点评控制的与公司主体、员工档案相关的信息； </p>	
				<h3 class="font26">3.2. 数据保留</h3>	
				<p class="font26">您的帐号服务到期后或在需要情况下我们都将保留您的信息。比如，若我们有必要遵守相关法律义务、遵循法规要求、解决纠纷、防止欺诈或滥用，或为执行本协议，即使您的账号服务到期，老板点评仍可能保留全部信息。
					<br />在您的帐号活跃期内，或需要向您提供服务期内，老板点评都将保留您的信息。若我们有必要履行相关法律义务、遵循法规要求、解决“付费用户”纠纷、防止欺诈或滥用，或为执行本《企业用户隐私政策》及《企业用户协议》，即使您的帐号服务到期，我们仍可能保留全部信息。</p>	
				<h4 class="font30">4. 重要信息</h4>	
				<h3 class="font26">4.1. 最低年龄</h3>	
				<p class="font26">您必须达到老板点评的付费用户最低年龄要求才能创建帐号。
					<br />如《企业用户协议》第 2.1 节所述，只有达到最低年龄要求的人才能使用老板点评。</p>	
				<h3 class="font26">4.2. 本《企业用户隐私政策》之更改</h3>	
				<p class="font24">本《企业用户隐私政策》发生更改时，您们将获得通知。
					<br />老板点评可能不定期更改本《企业用户隐私政策》。当涉及您们的信息处理方式或本《企业用户隐私政策》作出重大改变时，我们将通过“服务”显示通知或通过其他途径 (如手机短信) 通知您们。请您仔细阅读更改内容。若您同意条款更改，则请继续使用我们的“服务”。若您反对任何条款更改，不愿继续使用我们的“服务”，您可停止使用。除非特别说明，否则现行《企业用户隐私政策》适用于我们持有的与您和您帐号有关的所有信息。若更改通知向您们发送或通过“服务”发布后，您继续使用我们的“服务”，即代表您们同意所有更改条款或措施。</p>	
				<h3 class="font26">4.3. 安全措施</h3>	
				<p class="font26">我们重视隐私及安全性，除现有的移动设备 SSL 浏览方式外，老板点评还提供 HTTPS 网站浏览方式。互联网并非绝对安全的环境，所以请为帐号选择强密码。
					<br />老板点评已使用符合业界标准的安全防护措施保护您们提供的信息，访问您的“服务”数据时需输入密码，且在您的浏览器与“服务”之间交换数据时受 SSL 加密保护。我们同时对 laobandianping.com 网站提供 https 安全浏览方式。为保护您们储存在我们服务器的数据，老板点评定期监控系统安全，防止系统出现漏洞或遭受攻击。不过，因互联网环境并非百分之百安全，我们无法确保或担保您们发送给我们的任何信息的安全性。在我们的物理、技术、或管理防护设施遭到破坏时，我们不保证信息不被查看、公开、替换、或毁坏。保护您的登录信息为您的责任。请使用复杂密码，协助我们保证您的帐号安全。</p>	
				<h3 class="font26">联系我们</h3>	
				<p class="font24">如果您想向我们发送通知或送达法律文件，请联系我们:
				<br />在线地址:<br />https://laobandianping.com
				<br />或通过邮寄:北京市朝阳区广渠东路3号中水电国际大厦1105</p>	
		    </div>
		</div>
		{include file="-public/resources__footer" /}
	</body>
	<script>
		$(function(){
			$(".title span").click(function(){
				$(this).addClass("big").siblings().removeClass("big");
				if($(this).index()==0){
					$(".content-agreement").hide().next(".content-privacy").show();
				}else{
					$(".content-agreement").show().next(".content-privacy").hide();
				}
			})
		})
	</script>
</html>
