<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>快速登录</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
	<!--头部-->
	<div id="pageHead">
		<svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3073"><path d="M738.145103 170.248828 663.234207 95.337931 313.114483 445.457655 312.937931 445.298759 238.768552 519.450483 238.945103 519.627034 238.768552 519.785931 313.679448 594.696828 313.838345 594.537931 658.996966 939.696552 733.166345 865.509517 388.007724 520.368552Z" p-id="3074"></path></svg>
		<b class="font34">快速登录</b>
	</div>
	<div class="wrapper login login-bg">
		<div class="inner">
			<img class="fastLogin" src="{$Think.config.resources_site_root}/mobile/img/logo1.png">
			<form class="boss-form" id="login-form" method="post">
				<div class="marginb-32">
					<input class="inp phone" id="num" name="MobilePhone" type="text" placeholder="请输入您的手机号"  value="{$Think.get.phone}">
				</div>
				<div class="marginb-50 yzm">
					<input class="fl inp" id="yzm" name="ValidationCode" type="number" placeholder="请输入短信验证码">
					<input class="fl get-yzm" type="button" value="获取验证码">
				</div>
				<div class="btn marginb-40">
					<button type="button" id="login">快速登录</button>
					<p class="agree" style="margin-top:0.333rem">
						我已同意并阅读
						<a href="/m/BossComments/CompanyAgreementAndPrivacy">《企业用户协议&隐私政策》</a>
					</p>
				</div>
			</form>	

		</div>
	</div>
	<!-- 错误提示 -->
	<div class="error" id="error">手机号不能为空</div>
<script src="/api/appbase/WebBridge/LoadAccountInfo"></script>
{include file="-public/resources__footer" /}
<script type="text/javascript">
	$(function(){
		function getUrlParam(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null) return unescape(r[2]);return null;
		}
		$('#login').bind('click',function(){
			var num=$('#num').val();
			var pass=$('#pass').val();
			var pattern = /(?:\(?[0\+]?\d{1,3}\)?)[\s-]?(?:0|\d{1,4})[\s-]?(?:(?:13\d{9})|(?:\d{7,8}))/;
			if(num==''){
				$('#error').show().text('手机号码格式错误');
				setTimeout(function(){
					$('#error').hide();
				},2000);	
			}else if(num.length !=11){
				$('#error').show().text('手机号码格式错误');
				setTimeout(function(){
					$('#error').hide();
				},2000);
			} else if(!pattern.test(num)){
				$('#error').show().text('手机号码格式错误');
				setTimeout(function(){
					$('#error').hide();
				},2000);
			}else if(pass==''){
				$('#error').show().text('请输入密码');
				setTimeout(function(){
					$('#error').hide();
				},2000);					
			}else{
				var loginUrl=AppEnvironment.apiRoot+'/appbase/Account/signIn';
				$.ajax({
					type:'post',
					url:loginUrl,
					data:$('#login-form').serialize(),
					success:function(data){
						console.log(data);
						if(data.SignStatus==109){
							$('#error').show().text('用户账号或密码错误');
							setTimeout(function(){
								$('#error').hide();
							},2000);	
						}else{
                            /*上次登录身份是个人身份*/
                            if(data.Account.MultipleProfiles ==1 ||  data.Account.UserProfile.CurrentProfileType==1  ){
                                window.location.href="/m/Account/share";
                                return false;
                            }
							/*是否有企业身份*/
							var comUrl=AppEnvironment.apiRoot+'/workplace/User/myRoles';
							$.get(comUrl,function(data){
								var inviteCode=getUrlParam('InviteCode');
								if(inviteCode==null){
									inviteCode='';
								}
								if(data==""){
									window.location.href="/m/EnterpriseService/OpenService?InviteCode="+inviteCode;
								}else{
									window.location.href="/m/Account/select?InviteCode="+inviteCode;
								}
							})
						}
						
					},
					error:function(data){
						console.log(data);
					}
				})
			}
		})
	})
</script>
</body>
</html>