<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>金币说明</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
	<div class="about jinbi">
		<div class="about-inner">
			<img class="jinbi-logo" src="{$Think.config.resources_site_root}/mobile/img/jinbi.png">
			<section class="text font24">
				<ul class="odd">
					<li class="font30">金币的使用范围：</li>
					<li>可用于年费续费和购买背景调查，1金币=1元。</li>
					<li class="font30">谁可以用：</li>
					<li>公司所授权的账号均可使用。</li>
				</ul>
			</section>
			<section class="text font24 bg-color">
				<ul>
					<li class="font28">金币的获取途径：</li>
					<li>
						<span>1.</span><span>活动期间（产品上线前三个月）开通老板点评企业服务即赠送金币。</span></li>
					<li>
						<span>2.</span><span>您所创建的离任报告和阶段评价每被其他公司购买时，您即可获得收益：离任报告15金币，阶段评价10金币。</span>
					</li>
					<li>
						<span>3.</span>
						<span>邀请其它企业开通老板点评服务，可获得1000金币的奖励。</span>
					</li>
					<li>
						<span>4.</span><span>通过其他活动获取，详情请关注： www.laobandianpin.com。</span>
					</li>
				</ul>
			</section>
			<section class="text font24 other">
				<span  class="font30">其它说明：</span><br>
				
				1.不可转赠于其它企业或个人。<br>
				2.不可兑现。<br>
				3.最终解释权归北京全联职信科技有限公司所有。
			</section>
		</div>
	</div>
	{include file="-public/resources__footer" /}
</body>
</html>