<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>常见问题</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
	<div class="problem">
		<div class="about-inner font28">
			<ul>
				<li>
					<p class="introdu">常见问题</p>
					<strong>Q1.老板点评是什么？</strong><br>
					老板点评是一款建立员工职业诚信体系的互联网平台。通过老板或老板授权的高管对企业在职员工进行工作评价、对离职员工出具离任报告和对即将录用的员工进行背景调查，并且在企业老板之间相互查阅知会，从而达到“为职业诚信者背书、让职业失信者受到约束”的作用。<br><br>

					<strong>Q2.老板点评能给企业带来什么好处？</strong><br>
					1.提升现有员工效率：通过老板点评评价员工，创建员工职场信用记录，让员工对职业更加敬畏，从而提升现有员工效率。<br>
					2.评价收益：员工离职后，您的阶段评价和离任报告每被其他企业查看，都可以获得金币收益！<br>
					3.拓展人脉：老板圈功能只允许通过认证的法人发布动态和互动，对扩展老板人脉很有帮助。<br><br>

					<strong>Q3.产品包含哪些功能？</strong><br>
					主要功能包括员工档案、阶段工作评价、离任报告、老板圈、背景调查、招聘等。<br><br>

					<strong>Q4.员工档案，阶段评价和离任报告有什么联系，该如何操作？</strong><br>
					员工档案用来创建员工的基本信息；<br>
					阶段评价是对员工阶段性的工作进行评价；<br>
					离任报告是在员工离任环节进行的综合评价；<br>
					操作方面：<br>
					建立员工档案是进行阶段评价和离任报告的前提条件。<br>
					创建员工档案分为在职员工和离职员工档案，填写员工相关信息后可继续进行阶段评价；<br>
					阶段评价分为Q1，Q2，Q3，Q4，半年，全年各个阶段进行评价，具体对某个阶段进行工作能力，工作态度，工作业绩打分，输入工作评语（支持语音录入）；<br>
					离任报告评价内容包括离职原因，在职期间工作评价，以及离职后工作交接情况，离职评语（支持语音录入）等。<br><br>

					<strong>Q5.背景调查查什么？</strong><br>
					背景调查查询的是员工的历任雇主对其的评价（包括阶段评价和离任报告），以及犯罪记录，信贷信用分等。<br><br>

					<strong>Q6.招聘怎么使用？</strong><br>
					公司法人或法人授权的账号可以在招聘模块中免费发布职位。<br><br>

					<strong>Q7.个人用户怎么使用老板点评？</strong><br>
					个人用户可通过老板点评APP或网站免费注册个人账户，通过账户查看历任雇主对其的评价，同时个人用户也可以邀请企业开通老板点评服务，邀请成功即可获得400元现金奖励。<br><br>

					<strong>Q8.邀请注册有什么收益？</strong><br>
					企业每邀请一位老板开户，可获得1000金币奖励；<br>
					个人每邀请一位老板开户，可获得400现金奖励。<br><br>

					<strong>Q9.员工信息安全能否得到保障？</strong><br>
					我们不主张在职员工“骑驴找马”，我们平台规则是：只有被标记为离职状态的员工才能在背景调查被查询，以及在个人账户求职，处于在职状态的员工在背景调查中里是查询不到的，所以您不用担心自己公司人员信息的安全问题。<br><br>

					<strong>Q10.是否涉及员工隐私问题？</strong><br>
					您上传的信息所有权和控制权归您所有。涉及到一些员工的隐私信息时，您需要获得员工本人的授权才能够上传档案，否则引起的纠纷和争议得由您承担。<br>
				</li>
				<li>
					<p class="want">我想成为代理</p>
					<strong>1.您可以拨打代理热线：</strong><br>
					400-999-2070<br><br>

					<strong>2.您也可以直接点击老板点评官网：</strong><br>
					www.laobandianping.com 导航栏 加盟代理<br>
				</li>
			</ul>
			
		</div>

	</div>
	{include file="-public/resources__footer" /}
</body>
</html>