<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我们重视您的隐私</title>
	</head>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
	<style type="text/css">
		.font24{font-size:0.3333rem!important;}
		.font26{font-size:0.3611rem!important;}
		.font30{font-size:0.4167rem!important;}
		.font34{font-size:0.4722rem!important;}
		.content{width: 90%;margin: 0 auto;}
		ul{margin: 0; padding: 0; list-style: none;}
		.li1{float: left;}
		li{border: 1px solid;text-align: center;}
	</style>
	<body>
		<div class="content">
			<h5 class="font34">我们重视您的隐私</h5>
			<p class="font24">“会员为先”是老板点评的根本理念，公司的所有决策，包括如何收集并尊重您操作上传的个人信息，都基于此理念。
			<br />我们尽可能简洁明了地撰写了以下政策全文，目的是使您——我们的会员——始终能获悉最新政策内容，同时了解到老板点评尊重您的隐私。</p>
			<h3 class="font26">• 引言
				<br />•	信息收集
				<br />•	使用与分享个人信息
				<br />•	您的选择与义务
				<br />•	重要信息</h3>
			<h4 class="font30">引言</h4>				
			<p class="font24">老板点评是专业的职业征信平台。
				<br />老板点评致力于引领塑造诚信的职场环境，依托于真实的点评数据，有效的为企业管理者在员工聘用、员工管理、员工培养方面提供服务和支持；同时有效的帮助职场人士树立自身口碑，建立职场诚信档案。
				<br />我们使用业界标准的防护措施保护您操作上传的个人信息。
				<br />我们仅在您同意或法律要求的情况下共享您操作上传的信息，并且我们会通知您有关本《个人用户隐私政策》内容的所有重大改动。
				<br />我们致力于维持您对我们的信任，恪守以下原则，保护您的隐私:
				<br />•	我们保护您操作上传的个人信息，仅在以下情况向第三方提供: (1) 取得您的同意后；(2) 为执行您的指示而必须提供时；(3) 为向您提供老板点评功能而有必要提供时；(4) 我们有理由相信法律法规、传票或其他法律程序要求提供时；或 (5) 为执行老板点评的《个人用户协议》或保护老板点评、我们的“会员”、“访客”及公众的权利、财产和安全而必须提供时。
				<br />•	我们按业界标准采取了相应的安全保护措施来保护您操作上传的信息。
				<br />《个人用户隐私政策》适用于laobandianping.com 和老板点评移动客户端、和所有其他老板点评网页、应用程序和其他产品和服务 (统称为“服务”)。我们可不定期修改本《个人用户隐私政策》，且当内容发生重大改变时，我们将通过“服务”或其他途径通知您，方便您在继续使用我们的“服务”前有机会阅读修订内容。若反对任何更改，您可停用帐号。在我们发布或发出本《个人用户隐私政策》的修订通知后，如您继续使用我们的“服务”，即代表您同意修订内容。</p>
			<h4 class="font30">1. 老板点评收集哪些信息</h4>
			<h3 class="font26">1.1. 数据控制方</h3>
			<p class="font24">我们的《个人用户隐私政策》适用于所有“会员”和“来访者”。在您使用我们的“服务”时，我们会收集信息，为您提供个性化的相关体验。
				<br />对于向我们提供信息、将信息显示于我们的“服务”或在本《个人用户隐私政策》与《个人用户协议》允许范围内通过其他途径使用信息，若您有任何疑虑，请不要注册、访问我们的网站、应用程序或使用我们的“服务”。
				<br />我们通过以下方式收集您操作上传的个人信息:</p>
			<h3 class="font26"1.2. 注册></h3>
			<p class="font24">您在老板点评创建帐号时，我们将收集您的姓名、手机号和密码等信息。
				<br />您必须至少向我们提供手机号码、创建密码，并同意我们的《个人用户协议》和我们处理您操作上传的信息时所依据的《个人用户隐私政策》，才能在老板点评上创建帐号。在注册认证过程中，您需要提供其他信息 (例如:身份证号等) 完善账户。您理解，创建帐号后，我们和其他人能够通过您的老板点评资料识别您的身份。</p>
			<h3 class="font26">1.3. 个人资料或简历信息</h3>
			<p class="font24">在您填写个人资料或简历信息时，我们会收集信息。
				<br />创建帐号后，您可决定是否在老板点评个人资料或简历信息中提供工作经历、教育经历、联系方式等的额外信息。请不要提供您不希望公开的信息。依照本《个人用户隐私政策》和我们的《个人用户协议》，我们可能使用并分享您在老板点评中提供的信息。</p>
			<h3 class="font26">1.4. 客户服务</h3>
			<p class="font24">您联系我们获取客服支持时，我们将收集信息。
				<br />当您联系我们的客户支持服务时，我们可能需要访问您在“服务”的其他发布内容并收集所需信息，以便将您的问题分类、处理，并在适当情况下，调查是否有违反老板点评《个人用户协议》或本《个人用户隐私政策》的行为。我们还使用此信息跟踪潜在问题和趋势，使回复内容更加个性化，向您提供更优质的服务。</p>
			<h3 class="font26">1.5. 老板点评网站及应用程序的使用</h3>
			<p class="font24">您访问我们的“服务”、使用移动客户端及在“服务”内外与广告互动时，我们将收集相关信息。
				<br />无论您是否会员，您使用老板点评网站、应用程序、平台技术或其他“服务”时，我们将收集相关信息。例如，在您查看或点击“服务”内外的广告、搜索、参与投票、安装老板点评移动客户端、在我们的“服务”中分享文章以及通过我们的“服务”应聘职位时，我们将收集相关信息。如果您已登录laobandianping.com、老板点评客户端或其他“服务”，或者您设备上的老板点评 cookie 确认了您，我们将您的使用信息及本政策第 1.8 节中所述的登录数据 (如 IP 地址) 与您的帐号绑定。即使您没有登录“服务”，我们也会记录访问我们“服务”的设备信息，包括 IP 地址。</p>
			<h3 class="font26">1.6. Cookie</h3>
			<p class="font24">我们利用 cookie 及类似技术来收集信息。
				<br />我们利用包括移动客户端识别码在内的 cookie 及类似技术，在不同的“服务”中识别您的身份、了解您在“服务”内外的兴趣、改进体验、提高安全性、衡量“服务”的使用和效果及提供广告。您可通过浏览器设置及其他工具控制 cookie。访问老板点评“服务”，即表示您同意我们在遵守本《个人用户隐私政策》的前提下，在您的浏览器和 HTML 格式的消息中放置 cookie 和网络信标。</p>
			<h3 class="font26">1.7. 广告发布技术及网络信标</h3>
			<p class="font24">我们利用广告发布技术和网络信标收集信息。我们提供多种选择让用户关闭针对性广告，包括在显示我们广告的第三方网站通过“广告选择”图标关闭广告。如果您不希望我们在第三方网站跟踪您的行为，您可关闭此功能。如果您不选择关闭，则表示您同意我们使用网络信标及其他广发布告技术。</p>
			<h3 class="font26">1.8. 日志文件、IP 地址及您的电脑与移动设备的信息</h3>
			<p class="font24">我们收集您访问我们“服务”时所用的设备及网络信息。
				<br />无论您是否会员，您点击超链接访问、离开“服务”，或浏览包含老板点评插件、cookie 或类似技术的第三方网站时，我们自动记录您的来源和去向网站的网址。当您在我们的“服务”上或通过其点击广告时，广告商也将接收到该页的网址。老板点评也接收以下信息: 您电脑或您访问网络所使用的代理服务器的互联网通信协议地址 (即 “IP 地址”)、您电脑的操作系统信息、您使用的网页浏览器类型、您的移动设备 (包括移动设备操作系统提供的识别码) 和移动操作系统 (如您正使用移动设备访问老板点评) 以及您的互联网提供商或移动运营商的名称。我们还会接收由第三方服务或您设置的具 GPS 功能的设备传送给我们的地理位置数据，并利用这些信息在老板点评移动客户端上为您显示本地信息 (例如: 您所在区域的职位)，同时也将这些信息用于预防欺诈和确保安全的目的。大部分移动设备可设置为不向我们发送实时定位数据，当然我们也将尊重您的设定。
				<br />我们的安卓客户端也就即将发送给我们的数据类型向您发送通知，例如: 位置信息。如果您接到通知后选择使用老板点评客户端，我们将用此信息帮助您注册或预览产品功能，如您附近的职位。如果您不选择成为“会员”，我们将删除此信息。</p>
			<h3 class="font26">1.9. 其他</h3>
			<p class="font24">我们锐意创新，力求不断改善老板点评“服务”，因此我们可通过新方式收集“服务”上的信息。
				<br />我们的“服务”具有富有活力和创新力，因此我们在不懈努力寻求改善“服务”的新方法。我们经常推出新功能，部分新功能可能收集新信息。此外，新的合作方或公司并购等可能会带来新功能，我们也将因此收集新的信息。如果我们开始收集新的个人信息以及大幅调整我们对个人数据的处理方式，我们将修改本《个人用户隐私政策》并依照第 4.2 节通知您。</p>
			<h4 class="font30">2. 老板点评如何使用您操作上传的信息</h4>
			<h3 class="font26">2.1. 同意老板点评处理您操作上传的信息</h3>
			<p class="font24">您同意您操作上传的信息对他人可见，他人可在本《个人用户隐私政策》及《个人用户协议》允许范围内使用该信息。
				<br />您向我们提供的信息可透露、或可让他人推断资料或简历中未列出的信息，例如:头像或姓名可能会透露其性别。在创建或更新个人资料、简历时向我们提供信息，即代表您明示并自愿接受我们的《个人用户协议》条件与条款，并自主接受及同意我们在本《个人用户隐私政策》约束范围内处理您操作上传的信息。向我们提供任何适用法律认定是“敏感”的信息完全是您自愿行为。</p>
			<h3 class="font26">2.2 老板点评消息</h3>
			<p class="font24">老板点评通过站内消息、短信及其他方式与您沟通。老板点评可向您发送有关“服务”、安全性或其他与服务相关的消息。
				<br />我们通过站内通知、消息及其他“服务”提供的途径 (包括手机短信及推送通知) 与您沟通。这些消息包括: (1) 欢迎和互动消息 - 通知您如何最有效使用我们的“服务”、新功能等；(2) 服务消息 - 此类信息包括服务可用性、安全性及其他“服务”性能问题；(3) 推广类消息 - 此类信息包括电子邮件、手机短信及推送通知等，内容可包含老板点评合作伙伴的推广类信息。</p>
			<h3 class="font26">2.3. 用户交流</h3>
			<p class="font24">您通过我们的“服务”发布动态及发送交流信息时，接收人可查看您的姓名、公司名称信息。
				<br />您通过我们的“服务”发起的许多交流信息，将在标题处显示您的姓名及公司名称。
				<br />我们利用自动扫描技术来保护您及其他“会员”。这些技术可检查职位、简历信息中的链接和其他内容，帮助我们确定并阻止恶意链接和恶意软件。</p>
			<h3 class="font26">2.4. 服务开发；定制内容</h3>
			<p class="font26">我们利用您个人信息及简历中的信息进行研发，并为您提供个性化、更相关和更实用的体验。
				<br />我们利用您和其他会员提供的信息进行研发，改进“服务”，为您及其他会员和访客提供更优质、更直观的体验，推动会员人数增长，提高会员使用“服务”的活跃度。
				<br />我们也为您和其他“会员”的提供个性化的“服务”体验。我们也向您显示内容，如与您、您的行业或职业相关的新闻资讯和演示文稿。我们也利用“会员”的信息和内容，建议会员建立联系和促进交流，提供为会员量身定制的“服务”。</p>
			<h3 class="font26">2.5. 与联营机构共享信息</h3>
			<p class="font24">我们向老板点评旗下的公司和不同“服务”共享您提供的信息。
				<br />为合理提供“服务”，我们可向老板点评法人实体之外、作为您数据控制方的联营机构 (即受老板点评管理、管理老板点评、与老板点评共同管理的公司实体) 共享您操作上传的个人信息，您同意这种信息共享。我们会在内部综合不同“服务”的信息。</p>
			<h3 class="font26">2.6. 求职</h3>
			<p class="font24">我们向企业提供职位发布、简历检索等服务，该服务可用于搜索、查看个人用户操作上传的信息。您可以选择修改、关闭、删除已创建的简历信息。</p>
			<h3 class="font26">2.7. 遵循法律程序及其他信息公开规定</h3>
			<p class="font24">若须遵循法律、法庭传唤或其他法律程序，或为执行我们的《个人用户协议》，老板点评可公开您操作上传的信息。
				<br />若传讯程序或其他法律程序要求，我们可能需要公开您操作上传的信息，或在老板点评确信在以下情况必须公开此类信息: (1) 调查、预防、或确实对疑似或实际非法活动采取措施或协助政府执法部门；(2) 执行《个人用户协议》，以调查并针对任何第三方主张或指控进行自我辩护，或保护我们“服务”的安全性或完整性；或 (3) 行使或保护老板点评、我们的“会员”、职员或他人的权利、财产或个人安全。除非法律禁止或相关请求为紧急情况，我们会根据判断，在适当的情况下尽力通知会员有关提供个人数据的法律请求。根据我们的原则，当确信请求超出范围、模糊或缺少合法委认，我们将质疑此类请求，但不承诺质疑每个请求。</p>
			<h3 class="font26">2.8. 因管理权变更或出售老板点评公司而造成的信息公开</h3>
			<p class="font24">若出现管理变更或部分或全部出售老板点评，我们可向第三方共享您操作上传的信息。该第三方有权在符合本《个人用户隐私政策》条款的情况下使用该信息。
				<br />老板点评可在以下情形向第三方公开您操作上传的个人信息: 北京全联职信科技有限公司、子公司或部门出售时；公司或任何联营公司的管理变更时；或为上述情况做相应准备时。我们对其转让或出售资产的任何第三方均有权在本《个人用户隐私政策》条款范围内继续使用您向我们提供的个人资料、简历及其他信息。</p>
			<h3 class="font26">2.9. 服务提供商</h3>
			<p class="font24">我们可以雇用第三方协助提供“服务”。
				<br />老板点评可以雇用第三方公司和个人协助我们的“服务” (如维护、分析、审计、市场营销和开发)。这些第三方权限有限，只代表我们掌握您的部分信息以完成任务，并对老板点评承担责任不泄露或使用信息作其他用途。</p>
			<h3 class="font26">2.10 在您所处国家/地区之外处理数据</h3>
			<p class="font24">我们可以在您所处国家/地区之外处理您操作上传的信息。
				<br />我们可能会将您操作上传的信息传送至您所处国家/地区之外，在老板点评及其联营公司和服务提供商运营的所在地予以处理。</p>
			<h4 class="font30">3. 您的选择与义务</h4>
			<h3 class="font26">3.1. 编辑、更正或浏览个人信息、简历等</h3>
			<p class="font24">您可编辑个人信息、简历等，在您的权限范围内随时更改老板点评信息。您也可要求我们提供与您帐号相关的其他信息
				<br />您有权: 编辑、修改、更正、浏览老板点评控制的与您相关的信息； </p>
			<h3 class="font26">3.2. 数据保留</h3>
			<p class="font26">您的帐号到期后或在需要情况下我们都将保留您操作上传的信息。比如，若我们有必要遵守相关法律义务、遵循法规要求、解决纠纷、防止欺诈或滥用，或为执行本协议，即使您的账号服务到期，老板点评仍可能保留全部信息。
				<br />在您的帐号活跃期内，或需要向您提供服务期内，老板点评都将保留您操作上传的信息。若我们有必要履行相关法律义务、遵循法规要求、解决“会员”纠纷、防止欺诈或滥用，或为执行本《个人用户隐私政策》及《个人用户协议》，即使您的帐号服务到期，我们仍可能保留全部信息。</p>
			<h4 class="font30">4. 重要信息</h4>
			<h3 class="font26">4.1. 最低年龄</h3>
			<p class="font26">您必须达到老板点评的会员最低年龄要求才能创建帐号。
				<br />如《个人用户协议》第 2.1 节所述，只有达到最低年龄要求的人才能使用老板点评。</p>
			<h3 class="font26">4.2. 本《个人用户隐私政策》之更改</h3>
			<p class="font24">本《个人用户隐私政策》发生更改时，您将获得通知。
				<br />老板点评可能不定期更改本《个人用户隐私政策》。当涉及您的信息处理方式或本《个人用户隐私政策》作出重大改变时，我们将通过“服务”显示通知或通过其他途径 (如手机短信) 通知您。请您仔细阅读更改内容。若您同意条款更改，则请继续使用我们的“服务”。若您反对任何条款更改，不愿继续使用我们的“服务”，您可停止使用。除非特别说明，否则现行《个人用户隐私政策》适用于我们持有的与您和您帐号有关的所有信息。若更改通知向您发送或通过“服务”发布后，您继续使用我们的“服务”，即代表您同意所有更改条款或措施。</p>
			<h3 class="font26">4.3. 安全措施</h3>
			<p class="font24">我们重视隐私及安全性，除现有的移动设备 SSL 浏览方式外，老板点评还提供 HTTPS 网站浏览方式。互联网并非绝对安全的环境，所以请为帐号选择强密码。
				<br />老板点评已使用符合业界标准的安全防护措施保护您提供的信息，访问您的“服务”数据时需输入密码，且在您的浏览器与“服务”之间交换数据时受 SSL 加密保护。我们同时对 laobandianping.com 网站提供 https 安全浏览方式。为保护您储存在我们服务器的数据，老板点评定期监控系统安全，防止系统出现漏洞或遭受攻击。不过，因互联网环境并非百分之百安全，我们无法确保或担保您发送给我们的任何信息的安全性。在我们的物理、技术、或管理防护设施遭到破坏时，我们不保证信息不被查看、公开、替换、或毁坏。保护您的登录信息为您的责任。请使用复杂密码，协助我们保证您的帐号安全。</p>
			<h3 class="font26">联系我们</h3>
			<p class="font24">如果您想向我们发送通知或送达法律文件，请联系我们:
				<br />在线地址:<br />https://laobandianping.com/about
				<br />或通过邮寄:北京市朝阳区广渠东路3号中水电国际大厦1105</p>
		</div>
		{include file="-public/resources__footer" /}
	</body>
</html>
