<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>职场信用分</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
<div class="com1-bg">
	<!--<div class="grade_title">职场信用分</div>-->
	<div class="Grade_content">
		<div class="grade">
			<div class="content_title img1">
				<!--<img src="{$Think.config.resources_site_root}/pc/img/ic_credit.png">-->
				什么是职场信用分
			</div>
			<div class="content_desc">
				老板点评携手华道征信，全方位分析人员行为习惯偏好，约谈之前即可掌握候选人意向程度；通过各招聘方反馈及行为模式推论爽约概率；协助 HR 针对新入职员
工主要诉求开展团建，增强企业粘着性。信用记录侧面展现求职者的品质，高分求职者更易被企业看中。
			</div>
		</div>
		<div class="grade">
			<div class="content_title img2">
				<!--<img src="{$Think.config.resources_site_root}/pc/img/ic_dimension.png">-->
				维度
			</div>
			<div class="content_desc">
				身份工作履历信息：包括报告人身份信息以及从业以来的公司及年限信息<br>
				消费历史：包括报告人的历史购物信息和退换货信息<br>
				商旅信息：包括报告人飞行、住宿等出行商旅信息<br>
				历史客户信息：包括报告人服务过的客户公司情况信息<br>
				信用历史信息：包括报告人的历史授信额度信息和历史还款信息
			</div>
		</div>
		<div class="grade">
			<div class="content_title img3">
				<!--<img src="{$Think.config.resources_site_root}/pc/img/ic_explin.png">-->
				分值说明	
			</div>
			<div class="content_desc">
				LOW-541 信用极差<br>
				541-585 信用差<br>
				585-605 信用一般<br>
				605-638 信用好<br>
				638-HIGH 信用极好
			</div>
		</div>
	</div>
</div>
	{include file="-public/resources__footer" /}
</body>
</html>
