{extend name="_public:layout" /}

{block name="page-content"}
<div class="page-header">
    <button style="background: #00b3ee;border-radius: 7px;width:130px;height: 45px;border:none;outline: none" id="addActivity"><font color="#f0f8ff">新建</font></button>
</div>


<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">字典表</h3>
        <div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                <tr > <!- 表格总宽度=12 ->
                    <th class="center col-xs-1">编号ID</th>
                    <th class="center col-xs-1">字典名称</th>
                    <th class="center col-xs-1">编码</th>
                    <th class="center col-xs-1">是否开启</th>
                    <th class="center col-xs-2">时间</th> <!- 此列自动适应，宽度=12-(其他列宽度之和) ->
                    <th class="center col-xs-1">操作</th>
                </tr>
                </thead>
                {foreach($dictionaryList  as $key=> $item)}
                <tbody>
                <tr class="center" >
                    <td>{$item['DictionaryId']}</td>
                    <td>{$item['Name']}</td>
                    <td>{$item['Code']}</td>
                    <td>{if($item['Forbidden']==0)}
                             已开启
                        {else/}
                             已关闭
                        {/if}
                    </td>
                    <td>{:toLocalDateTime($item['CreatedTime'],'Y-m-d H:i:s')}</td>
                    <td><a href="/DictionaryEntry/categoryList?Code={$item['Code']}&parentName={$item['Name']}&DictionaryId={$item['DictionaryId']}">查看分类</a> | <a href="/DictionaryEntry/updateDictionary?DictionaryId={$item['DictionaryId']}">修改</a>
                        | <a href="#" class="delete" pid="{$item['DictionaryId']}" >删除</a></td>
                </tr>
                </tbody>
                {/foreach}
            </table>
            <div class="row">
                <div class="col-xs-6">
                    <div class="dataTables_info">Total:{$TotalCount}</div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {$pageHtml}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="resources-footer"}

<script>
    jQuery(function($) {
        $('#addActivity').click(function(){
            //alert(1111)
            window.location.href = 'addDictionary';
        })
        //删除字典项
        $('.delete').click(function(){
            var _this = $(this);
            DictionaryId = _this.attr('pid');
            $.get('deleteDictionary',{DictionaryId:DictionaryId},function(msg){
                if(msg==1){
                    alert("有子分类，不能删除")
                }else{
                    _this.parents('tr').remove();
                }
            })
        })


    })
</script>
{/block}

