{extend name="_public:layout" /}

{block name="page-content"}

<div class="row">
    <div class="col-xs-10">
        <div class="widget-box ui-sortable-handle">
            <!-- #section:custom/widget-box.options.collapsed -->
            <div class="widget-header widget-header-small">
                <h6 class="widget-title">
                    口碑 - 点评搜索
                </h6>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <!--搜索-->
            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        <form id="form-search" method="get" class="form-inline" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10">
                                    <div>
                                        <div class="form-group col-xs-12 col-sm-8">
                                            <label>提交时间：</label>
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="MinSignedUpTime" name="MinSignedUpTime" class="date-picker hasDatepicker" value="{$Think.get.MinSignedUpTime}">
                                                <span class="input-group-addon">
                                                    <i class="ace-icon fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <span>至</span>
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="MaxSignedUpTime" name="MaxSignedUpTime" class="date-picker hasDatepicker" value="{$Think.get.MaxSignedUpTime}">
                                                <span class="input-group-addon">
                                                    <i class="ace-icon fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group col-xs-12 col-sm-4">
                                            <label >企业名称（简称）：</label>
                                            <input type="text" name="CompanyName" value="{$Think.get.CompanyName}">
                                        </div>
                                    </div>
                                    <div>
                                     <!--   <br/>
                                        <div class="form-group col-xs-12 col-sm-8">
                                            <label >手机号：</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="text"  name="MobilePhone" value="">
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <button class="btn btn-app btn-purple btn-sm pull-right">
                                        <i class="ace-icon fa fa-search bigger-200"></i>
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--搜索-->
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-10">
        <h3 class="header smaller lighter blue">企业列表</h3>
        <div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                <tr class="center"> <!- 表格总宽度=12 ->
                    <th class="center col-xs-1">编号ID</th>
                    <th class="col-xs-2">点评时间</th>
                    <th  class="col-xs-3">点评内容</th>
                    <th class="col-xs-1">点评人</th>
                    <th class="col-xs-2">企业名称</th> <!- 此列自动适应，宽度=12-(其他列宽度之和) ->
                    <th class="col-xs-2">点评状态</th>
                    <th class="col-xs-2">操作</th>
                </tr>
                </thead>
                {foreach( name="List" item="item")}
                <tbody>
                <tr>
                    <td class="center">{$item['OpinionId']}</td>
                    <td class="center">     {:toLocalDateTime($item.LastReplyTime,'Y-m-d H:i:s')}</td>
                    <td > {$item['Content']}</td>
                    <td >{$item['MobilePhone']}</td>
                    <td>{$item['company']['CompanyName']}</td>
                    <td class="center">
                        {if($item.AuditStatus==1)}
                        正常
                        {else/}
                        隐藏
                        {/if}
                    </td>
                    <td class="center">
                        <a href="OpinionDetail?OpinionId={$item['OpinionId']}">查看详情</a>
                    </td>
                </tr>
                </tbody>
                {/foreach}
            </table>
            <div class="row">
                <div class="col-xs-6">
                    <div class="dataTables_info">Total: {$Pagination->TotalCount}</div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {$PageHtml}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
