{extend name="_public:layout" /}

{block name="page-content"}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box ui-sortable-handle">
            <!-- #section:custom/widget-box.options.collapsed -->
            <div class="widget-header widget-header-small">
                <h6 class="widget-title">
                    企业列表
                </h6>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        <form id="form-search" method="get" class="form-inline" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10">
                                    <div>
                                        <div class="form-group col-xs-12 col-sm-8">
                                            <label>开户时间：</label>
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="MinSignedUpTime" name="MinSignedUpTime" class="date-picker hasDatepicker" value="{$Think.get.MinSignedUpTime}">
                                                <span class="input-group-addon">
                                                    <i class="ace-icon fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <span>至</span>
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="MaxSignedUpTime" name="MaxSignedUpTime" class="date-picker hasDatepicker" value="{$Think.get.MaxSignedUpTime}">
                                                <span class="input-group-addon">
                                                    <i class="ace-icon fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-4">
                                            <label for="CompanyName">企业名称含简称：</label>
                                            <input type="text" id="CompanyName" name="CompanyName" value="{$Think.get.CompanyName}">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group col-xs-12 col-sm-8">
                                            <label>是否开户：</label>
                                            <select id="ContractStatus" data-placeholder="选择是否开户" name="ContractStatus">

                                                <option value="" {if(!isset($ContractStatus) || strlen($ContractStatus)==0)}selected    {/if}>全部</option>
                                                <option value="1" {if($ContractStatus==1)}selected {/if}>免费开户</option>
                                                <option value="2" {if($ContractStatus==2)}selected {/if}>已开户</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4 companyName">
                                        <label for="CompanyName">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开户人姓名：</label>
                                        <input type="text" id="RealName" name="RealName" value="{$Think.get.RealName}">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-8">
                                        <label>注册类型：</label>
                                        <select  data-placeholder="选择注册类型" name="InternalChannel">

                                            <option value="" {if(!isset($InternalChannel) || strlen($InternalChannel)==0)}selected {/if}>全部</option>
                                            <option value="0" {if($InternalChannel !="" && $InternalChannel == 0)} selected {/if}>主动注册</option>
                                            <option value="1" {if($InternalChannel==1)}selected {/if}>企业邀请注册</option>
                                           <!-- <option value="2" {if($InternalChannel==2)}selected {/if}>渠道邀请注册</option>-->

                                        </select>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-4">
                                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认证状态：</label>
                                        <select  data-placeholder="选择认证状态" name="AuditStatus">

                                            <option value="" {if(!isset($AuditStatus) || strlen($AuditStatus)==0)}selected {/if} >全部</option>
                                            <option value="0" {if($AuditStatus !="" && $AuditStatus == 0)} selected {/if}>未提交</option>
                                            <option value="1" {if($AuditStatus==1)}selected {/if}>审核中</option>
                                            <option value="2" {if($AuditStatus==2)}selected {/if}>已审核</option>
                                            <option value="9" {if($AuditStatus==9)}selected {/if}>被拒绝</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <button class="btn btn-app btn-purple btn-sm pull-right">
                                        <i class="ace-icon fa fa-search bigger-200"></i>
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">企业列表</h3>
        <div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                <tr class="center">
                    <th class="col-xs-1">企业编号</th>
                    <th class="col-xs-1">开户人姓名</th>
                    <th class="col-xs-2">注册时间</th>
                    <th class="col-xs-2">开户时间</th>
                    <th class="col-xs-1">企业名称</th>
                    <th class="col-xs-1">公司简称</th>
                    <th class="col-xs-1">开户状态</th>
                    <th class="col-xs-1">认证状态</th>
                    <th class="col-xs-1">注册方式</th>
                    <th class="col-xs-1">操作</th>
                </tr>
                </thead>
                {foreach( name="CompanyList" item="item")}
                <tbody>
                <tr class="center">
                    <td>{$item['CompanyId']}</td>
                    <td>{$item['RealName']}</td>
                    <td>{:toLocalDateTime($item['OpenUser']['CreatedTime'],'Y-m-d H:i:s')}</td>
                    <td>{:toLocalDateTime($item['CreatedTime'],'Y-m-d H:i:s')}</td>
                    <td>{if (!empty($item['ServiceEndTime']) &&   (isset($item['IsServiceEndTime']) && $item['IsServiceEndTime']==false)) }<span class="label label-sm label-danger">已过期</span>{/if}{$item['CompanyName']}</td>
                    <td>{$item['CompanyAbbr']}</td>
                    <td>
                        {if($item['ContractStatus'] == 1)}
                        <span class="label label-sm label-grey">免费开户</span>
                        {elseif($item['ContractStatus'] == 2)}
                        <span class="label label-sm label-success">已开户</span>

                        {/if}
                    </td>
                    <td>
                        {if($item['AuditStatus'] == 0)}
                        <span class="label label-sm label-warning">未提交</span>
                        {elseif($item['AuditStatus'] == 1)}
                        <span class="label label-sm label-success">审核中</span>
                        {elseif($item['AuditStatus'] == 2)}
                        <span class="label label-sm label-success">已审核</span>
                        {else/}
                        <span class="label label-sm label-success">被拒绝</span>
                        {/if}
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">

                            {if( empty($item['ChannelCode']) )}
                            <span class="label label-sm label-purple">主动注册</span>
                            {else/}
                                {if(isset($item['IsExistCode']) && $item['IsExistCode']==true)}
                                         <span class="label label-sm label-pink">企业邀请注册</span>
                                {else/}
                                       <span class="label label-sm label-pink">渠道邀请注册</span>
                                {/if}
                            {/if}
                        </div>
                    </td>
                    <td>
                        <a href="/company/Detail?CompanyId={$item['CompanyId']}" target="_blank">查看详情</a>
                    </td>
                </tr>
                </tbody>
                {/foreach}
            </table>
            <div class="row">
                <div class="col-xs-6">
                    <div class="dataTables_info">Total: {$TotalCount}</div>
                </div>
                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {$pageHtml}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
