<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JXTB.CommonData"  connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxl_commondata;" providerName="MySqlProvider"/>
    <add name="JXBC.Passports"   connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=bc_passports;" providerName="MySqlProvider" />
    <add name="JXBC.TradeSystem" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=bc_tradesystem;" providerName="MySqlProvider" />
    <add name="JXBC.Workplace"   connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=bc_workplace;" providerName="MySqlProvider" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ApiDomain" value="http://ling-api.jux360.cn/v-test"/>-->
    <add key="ApiDomain" value="http://bc-api.jx.io/v-test/appbase"/>
    <add key="TestImage" value="F:\web-BossComments\bc-res.jux360.cn\avatar\default_avatar.png"/>
    <add key="app:TestValidationCode" value="009012"/>
  </appSettings>  
</configuration>