<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="true">
    <appName>JuXian.WebApi</appName>
    <typeAliases>
      <!--<typeAlias name="RepositoryFactory.passports" alias="JXTB.Passports.DataRepositories.RepositoryFactory, JXTB.Passports.DataRepositories"/>-->
      <typeAlias name="IIMProvider222" c:type="JXBC.Passports.Providers.EasemobProvider,JXBC.Passports"/>
      <typeAlias name="IPaymentProvider.Alipay" c:type="JXTB.MobilePayment.Providers.AlipayProvider, JXTB.MobilePayment.Providers"/>
      <typeAlias name="IPaymentProvider.MobileAlipay" c:type="JXTB.MobilePayment.Providers.MobileAlipayProvider, JXTB.MobilePayment.Providers"/>
    </typeAliases>
    <threadPool maxThreads="12" minThreads="8" />
  </appbase>

  <iMProvider alias="Easemob"
      orgName="635801792" appName="juxianling" clientId="YXA6P4j1cPVPEeWu6J-ZDnaOMw" clientSecret="YXA6FQpg0Ie9VAg04_rBpvkM8tI-YCM" />
  
  <cached>
    <cache name="dictionaries" expiryTime="00:30:00" c:type="AppDomainCache" />
    <cache name="mobileapi" expiryTime="00:15:00" c:type="AppDomainCache" />
    <cache name="Default" expiryTime="20.00:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
    <cache name="MobileAlipay" expiryTime="20.00:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
  </cached>
  <queues>
    <queue name="AppLog" path="FormatName:DIRECT=tcp:192.168.0.9\private$\AppLog" c:type="MSMQ"/>
  </queues>
  <dataSettings>
    <sqlProcessor enableTrace="false" />
  </dataSettings>
  <logging>
    <loggers>
      <logger name="default">
        <ListenerIndex name="AppFileListener" minLevel="Trace" maxLevel="Info" />
        <ListenerIndex name="ExceptionFileListener" minLevel="Warn" />
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
      <logger name="ExceptionLogger">
        <ListenerIndex name="ExceptionFileListener"/>
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
      <logger name="FatalExceptionLogger">
        <ListenerIndex name="FatalExceptionFileListener"/>
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
      <logger name="TaskThreadExceptionLogger">
        <ListenerIndex name="TaskThreadExceptionFileListener" />
        <ListenerIndex name="QueueListener" minLevel="Info" />
      </logger>
    </loggers>
    <listeners>
      <listener name="AppFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.app.log" />
        <Formatter type="TextFormatter"
          content="===[@LogLevel]@Message \t @LogTime\r\n" />
      </listener>
      <listener name="FatalExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.fatal.ex.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="ExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.ex.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="TaskThreadExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.taskThreadEx.log" />
        <Formatter type="TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="QueueListener" Queue="AppLog" c:type="QueueListener" />
    </listeners>
  </logging>
</configuration>