<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JXL.Passports"   connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxl_passports;" providerName="MySqlProvider" />
    <add name="JXL.TradeSystem" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxl_tradesystem;" providerName="MySqlProvider" />
    <add name="JXL.Workplace"   connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxl_workplace;" providerName="MySqlProvider" />

    <add name="JXTB.CentralBank" connectionString="Server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxtb_centralbank;" providerName="MySqlProvider"/>
    <add name="JXTB.CommonData" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxl_commondata;" providerName="MySqlProvider"/>
    <add name="JXTB.Passports" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxtb_passports;" providerName="MySqlProvider"/>
    <add name="JXTB.Ling" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxtb_ling;" providerName="MySqlProvider"/>
    <add name="JXTB.LingMessages" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxtb_ling;" providerName="MySqlProvider"/>
  </connectionStrings>
</configuration>