<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}-老板点评 用良心点评您的员工</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.resources_site_root}/pc/css/index-mobile.css"/>

	<script>
        //适配方案
        (function(){
            var width = document.documentElement.clientWidth;
            var html = document.querySelector("html");
            html.style.fontSize=width/16+"px";
        })();
    </script>
</head>
<body>
    {include file="-public/mobile_header" /}
    <div class="new-content">
    	{$detail}
    </div>
    {include file="-public/mobile_footer" /}
</body>
</html>
