<h2> “信任社会”，从信用档案开始</h2>
<span class="consult-time">17/02/06</span>
国家发改委副主任连维良表示，2017年个人信用体系建设要掀起高潮，要以信用记录为基础，建立个人信用档案，反映个人诚信情况，信用记录要准和全。“要加快建立房地产中介、导游等14类重点职业人员信用记录，建立信用档案，实现及时动态更新。”
　　
这14类职业人员包括公务员、企业法定代表人及相关责任人、律师、教师、医师、执业药师、评估师、税务师、注册消防工程师、会计审计人员、房地产中介从业人员、认证人员、金融从业人员、导游等。突破重点才能推进整体。在专家看来，这些重点领域与企业生产和百姓生活关系密切，一旦失信就会对社会造成较大影响，而且这些重点人群有一定示范效应，以此为突破口可以更好推进个人诚信体系建设。
　　
“信任”是市场经济有序运转的助推器。西方经济学家曾提出“交易费用”的概念，用以描述市场交易中除了商品生产、运输、储存所要耗费的成本之外，所有的其他费用。其中最突出的一块，就是人与人之间由于缺乏信任而彼此试探、互相“算计”的成本。“信任”也是现代社会人际关系的润滑剂，并不仅仅体现在市场交易当中。如果人与人之间能够实现信息的充分交换，互相知根知底，也就少了“猜忌”、多了“透明”。
　　
不难看出，这些职业最鲜明的特点，在于“和人打交道”。现代网络社会，这些职业的负面新闻屡屡被广泛传播，引发了一系列的冲突。这些本应该被“信任”的行业，却成为最容易引发争论的行业。2017年刷爆朋友圈的罗尔事件，本来是社会爱心的传递，最终却演变成一场信任危机。因此，借助制度设计，建立完善的个人信用体系是很必要的。信用体系的建设，仅仅通过加强记录、完善信用档案还不足够。如果不能对那些“失信者”施加惩罚、严肃后果，“信任社会”的理想就只能停留在空想。而互联网、大数据的飞速发展，为如何解决失信问题提供了新的思路。
　
国家发改委透露，据不完全统计，全国法院累计公布失信被执行人644.52万例，民航部门限制购买机票576.62万人次，铁路部门限制购买列车软卧、高铁和其他动车组一等座以上车票207.23万人次。工商部门限制担任各类企业法定代表人、董事、监事、高级管理人员7.1万余人次。信用体制建设取得初步成效。

  “信用”的背后是“信任”，信用社会的建立不是一蹴而就，而是需要法治和道德的共同约束。

