<h2>国务院发文鼓励企业为这些人建职业诚信档案</h2>
<span class="consult-time">17/01/04</span>
2016年12月30日，国务院办公厅公开发布了《国务院办公厅关于加强个人诚信体系建设的指导意见》(国办发〔2016〕98号，以下简称《意见》)，对加强个人诚信体系建设作出部署。
         建立个人诚信奖惩联动机制
《意见》提出，充分发挥政府在个人诚信体系建设中的组织、引导、推动和示范作用。以重点领域、重点人群为突破口，推动建立各地区各行业个人诚信记录机制。建立健全个人诚信奖惩联动机制，加大个人守信激励与失信惩戒力度。
鼓励企业建立信用管理制度
《意见》要求“支持有关部门和社会组织向社会推介诚信典型和无不良信用记录者，推动实施跨部门、跨领域的守信联合激励措施。”“鼓励各类社会组织和企业建立信用管理和教育制度，组织签署入职信用承诺书和开展信用知识培训活动，培育企业信用文化。”
        诚信记录以公务员、律师、教师、医生等职业为突破
《意见》指出“以食品药品、安全生产…税收缴纳…等领域为重点，以公务员、企业法定代表人及相关责任人、律师、教师、医师、执业药师、评估师、税务师…等职业人群为主要对象，有关部门要加快建立和完善个人信用记录形成机制，及时归集有关人员在相关活动中形成的诚信信息，确保信息真实准确，实现及时动态更新。”“鼓励行业协会、商会等行业组织建立健全会员信用档案。”
       推动形成市场性、社会性约束和惩戒
 《意见》强调“对有关部门和社会组织实施信用分类监管确定的信用状况良好的行政相对人、诚信道德模范、优秀志愿者，行业协会商会推荐的诚信会员，以及新闻媒体挖掘的诚信主体等建立优良信用记录，各级人民政府要创新守信激励措施，对具有优良信用记录的个人，在教育、就业、创业等领域给予重点支持，尽力提供更多便利服务”“鼓励社会机构依法使用征信产品，对具有优良信用记录的个人给予优惠和便利，使守信者在市场中获得更多机会和收益。”“依法依规对严重危害人民群众身体健康和生命安全、严重破坏市场公平竞争秩序和社会正常秩序、拒不履行法定义务严重影响司法机关和行政机关公信力以及拒不履行国防义务等个人严重失信行为采取联合惩戒措施。”
 建立健全个人严重失信行为披露、曝光与举报制度。鼓励市场主体对严重失信个人采取差别化服务。支持征信机构采集严重失信行为信息，纳入信用记录和信用报告。
   随着全国个人职场诚信公共服务平台的启用，行业从业人员的职场履职情况进一步公开透明化，同时，也让失信个人无所循形。

