<h2>个人职场诚信平台：近六成简历存在造假问题 技术岗或成重灾区</h2>
<span class="consult-time">17/02/07</span>
新年伊始，企业人员流动性增大。据统计，在求职过程中，58.76%的候选人会对自己的简历做一些美化。数据表明，五年前，有70%的招聘人员、人力资源专员和招聘经理表示，他们在应聘者的简历中发现了某些不实之处。而在最近的调研中（2016），这一比例上升至88%。 

国内首家个人职场诚信数据服务平台——全国个人职场诚信公共服务平台负责人透露，根据他们在人力资源行业跟不同公司HR打交道的情况来看，以技术为导向的公司更加重视入职员工的背景核实。
“现在技术岗位简历造假现象太严重了，特别是一些培训机构出来的，培训几个月，包装成两三年的工作经历，薪水什么的都是小事，真遇上问题，工作项目做不了，吃大亏的还是我们企业自己。”某大型互联网公司HR表示，“所以我们公司的技术部门在招人时，都会要求我们先给候选人做背调。第一是查看他的工作年限和工作经验，看看他的能力是否符合我们这个岗位的要求；第二是查询他的个人工商信息，看看他名下有没有跟我们相似业务的公司，这点主要是怕他来我们公司带走一些重要技术；第三就是一些常规的违法犯罪以及网络黑名单核实。这三点信息查出来与简历不符的，我们一律不要”。

“全国个人职场诚信公共服务平台”负责人表示，目前，“全国个人职场诚信公共服务平台”首创的职场诚信档案系统后台每天都会有一些技术型企业主动注册并使用。究其原因，除了行业性质，岗位造假现象比较严重外，应该也有对用工成本方面的考量。技术型企业招聘需求大，HR在背调上需要耗费很大的精力。“职场诚信档案系统”通过大数据支持，在候选人授权之后，可在线秒查候选人的职场诚信档案记录，价格也比传统背调公司便宜很多，能为企业HR省下不少时间和金钱，自然会吸引很多企业自发的使用。

企业越来越重视“职场诚信记录”背后更深层次的问题在于利己主义泛滥下的价值变异，失去的是正直、公平这些无形的价值。个人的诚信好坏不仅是个人品德问题，也关乎职业道德和社会风气。对求职者而言，无论从事何种职业，都应有诚信底线，应对这种危害社会公平正义的失信行为嗤之以鼻，才能秉承正确的价值观奉献社会。