<h2> 构建职场诚信体系 形成职场良心循环</h2>
<span class="consult-time">17/01/19</span>
诚信是完人的核心价值，是承诺思想行动一致，客观证明有信用的人，中华民族拥有悠久的历史，而诚信从古至今也一直被人们传颂强调着，国无信不兴，人无信不立。诚信是人类的普遍道德要求，是社会主义核心价值观的基础，是维系社会正常秩序的基本准则。只有夯实诚信建设这个基础工程，使诚实守信成为全社会共同的价值追求和行为准则，才能夯实人才在社会发展的道德基础，从而为经济社会发展提供有力支撑。而道德是人的自律，法律则是人的他律。诚实守信不仅是道德范畴，时代又赋予其它的内涵，在人才发展的时代中人才与雇主、雇主与人才、人才与人才之间的诚信就显得尤为重要，一点小的瑕疵与怀疑就会被社会这个放大镜彰显的尤为明显。
职场信用不是一蹴而就的事情，而是日积月累的果实，如今中国体制外人才的职业信用令人堪忧，中国有将近6亿的体制外员工，其中白领约1亿左右。人才的职业信用形式严峻，在大集体里人才之间经常发生潜移暗化，自然拟之现象，如果在职场上有一小部分人诚信失守将会对周围一大波人才进行影响。人无信不立，职业信用是人才立足市场的根本基础，毫不夸张地说，中国人才的红利将被混乱的职业失信所吞噬。人才的职业信用要依靠公正的职业信用体系去约束和评估。所以建立职场诚信体系已经迫在眉睫，美国的LinkedIn就是通过人才的描述和剖析给职业经理人的信用证明，GlassDoor是美国在线求职网站，通过人才来匿名点评雇主的形式打开职场诚信大门。
 “职场诚信”已经成为社会、媒体、企业、政府机构越来越关注的现实命题。尤其是近年来，“注水”简历、假证件、假学历、恶意跳槽等失信行为频发，但由于传统的人事档案存在评价主观成分多、不透明、不流通等弊端，加上人力资源市场由于缺乏准确、可靠的信息来源和客观、公正的评价机制造成的信息不对称，都为职场诚信危机埋下了祸根。 
 “全国个人职场诚信公共服务平台”通过让更多的企业成为共建单位，对员工职场诚信档案的管理和维护，发挥出“档案”的功能和作用，使个人的“诚信”能够积累和增值，成为现代社会的财富和通行证！并充分利用先进的云计算技术，突破了传统纸质档案的局限性，使企业之间达到必要的资源共享！同时这也是把“诚信”从一个道德教育范畴转变为一种诚信约束机制，具有划时代意义的举措！ 
     蔡元培先生说：“诚字之意，就是不欺人，亦不为人所欺。”加强诚信建设，“不欺人”、“不为人所欺”，就需要凭借可靠的职场诚信体系来强化人才与雇主之间的关系，让诚实守信的基因内化于心、外化于行，引导全 职场形诚实守信的职场良心循环!
