<h2>节后求职“草签族”毁约“任性”专家建议：建立职场诚信体系</h2>
<span class="consult-time">17/02/07</span>
春节过后，又到高校毕业生的求职高峰期。

正当很多毕业生准备奔波于各色招聘会、宣讲会寻找就业机会之时，也有一些毕业生“带着工作找工作”。由于违约成本低，他们通常先和用人单位签订就业协议“保底”，一旦碰到更好的工作机会，就不惜交违约金与原签约单位毁约，这些毕业生也因此被称为“草签族”。
“草签”现象的普遍存在，不仅暴露了毕业生求职诚信的缺失，也影响了用人单位的招聘效率，挤占了其他应届生的求职机会。专家建议，毕业生不能“任性”毁约，应更加关注用人单位提供的职业发展空间，而非起薪收入。着手在全社会建立职场诚信体系，提高违约成本或是解决之道。
　　
求职心理：先保底再觅“高枝”

春节前，广东一所重点高校新闻学专业的毕业生陈俊武已经顺利通过了好几家用人单位的招聘考试，并与其中一家企业签订就业协议。不过目前，他仍在关注招聘信息，准备参加新一轮招聘会。陈俊武坦言，从去年8月开始，他已先后向20多家用人单位投出简历，经过一轮轮过五关斩六将的拼杀，陆续收到了几份录用通知，他筛选出其中一家还算满意的通讯公司签了约。但眼看一大拨新的招聘即将开始，不论是招聘企业还是岗位待遇都很有吸引力，陈俊武又有些心动，准备展开新一轮“海投”。

在采访过程中，记者发现存在这种“骑驴找马”求职心理的应届大学生不在少数。“这种情况类似‘先就业再择业’，好工作‘僧多粥少’，这种‘家里有粮，心里不慌’的心态可以理解。”一名北京高校的应届毕业生如是说。

在陈俊武看来，一方面有录用意向的公司“追”得急，另一方面违约成本较低，“顶多也就是交几千元的‘违约金’”，而这与找到心仪的工作相比，微不足道。
　　
企业吐槽：“早有防备”仍无奈

“‘骑驴找马’的现象年年都有。”正准备年后进行校园招聘的浙江某民营高科技企业的人力资源负责人姚少华告诉记者，毕业生之所以呈现出这种就业心理，主要是学生多、用人单位多，双向选择的机会多，部分学生较为功利，而且违约成本相对较低。调查中，记者发现不少学生之所以“未就业先毁约”，多是由于后一份工作比签约工作的薪资水平高。姚少华对此表示认可，他解释道，有些学生因为月薪高出500元就选择违约，这不仅体现出求职的非理性，也损害了签约单位的利益，对学校的社会声誉造成不良影响，甚至剥夺了其他学生与企业签约的机会。

针对毕业生“骑驴找马”的求职心理，不少用人单位的人力资源部门“早有防备”。

“用人单位在做校园招聘的预算时，多会结合以往毕业生的不到岗率，扩大招聘人数，而这个数量往往高于实际需求量的30%以上。”姚少华向记者举例，如果用人单位的真实招聘需求是100人，可能在实际招聘中会招聘130人～150人，加上潜在的人员流失率，才能保证真正到岗人数在100人左右，“如果人数超过100，用人单位会采取培训或实习等形式再次筛选”。
事实上，违约涉及的不仅是就业公平问题，还有大学生诚信问题。广东某高校就业指导科科长告诉记者，校方一般只给每位毕业生一份就业协议书，学生在与用人单位签订就业协议后，如若违约，通常需对方出具同意学生违约的公函，学校才允许学生申请新的就业协议书。“解约时，学生要支付一定的违约金，数额多在2000元～5000元。”姚少华解释说，一方面是对学生不诚信的惩罚，另一方面用来弥补用人单位在前期招聘过程中的成本。他透露，从校园宣讲到最终录用，平均每位学生的招聘成本在2000元左右。
    
   专家建议：建立职场诚信体系

采访中，记者发现不少高校都会对毕业生进行诚信教育，但“骑驴找马”的求职现象仍然存在。

“这种现象说明就业市场存在一定压力，学生愿意承担风险去违约，追求更高的人力资本投资回报，也反映出他们对于未来能找到好工作的强烈预期。”中国政法大学人力资源开发与管理研究中心主任王霆说。
但“骑驴找马”不仅对用人单位，甚至对整个人力资源市场都存在一定负面影响。王霆说，因为用人单位已经签约，但临入职时，如果毕业生不到岗，就要仓促地重新招聘，会给企业造成一定压力，影响招聘效率，同时也影响其他求职学生的就业机会，导致就业市场紊乱。
其实不单是大学生，在王霆看来，这是整个就业市场诚信缺失的体现。他认为，违约成本相对较低，对求职者的约束力不足，“只有对自身声誉造成较大影响，才会形成约束力。但目前，就业市场上的诚信约束机制并没有建立，就业者失信的记录，也没有在全社会范围内以有效的手段加以记载或公开。”王霆说，只有包括政府、用人单位、第三方机构合力，着手在全社会建立职场诚信体系，才能解决这个问题。
 “很多大学生盯着起薪，稍高一点就违约，这种择业观是错误的。”王霆指出，大学生就业不要只顾眼前利益，“而是要看  用人单位有没有提供良好的职业发展通道和发展空间。”姚少华建议，大学生一定要慎重签约、理性求职。
