<h2>  职业薪资满意度调研：超三成职场人会因工资而跳槽</h2>
<span class="consult-time">17/01/12</span>
时值农历年底，职场人过去一年的表现将决定自己的年终奖和来年的工资，不少职场人也希望自己的工资“芝麻开花节节高”。他们对现有的工资是什么态度？猎聘1月10日发布的《职场人薪资满意度及支配方式问卷调研报告》发现，近六成人对自己的工资不太满意；而超三成人表示工资是自己跳槽换工作的主要原因。

此次问卷调研有超过近两万名职场人参与此次问卷调研，其中80后是最大的人群，占到了65.55%，90后占比为21.15%，70后为11.99%。60后人数最少，仅为1.31%。

此次调研发现，对于自己当前的工资，表示“基本满意”、“非常满意”、“不太满意”、“一点儿也不满意”的人分别占到26.46%、1.07%、57.07%、15.41%。

工资是不是一个人工作的最大动力呢？32.56%的参与者的回答为“是，没有工资就活不下去”；54.89%的人认为“不完全是，但涨薪会带来很大的激励”；12.56的人表示“不是，上班的动力是实现自己的价值”。

对于“工资是否会成为跳槽换工作的主要原因”这个问题，31.40%的人认为“是”，原因在于通过跳槽得到更多的薪水；49.17%的人表示“不完全是”，自己跳槽还有其他更重要的原因；19.43%的人认为“不是”，跳槽主要是为了更好的职业发展。

业内招聘顾问建议职场人理性看待涨薪和跳槽的关系，认清职业生涯中对自己更重要的东西，谨慎对待跳槽，单纯因为涨薪而跳槽可能会为此付出更多的代价和风险。

在工资涨幅上，职场人期待的小目标是多少？ 45.11%参与者期待的工资涨幅是30%-50%；28.90%的人希望的涨幅是10%-30%；12.82%的人理想的涨幅为50%-80%；4.71%的人期待的工资涨幅是80%-100%；8.46%的人希望的工资涨幅是100%以上。

招聘顾问建议职场人应该根据自己目前薪资的情况、自己的能力以及公司的经营状况合理设定自己的薪资涨幅预期，否则过高的目标不容易实现，而过低的目标容易影响自己的工作积极性。

拥有多少工资可以活得轻松一点？回答“月薪25000元以上”的人占到33.30%；回答“月薪12000-18000元”的人占到24.18%；回答“月薪18000-25000元”的人占到23.46%；回答“月薪8000-12000元”的人占到15.73%；而回答“月薪5000-8000元”的人占到3.33%。

当回答“你的工资是否够花”这个问题时，20.21%的参与者表示不够花，需要啃老或者透支信用卡；47.97%的人表示勉强够花；28.84%的人表示够花，还有少许剩余；2.98%的参与者表示自己的工资根本花不完。

对于工资的大头花在什么地方，参与者的回答五花八门：47.14%的人花在房租或者房子月供上；18.60%的人花在养活家人方面；17.61%的人花在日常吃穿上；花在“投资自己、进行各种学习”、“社交应酬”、“炒股或理财”、“旅行”、“谈恋爱”的参与者仅占到4.73%、4.67%、3.16%、2.73%和1.37%。

当问及“你的工资由谁掌管”时，回答“本人”、“配偶”、“父母”的人分别占到81.96%、17.03%、1.01%。

在描述自己的花钱习惯时，54.82%的参与者表示只买支付能力范围内的东西；28.21%的人表示自己不随便买东西，花钱比较节制；11.35%的人承认自己花钱大手大脚，只要喜欢就买买买；5.61%的人表示自己花钱精打细算，每一分钱都花在刀刃上。

对于“你有没有存钱习惯”这个问题，45.48%的参与者表示自己有钱就存一些，没钱就不存；35.39%的人不管挣多少，都会存一定的钱；19.13%的人表示自己是月光族，没有钱存。
 
  职场顾问建议职场人在消费方面要根据自己的收入量入为出，同时养成定期存钱的习惯，这样才能让自己在经济方面游刃有余，不会轻易陷入财务困境。
