<h2>职业道德套路深，职场诚信不存我们还能相信谁？</h2>
<span class="consult-time">17/02/07</span>
前不久，某地公立医院医务人员收受回扣事件，再次引发人们对职业伦理的关注。近年来，从医生、教师到银行职员、出租车司机、导游等，一些与人们生活密切相关的行业频现职业伦理“灰色地带”。

职业伦理，也称职业道德。所谓的“灰色地带”，是指游走在职业伦理边缘的一些行为；有些职业伦理失范行为甚至戴着善意的面具，实际是一种伪善行为。这种现象会降低职业公信力，以及人与人之间的安全感、信任感。

   “大家都这样干，那就没什么”

在北京一家医院工作的张晓伟（化名）在读研究生期间就体会到医生这个行业的“奥秘”。

自己的研究课题没有申请到国家资助，这不仅关系到他能否顺利毕业，而且面对自己倾注许多心血的研究，他舍不得放弃。于是，在相关人士的帮助下他找到某医药公司。

“这家医药公司给了我10万元的研究经费，我顺利完成了研究，之后在知名学术期刊发表研究论文时多次提到该药厂的名字。”张晓伟说，自己觉得在没有学术造假的基础上，对帮助自己的人有所交待，也没什么。

类似这种行为，不少人觉得并没有对行业或者别人造成不良影响，即便规定不允许，但只要自己能把握住，不越过“红线”便无不妥。

张晓伟告诉记者：“工作后外出参加的许多学术研讨会都需要医药公司赞助，只不过有的赞助是有严格监管的，是单纯的学术赞助，而有的赞助则只是以此为幌子贿赂医生，这需要自己有辨别力，不要把灰色变成黑色就好。”

　　“就像药代请吃饭一样，大家都去，那就没什么，要是只请你一个人，那就得考虑清楚能不能去。也有药代曾经送给我一个苹果电脑，后来发现他只送给我一个人，就马上退了回去，如果是科室每个人都送，那我也就接受了。”张晓伟说，有些医院会把非正常渠道得到的收入在科室均分。“大家都拿一份，那就没什么。”

在太原市一家医院工作的刘大夫则表示，如果自己不踏足“灰色地带”，就会被视为无能。不久前，他利用周末带着母亲去医院免费做了一次CT检查。“我用空闲时间给自己家人服务，只是占用医院的仪器，也没有对别人造成影响，况且别的医生也会这么干。医生本来就辛苦，没有太多时间照顾家人，这么做也算是对家人的补偿，并且家人提出来，如果办不到会显得自己很无能。”

  “把机会给自己亲近之人是人之常情”

在某银行做支行行长的刘越（化名）对职业“灰色地带”有不一样的理解。“别人找你帮忙、你找别人帮忙，有些事情是不是符合规定没办法界定，所以必然会有‘灰色地带’。”

刘越说，比如发放贷款，有朋友拿到一个好项目，给予资金支持一下，有亲戚急需资金，你对他足够了解，在权力范围内帮助一下，这些都无可厚非吧。

刘越给记者讲了一个故事。几年前因为他发放的一笔不良贷款，被上级部门查出，即将给予处分。贷款者正是自己的朋友。他打电话把那个朋友臭骂了一顿，并让他赶紧想办法做续贷，避免发生不良。后来，他朋友通过抵押房产做了续贷，刘越也没有被处分。

“假如那是一个陌生人，这笔钱就只能是不良了，而且如果他不还贷，通过强制手段也只能收缴他的房产，非常耗时耗力。正因为我和朋友之间除了正规的制度，还存在人情，所以才使得事情没有进一步恶化。”刘越说，“银行放贷不会任人唯亲，但在同等条件下，把机会给自己亲近之人也是人之常情。”

  “我违规，只因制度‘不近人情’”

事实上，很多行业和领域都存在“灰色地带”，即使是象牙塔内也不例外。

某大学教授郭强（化名）向记者讲述了高校中的“灰色地带”。“有个学生快毕业时还有三科挂科，按照规定，需要延期一年才能毕业，这对一名学生的影响是巨大的。这个时候有位朋友提出让我帮忙，我就悄悄找到相关科目的老师，对这个学生的考卷重新批阅，勉强让他通过考试，顺利拿到了毕业证书。”
郭强说，自己的做法和学校的相关规定肯定不符，但这么做也没有伤害其他人的利益，对这个学生却是巨大的帮助。“我违规，只因制度‘不近人情’。”

事实上，在有些人看来，一些规章制度过于严苛，对其不认可换来的是对“灰色地带”的亲近，甚至有人觉得“制度会改变，我们现在不合规的做法以后可能就是合规的”。

在郭强看来，有些“灰色地带”是无法避免的。“我的学生提出来要考我的研究生，让我透露一些专业课的相关考题，甚至他已经猜出来我会考哪些题，毕竟他比别的学生更了解我，这个时候我该怎么办？总不能骗他说这些考题不会考吧，况且也只有自己的学生才最契合自己的研究方向，所以我就选择睁一只眼闭一只眼帮他一把。” 

  以错为对、以错为荣         职业伦理失范亟须整治

半月谈记者采访发现，不少行业都有游走在职业伦理“灰色地带”的人员。这很大程度上是因为法律法规、规章制度不健全或执行不到位，让人有空子可钻。令人忧心的是，此类行为的蔓延影响了职业公信力，败坏了社会风气，让公私不分、随意越界、投机取巧等行为大行其道，一些人甚至以错为对、以错为荣。

 伦理失范导致职业公信力缺失

在北京一家医院工作的李大夫深谙医生这一行业的“门道”。“收红包、接受医药代表吃请、接受资助进行学术研究、被资助出国参加学术研讨会……有些事情规定不允许做，但大家都这么干，也就相当于默许了；有些事情没有明确规定，便成了大家心知肚明的‘自由地带’。”李大夫说。

不仅是部分医生，少数教师也被认为游走于“灰色地带”。

近年来，教育主管部门大力加强师德师风建设，但在一些地方仍然存在违背教师职业道德的行为。一些教师本该在课上讲的内容不讲，让学生去参加自己的课外班；一些教师甚至暗示学生家长送礼。

事实上，还有一些行业存在伦理失范问题，给人们的生活造成了严重影响。

外出旅游，导游是一个重要角色，但一些导游通过夸大宣传甚至欺骗的方式，吸引游客消费，从中赚取回扣。

一些银行职员泄露客户信息近年来广受诟病，有内部人士指出，银行内部对于“内鬼”并没有太多有效的办法。虽然也有一些制度约束,比如设定权限、不通过邮件传输数据等，但相关业务主管或统计人员仍然可以轻松拿到客户信息。

“套路”那么深，还能相信谁

随着诸多职业伦理失范问题频繁被曝光，人们不禁惊呼，满满都是“套路”啊！

在兰州大学管理学院副教授高学德看来，中国社会还带有熟人社会的特征，人们习惯于按照关系远近、根据人情法则来决定如何和别人打交道，因此容易出现公私不分、假公济私等行为。

“现代职业是社会分工的产物，职业伦理规范不再是熟人社会的人情法则，而是与陌生人交往时的规范要求。”高学德说，这就要求有健全的法律法规和严格的规章制度，使得每个职业群体都有明晰的行为界限。“职业行为约束机制不健全，违反职业规范代价太小，使人们容易游走在‘灰色地带’。”

山西大学哲学社会学院副教授周斌认为，在制度有待完善的情况下，现代职业分工导致的信息不对称，使得职业伦理失范有了发生的可能。

而一些人认为行业收入和付出不成正比，存在不平衡心理，或者对个人利益过度追求，也会促成职业伦理失范。如面对有偿补课的指责，有教师这样说：“在校外为学生开小灶，既有家长强烈要求的原因，也有自己改善生活的考虑。”

此外，受社会风气影响，一些人存在法不责众的思想，认为“别人都这么干，为什么我不能”“我要不干就是傻子”“不这么干就不合群”。

很多职业失范行为和人们的日常生活紧密相关，不仅会给老百姓的生命健康、财产安全带来危害，而且会带来社会的不信任感和不安全感。

“如果总是处于一种警惕心态中，人与人之间充满了算计和提防，大家都会很累，也很容易产生社会矛盾。”周斌认为。

 标本兼治铲除“灰色地带”

不久前，中国社科院发布的《社会心态蓝皮书：中国社会心态研究报告（2016）》认为，降低社会的不安全感是社会治理和社会改善的重中之重，有助于社会信任和社会稳定。

有关专家认为，重塑职业伦理，铲除“灰色地带”，需要标本兼治。

首先，完善制度，加大对伦理失范行为的约束和惩治。周斌指出，对影响公众生命健康、财产安全的职业伦理失范行为必须予以严惩。

其次，从相关部门到各个单位，必须加强监督。专家指出，有些人明知道违反规定还是去做，就是因为做了之后没人追究，如果管理者对这些行为能真正做到明令禁止、严格查处，这些人便不敢再犯。重塑职业伦理不能仅靠自律，还必须完善约束机制和惩戒机制。

第三，一些领域确实存在高强度工作和收入不成正比问题，因此，除严惩失范行为外，还要加强正面激励，如思想情感激励、收入激励和组织激励等。而对于一些市场主体的伦理失范行为，则要通过进一步引入市场竞争机制优胜劣汰，使失范者无立足之地。

  此外，重塑职业伦理，建立社会信任，还需要不断提高社会成员的法治意识，加强诚信建设，强化人们对职
  业的正确认知，培育职业精神。这一点，不仅要在入职后进行，而且要将相关内容纳入中学、大学的职业指
  导 教育课程中。
