<h2> 这14类职业人员注意！国家要为你们建一份“诚信档案”</h2>
<span class="consult-time">17/01/20</span>
今年，守信者将获得更多实惠，失信者将更加寸步难行。国家发改委相关负责人透露，2017年，个人诚信体系建设将掀起高潮。要加快建立房地产中介、导游等14类重点职业人员信用记录。同时，在全国范围建立和完善信用红黑名单制度。

这14类职业人员要建信用记录
国家发改委副主任连维良18日在媒体通气会上表示，2017年个人信用体系建设要掀起高潮， 要以信用记录为基础，建立个人信用档案，反映个人诚信情况，信用记录要准和全。“要加快建立房地产中介、导游等14类重点职业人员信用记录，建立信用档案，实现及时动态更新。”连维良说。

记者注意到，国务院办公厅去年底印发了《关于加强个人诚信体系建设的指导意见》，明确要建立重点领域个人诚信记录，并明确了14类职业人群要加快建立和完善个人信用记录形成机制。

这14类职业人员包括公务员、企业法定代表人及相关责任人、律师、教师、医师、执业药师、评估师、税务师、注册消防工程师、会计审计人员、房地产中介从业人员、认证人员、金融从业人员、导游等。

突破重点才能推进整体。在专家看来，这些重点领域与企业生产和百姓生活关系密切，一旦失信就会对社会造成较大影响，而且这些重点人群有一定示范效应，以此为突破口可以更好推进个人诚信体系建设。
　　
今年要重点建立红黑名单制度

“目前，守信联合激励和失信联合惩戒大格局正在形成。”连维良透露，2017年，守信联合激励和失信联合惩戒备忘录要扩展到各个领域，总量预计超过50个，实现全覆盖。

连维良提出，今年还要重点抓信用红黑名单的建设和应用。“要在全国范围建立红黑名单制度，红名单是守信典型，黑名单是失信典型。没有红黑名单制度，没有规范的认定办法，守信联合激励和失信联合惩戒也就失去了基础和标准。”

国务院去年印发的《关于建立完善守信联合激励和失信联合惩戒制度加快推进社会诚信建设的指导意见》提出，规范信用红黑名单制度。不断完善诚信典型“红名单”制度和严重失信主体“黑名单”制度，依法依规规范各领域红黑名单产生和发布行为，建立健全退出机制。
国家发改委18日召开信用体系建设媒体通气会。

据悉，列入黑名单的失信人将遭遇联合惩戒。国家发改委透露，据不完全统计，全国法院累计公布失信被执行人644.52万例，民航部门限制购买机票576.62万人次，铁路部门限制购买列车软卧、高铁和其他动车组一等座以上车票207.23万人次。工商部门限制担任各类企业法定代表人、董事、监事、高级管理人员7.1万余人次。

连维良指出，推进个人诚信体系建设，要强调“四重”，要特别重视实名制、信息安全、信用修复、信息服务，核心精神就是保护个人的权益。

此外，据了解，作为诚信体系建设的重要配套文件之一，《关于进一步健全相关领域实名登记制度的总体方案》正在履行发文程序，不久即将公布。

