<h2>咖啡之翼—尹峰发声：因为我是老板，所以我当然要用老板点评</h2>
<span class="consult-time">17/02/22</span>
为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才诚信大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。此次发布会主题为“诚信职场•创新共享”，由中国职业经理人协会、人民日报社《健康时报》联合主办，多家媒体对此次发布会进行了广泛而详细的报道。
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/1.jpg"></div>
会中，开展了专家论坛活动，更加丰富了此次发布会的内容，本次论坛的主持人是神州投资合伙人、CMCN创始人杜江。作为一名明星企业家，也是本次论坛的特邀嘉宾——香港国际翼咖啡美食传播有限公司董事长，也就是我们熟知的“神仙姐姐”尹峰，对于在创业和企业管理方面遇到的诚信问题，她这样说到：“我被大家所熟知是在《非你莫属》的舞台上，其实很多选手上《非你莫属》，最容易被老板点评、置疑的就是诚信问题，很多时候，整场节目都是在挖掘真相；如果没有诚信做基础，有能力也是无效的，有多大的建设性就有多大的破坏性。对人才诚信的要求比什么都重要，小胜靠智，大胜靠德，无论基层还是高层，岗位越重要，素养和诚信就越重要。通过老板点评这个平台，我相信中国职场的风气将越来越健康，我也期待所有求职者都能公平、公正的获得职业舞台，实现自己的人生理念，也期待所有的用人企业也能公平、公正、简单、客观、中立的获得有效的人才，我们一起努力”！
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/2.jpg"></div>
对于用人企业来说，老板点评无疑是直击要害，通过老板良心点评员工的方式，为职场优秀者点赞背书，让职场失信者无处可藏！是企业管理者的好帮手，好管家！而尹总对于老板点评给企业带来的价值，她这样说：“第一，它会让每一个求职的人变得更透明、更真实、更干净；第二，让所有的求职者拥有一个公平、公正、公开、中立客观的竞争平台；第三，对于用人单位来说，可以让我们更精准的使用人才”。
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/3.jpg"></div>
言语之中足见尹总对于老板点评的评价之高、体会之深。对于老板点评人才大数据平台，尹总也寄予了自己的祝福和期望：“因为我是老板，所以我当然要用老板点评！莎士比亚曾经有句话‘当人失去诚信，敌人将先毁灭自己’，今天我想说，不用老板点评就是自我毁灭。希望老板点评早日实现平台的价值”！

尹总为老板点评的发声引起了全场与会嘉宾、企业的共鸣，一句“因为我是老板，所以我当然要用老板点评！”简洁有力，有思想，有态度！希望中国人才诚信体系的建设能够在各方的努力下早日实现！希望老板点评可以在其中发挥越来越大的贡献！我们拭目以待！

