<h2>力破隐私争议问题，法学专家 姚欢庆为老板点评点赞</h2>
<span class="consult-time">17/2/20</span>
中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件中，提出利用大数据、云计算等互联网平台建立失信惩戒机制。在随后2016年12月23日国务院办公厅下发的《关于加强个人诚信体系建设的指导意见》中，加强个人诚信体系建设，推动形成市场性、社会性的约束和惩戒机制已成题中之义。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才诚信大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。此次发布会主题为“诚信职场•创新共享”，由中国职业经理人协会、人民日报社《健康时报》联合主办，多家媒体对此次发布会进行了广泛而详细的报道。
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/27-1.jpg"></div>
在此次发布会上，针对人才大数据平台老板点评的争议点——隐私保护问题，出席本次发布会的特邀嘉宾法学博士、中国人民大学民商事法律科学研究中心副主任、中国知识产权法学研究会副秘书长、常务理事姚欢庆这样讲到：“其实法律的意义，就是整个国家为讲诚信提供制度保障，而人才大数据平台——“老板点评”在职场领域里做了诚信建设这样一个工作，其意义不言而喻”。
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/27-2.jpg"></div>
对于此款人才大数据平台的作用，他这样讲到：“通过老板点评这款产品，一方面，老板可以选聘到优秀员工；另一方面，员工也会发现在每一个阶段，诚实守信对于自己的帮助，从这个角度它对社会诚信建设是有巨大贡献的，并且这款产品考虑到隐私权保护的问题，利用大数据解决中间信息数据的安全保护问题，包括信息安全的问题。我相信对于整个社会来说，是一个很好的范例，希望我们共同努力为整个中国诚信社会的建设做出自己的贡献”！
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/27-3.jpg"></div>
从姚博士的精彩发言中，我们可以了解到人才大数据平台——老板点评初衷是为了构建一个和谐互信的职场环境，建设良好、绿色的职场诚信体系，它将在全社会引起诚实守信的广泛效应，而这也正是我们现如今法治社会所提倡和呼吁的。经多位法学、法理专家的认证，严格实行数据保密和隐私保护制度，具有较高的权威性和实践性，必将成为中国企业人力资源管理的标准动作。