<h2>矢志建立中国人才诚信体系，"老板点评"重磅来袭</h2>
<span class="consult-time">17/02/16</span>
记者日前在北京人民大会堂召开的“从严治党依法治国暨社会诚信”论坛上，聆听了著名人才实践专家王尚峰先生关于“建立有中国特色人才诚信体系刻不容缓”的主题演讲，深有同感，为此，记者在会后专门采访了王尚峰先生


　　据悉，王尚峰先生和中和教育集团的创始人贾齐先生共同投入巨资，耗费近两年时间潜心研发，倾力打造的一款用于创建中国人才诚信体系的移动互联网应用工具——“老板点评”将于2017年2月18日在北京人民大会堂隆重召开首场招商会。

　　在采访中，王尚峰先生提到，人才诚信体系好比高速公路、高铁和通信网络，理应成为国家基础设施建设的一部分。长期以来，中国的人才市场特别是体制外人才市场，其诚信体系处于混乱状态。一方面：一些雇主缺乏诚信，比如企业发布虚假职位招聘、轻率录用或辞退员工、不兑现员工待遇方面的承诺、对员工缺乏尊重等，导致员工不信任雇主。另一方面：一些员工缺乏诚信，个人简历造假约57%、专业面霸60后和70后显著不如80后和90后会应付面试考官、面试及录用爽约约42%、频繁跳槽日本人平均8年跳槽一次，美国人5年，中国人2.5年、消极怠工、吃里扒外、不辞而别等各种员工失信现象也导致雇主不信任员工。

　　王尚峰先生认为，人与人之间最为宝贵的东西是信任，体现到职场上也是如此。员工和企业本应该是利益共同体，肝胆相照、风雨同舟，如此方能一起为企业、为社会提供服务，创造价值。假如雇主和员工之间缺乏信任，哪怕是一部分人缺乏信任，都会浪费大量的社会成本，降低社会效率，吞噬社会资源。李克强总理曾说过中国经济正在由“人口红利”向“人才红利”转型。毫不夸张地说，人才诚信的缺乏会吞噬中国的人才红利，进而对中国的经济造成消极影响。在2016年3月，中共中央9号文件《关于深化人才体制机制改革的意见》中也着重提到“充分运用云计算和大数据等技术，为用人主体和人才提供高效便捷服务。扩大社会组织人才公共服务覆盖面，完善人才诚信体系，建立失信惩戒机制”。作为社会组织通过科技创新打造的全新产品，“老板点评”正是响应了中央精神的这一伟大号召，矢志不渝地完善人才诚信体系，建立失信惩戒机制。因而，无论是从积极响应国家号召层面还是从市场需求层面,老板点评都具有更加广阔的市场空间和社会价值。

　　王尚峰还深刻分析了中国当前缺乏人才诚信的原因。他认为，造成目前中国人才缺乏诚信主要有三个原因。首先是中国传统的教育把雇主和雇员描绘成严重对立的阶级，资本家是万恶的，是剥削者。从而在人才的潜意识里造成不信任雇主的成见，有些人才在对企业有任何不诚信行为的时候，往往觉得自己是在跟剥削阶级做斗争，不仅没有愧疚之心，反而有莫名其妙的道德理由。其次是我国现行的《劳动合同法》，过多地保护了员工的权利而忽视了雇主的权利，比如员工随时可以不管不顾地炒掉老板，而老板要想炒掉员工就得付出相当大的代价。最后是中国体制外人才的档案，大学毕业之后“积成僵尸”。大学毕业后到体制外就业，人才档案就存放在户籍地的人才交流中心，除了每年交存档钱，就再也没有更新了。如果一个人才的履历，没有被公正记录，想想人才屡屡发生失信行为，也是很自然的事情了。古时候的皇帝，贵为天子但依然不敢为所欲为，不就是因为有史官记录和评价其言行吗?新品“老板点评”显然受到了古人的启发。正是以上三个原因，导致中国人才诚信的缺失。当然，人才诚信缺失，也只是当下中国整个社会诚信缺失的一个缩影而已。

　　王尚峰先生回忆其在2016年初看到的一篇在网络上被浏览几千万次的文章——《2016老板挺住别哭》时，感叹道老板们真的太不容易了!中国创业企业每年90%会破产失败，可见老板们承受了常人难以想象的压力。在缺人才、缺资金、缺资源的情况下，一方面要保证养活员工，让企业生存下去;另一方面还要殚精竭虑谋求企业发展。如果说这些本来就是要老板们承受的，那么人才诚信的缺失显然是额外负荷在老板双肩上的一把尖刀。

　　王尚峰先生激动地说，你可以采访一下中国大大小小的老板，有谁没有经历过说走就走的员工?有谁没有经历过简历造假的员工?有谁没有经历过不为公司创造价值但却天天牢骚满腹的员工?所以，“老板点评”就是一款矢志建立中国人才诚信体系，让天下没有难管员工的职场神器，是这个寒冷的季节送给全国老板们的一个特别的礼物。这份礼物包括人才背景调查、员工工作评价、员工离任报告、老板圈与免费人才招聘等功能，能够帮助老板建立与员工之间的信任关系，并有效管束员工，它将会在老板圈子里广泛使用——“2017老板们再也不用哭泣”!


　　采访快结束的时候，王尚峰先生郑重地说到，“老板点评”将于2017年2月18日在人民大会堂隆重召开首场发布会!届时全国工商联领导、中国职业经理人协会会长、中国人才学创始人王通讯先生以及中国某首富隔壁老王先生等大咖将云集人民大会堂现场见证“老板点评”首发，热烈欢迎有志于中国人才诚信建设的相关领导、全国企业家们、专家学者以及人力资源同行们一起共享盛举，共享巨大的社会价值和经济价值。

