<h2>2017，拯救老板的神器来了</h2>
<span class="consult-time">17/01/20</span>
近年来，面临国内实体经济下滑、消费市场萎缩和社会诚信体系，尤其是国内职场诚信体系缺失的现状，给不少创业者和老板们带来了诸多的困惑和无可奈何。在经济和市场不景气的大环境下，举社会之力解决职场诚信问题已然刻不容缓，成为每一位老板和创业者亟待思考和解决的问题。
在职场中，不乏有这样的现象，许多择业者简历造假，出现学历、身份和工作经历虚假的不良、不实现象，让用人单位和老板们头疼不已。更有甚者，从一家单位离职之后，为一己私利而泄露原单位客户信息和资料，这无疑给原单位造成不小的经济损失和信息流失，也从侧面折射出国内职场诚信体系在社会和大众心目中的缺位，更关乎每一位老板的切身利益。面对这些问题，各位老板们又该如何面对？
根据2016年12月23日国务院办公厅下发的《关于加强个人诚信体系建设的指导意见》，加强个人诚信体系建设，推动形成市场性、社会性约束和惩戒机制已成题中之义。而褒扬诚信，惩戒失信，提高全社会信用水平，营造优良信用环境更离不开我们每一位职场人，尤其是老板们以及企业管理者的共同努力。
为响应中央号召，解决职场诚信问题，构建和谐互信职场，纯净职场环境，著名人才战略实践专家王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的一款用于创建中国人才诚信体系的移动互联网应用工具——“老板点评”，将于1月20日正式上线。从此，让天下没有难管的员工，为每位老板去除人才管理和企业发展的后顾之忧！
 
“老板点评”是一款站在老板和企业管理者的角度开发的一款职场神器，主要功能包括员工档案、阶段工作评价、离任报告、背景调查、招聘等。致力于打造和谐互信的职场环境，为老板和企业管理者在员工管理、人员选聘和人才培养等方面提供高效、有力的帮助。基于首创的员工评价体系，高效管理和约束员工，真正做到“为职场优秀者背书站台，让职场无信者无路可去”。
 
据了解，此款老板神器即将于1月20日全国正式首发，并将于2017年2月18日在北京人民大会堂隆重召开首场招商会，届时将邀请众多权威人士和行业专家一同见证这一历史性时刻。希望更多的有志人士、商界精英、创新人才与之一道，为构建和谐互信职场、建设中国职场诚信体系而努力。此举对于一名企业管理者而言，关乎自身利益，关乎社会发展，关乎价值观体系建设。
