<h2>1月21日老板点评首日注册量破万，首战告捷</h2>
<span class="consult-time">17/02/16</span>
1月20日，一款名为“老板点评”的职场神器，一夜之间火爆了一众老板圈子，口口相传，刷爆了众多老板、企业管理者和人力资源从业者的朋友圈。从而，引发了许多行业媒体、人力资源专家和专业人士的高度关注，纷纷对此事件进行宣传报道和深度挖掘。
1月21日，据权威媒体发布的消息显示，老板点评自昨日正式发布以来，官网首日注册量已经破万，数据仍在不断更新中，可谓首战告捷。看来，此款拯救老板的职场神器已经备受大众，尤其是各位老板和企业管理者的青睐，必将成为企业进行人员管理和人才培养的一把利器。
老板点评作为一款职场神器，不同于以往的一些人力资源软件，不单单具有常规招聘、求职的功能，更是基于建设中国职场诚信体系的初衷，首创员工评价体系，能够有效帮助老板与员工建立信任关系，致力于引领打造和谐诚信的职场环境。其内容涵盖人力资源主要领域和模块，包括员工档案、员工阶段评价、离任报告、背景调查、招聘等。老板或人力资源部门可以对员工进行建档、阶段性工作评价及离任评价。同时也可以免费发布职位，通过背景调查功能查询求职者的历史雇主对其的评价，作为人员聘用的有效参考，真正做到为职场优秀者背书站台，让职场无信者无路可去。
