<h2>中国职业经理人协会高级顾问、创会会长、原吉林省省长洪虎为“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”发言</h2>
<span class="consult-time">17/02/22</span>
根据中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件，提出充分运用云计算和大数据等技术，为用人主体和人才提供高效便捷服务，扩大社会组织人才公共服务覆盖面，完善人才诚信体系，建立失信惩戒机制。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/1.jpg"></div>
会上，由中国职业经理人协会高级顾问创会会长、原吉林省省长洪虎先生做了主题发言，洪虎会长就职业经理人诚信评价的一些特点作了深入浅出的分析，指引中国人才诚信建设。
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/4.jpg"></div>
他讲道：“诚实守信是职业经理人职业资质评价的一项重要内容，职业资质的诚信评价是三个评价系统的综合评价，分别是职业经理人自我评价系统、职业经理人才市场评价系统、择人企业及出资人评价系统。而且职业资质着重从道德修养层面对诚信进行评价，即：坚守职业、敬业履职、诚实守信、遵纪守法、社会担当、敬业敬职六项内容。”最后，洪会长就职业资质诚信评价的主要内容做了详细阐述，“首先作为公民道德的诚实守信，即我们所说的公德部分的诚信内容；其次是作为企业经营管理人员从业道德的诚实守信，即我们所称的商德中的诚实守信；第三作为企业经理、高级管理人员任职道德的诚实守信，即我们所说高管官德诚实守信的内容；第四作为职业经理人与职业身份相匹配的职业道德的诚实守信内容，即我们所说的职德。职业经理人的诚实守信应该是综合这四个层次的评价”。
<div class="imgmother"><img src="http://03.imgmini.eastday.com/mobile/20170219/20170219181101_277c77eb987fe085ef12aa81535263f5_1.jpeg"></div>
洪会长这一番精彩的演讲，深入浅出的道明了关于职业诚信我们应该去评价什么人、评价什么内容、如何评价等方面的内容，它一定会成为未来人才大数据平台——老板点评构建职场诚信过程中所参考的依据。美好的蓝图需要高瞻远瞩的计划，踏实的成果也需要众人齐心协力去拼搏！
