<h2>关于开展知识产权快速协同保护工作的通知</h2>
<span class="consult-time">17/02/16</span>
国知发管字〔2016〕92号

各省、自治区、直辖市知识产权局，局机关、专利局有关部门、局直属有关单位：

为深入贯彻党中央、国务院关于实行严格的知识产权保护的决策部署，进一步深化知识产权维权援助与快速维权工作，加快建立产业知识产权快速协同保护机制，切实完善产业知识产权保护体系，促进产业结构调整和转型升级，我局决定在有条件地方的优势产业集聚区，依托一批重点产业知识产权保护中心，开展集快速审查、快速确权、快速维权于一体，审查确权、行政执法、维权援助、仲裁调解、司法衔接相联动的产业知识产权快速协同保护工作，并授予“中国（××①?××②）知识产权保护中心”（①为具体“地区”，②为具体“产业”）称号（以下简称“保护中心”）。现就有关事项通知如下：

一、工作内容

（一）完善快速维权工作

1.全力推动快速维权工作。加大保护中心对专利执法办案工作的支持力度，建立健全专利执法委托办案机制，大力简化办案程序，积极协助快速办理专利侵权纠纷等案件，促进办案效率的进一步提升。

2.全面开展举报投诉工作。在保护中心开通12330知识产权举报投诉热线电话，对接全国知识产权维权援助与举报投诉网络平台，建立举报投诉快速反应机制，实现快速受理、快速处理、快速反馈。

3.积极构建优势产业线上维权机制。保护中心应加快对接大型电子商务平台，建立集聚产业线上专利保护合作机制，积极推进线上专利侵权判定咨询工作。

4.切实加大对失信行为惩戒力度。建立产业集聚区知识产权失信“黑名单”，将存在重复侵权、假冒专利、拒不执行行政决定、连续提交非正常申请及违法违规从事专利代理者列入“黑名单”，在一定时间内禁止其通过快速审查通道申请专利。

（二）深化快速审查、快速确权工作

1.有序拓展快速审查的权利类型。根据产业发展实际需求，有效运用专利优先审查等工作机制，积极优化审查程序，合理配置审查资源，全面开展发明、实用新型和外观设计专利申请以及专利复审无效请求的快速审查工作。

2.合理延伸快速审查的产业领域。根据集聚产业、优势产业发展需求，将快速审查由单一领域向相关领域拓展。

3.协同提升专利质量。明确保护中心工作人员条件要求，加大业务培训工作力度，提升人员业务水平，提高队伍稳定性，保障各项工作顺利开展。进一步严格专利申请的主体条件、格式、内容的预先审查，建立健全快速审查质量检查与奖惩机制，协同促进专利质量的稳步提升。

4.快速出具专利权评价报告。根据产业发展实际需求，建立快速出具实用新型和外观设计专利权评价报告的通道。

（三）推进知识产权保护协作

1.推进完善行政与司法衔接机制。积极推进建立专利侵权案件行政调处前置制度、诉中委托调解制度和专利纠纷行政调解协议司法确认制度，推进设立知识产权巡回审判法庭。

2.促进建立社会调解与仲裁机制。有序推进与各类社会调解及仲裁机构的合作，形成多途径保护知识产权的合力，协同化解各类知识产权纠纷。

（四）推动专利导航与知识产权运营工作

1.建立专利导航产业发展工作机制。根据当地相应的优势产业特点，建立产业专利数据库，跟踪国内外产业专利布局态势，预警产业专利风险，引导产业专利布局，围绕产业关键领域核心技术，加强专利导航工作与快速审查联动，积极培育高价值核心专利。

2.推动产业知识产权运营。根据当地相应的优势产业发展需要，充分利用保护中心全链条服务资源，加强保护中心服务能力建设，与行业协会、产业知识产权联盟及龙头企业深度合作，探索开展具有产业特色的知识产权运营服务，推动行业知识产权联合创造、集成管理、协同运用和自律保护。
　
二、保护中心的申报与审批

（一）申报条件

1.申请的主体为地级及以上城市或地区。

2.当地相应的优势产业产值在全国同类产业的产值占比中居于领先地位。应结合产业实际需要和本地的相应条件，选择开展快速审查、快速确权的类别（外观设计专利类、发明和实用新型专利类、三种专利类），相应类别专利的申请量、授权量或有效专利量以及发明创造质量在全国同类产业中占比居于领先地位，相关产业对知识产权保护需求强烈。

3.专利行政执法办案量在同类城市（地区）中居于前列，当地的专利行政执法工作绩效考核结果位居全国同类城市（地区）前三分之一，或本省份前列。

4.当地政府重视知识产权队伍建设，能对保护中心的建设提供必要保障（参见附件）。

5.申请的主体一般应为国家知识产权强市创建市、知识产权试点、示范城市，或者设立了国家专利导航产业发展实验区的城市；同样条件下，优先考虑以上城市的申请。

（二）申报与审批

申报建立保护中心的城市（地级及以上）或地区，由当地政府向所在省（自治区、直辖市）知识产权局（以下简称“省知识产权局”）提交书面申报材料，申报材料应围绕申报条件，明确和细化相关内容，并提出保护中心建设方案，包括工作目标、工作措施及保障条件。省知识产权局审核通过后，以推荐函形式报请我局审批。申报的地区如为省、自治区、直辖市，则由地方政府直接申报。

我局按照客观、公正的原则，对申报材料完备、条件基本具备的地区组织现场考察，综合考虑申报主体的条件与需求，择优批复设立保护中心。
　
三、工作要求

省知识产权局应积极推进保护中心各项建设，对保护中心的建设和工作情况进行指导与检查；协调地方政府，在政策法规制定、队伍建设及条件支持等方面，加大对保护中心的扶持力度。保护中心所在地知识产权局应建立保护中心建设工作责任制；研究制定工作方案，指导各项业务工作，对保护中心工作人员进行业务培训；委托保护中心开展执法办案工作；保证人员到位，确保人员素质符合岗位需要；配合监控并处理可能出现的非正常申请。

地方政府应建立由政府领导牵头、各相关部门参与的领导工作机制，积极支持保护中心的条件建设、队伍建设，协调推进行政执法与司法保护的有效衔接，推动建立知识产权巡回审理机制。

保护中心应制定高效的知识产权侵权假冒案件办理流程，根据委托或授权加强快速办案工作，确保办案质量，提升办案效率，假冒专利案件和外观设计侵权案件一般在十日内办结，发明及实用新型侵权案件一般在一个月内办结。根据快速审查、快速确权的类型，细化工作流程，及时进行预审，确保预审工作质量与效率。严格遵守专利申请受理及审查过程中的保密规定。

四、督导与考核

我局对保护中心的建设与运行给予监督指导，加强对保护中心工作人员的上岗培训和能力提升培训，组织业务交流和工作督导活动。组织对各保护中心的年度绩效考核，考核内容包括专利侵权纠纷调处情况、预先审查的数量与质量、非正常申请与非规定领域受理情况，队伍建设、条件保障情况，以及工作机制构建运行情况等。对考核不合格（60分以下）或考核名次居后10%的保护中心责令限期整改，对连续两年考核不合格或考核名次居后10%的保护中心，取消其参与快速审查、快速确权及快速维权工作的资格。

特此通知。
附件：保护中心建设需求测算参考表.pdf
　
国家知识产权局
　　2016年11月23日

