<h2>企业用工挂钩信用 个人诚信有记录</h2>
<span class="consult-time">17/01/03</span>
让守信者畅行无阻，让失信者寸步难行。2017，一批新规，从诚信开始。
企业用工与信用挂钩 小心上“黑榜”
无故拖欠、克扣员工薪酬；不依法为员工缴纳社保；违法使用童工……明天起，企业的这些劳动保障违法行为都将被定期曝光，特别严重的将随时曝光。《重大劳动保障违法行为社会公布办法》明天实施，违法企业将被纳入人力资源社会保障社会信用体系。人社部将与工商、金融、税务等多部门共享信息，对企业实行守信联合激励和失信联合惩戒。
与信用挂钩，守住用工底线。
我国首个个人诚信建设文件出台
企业不能失信，个人同样要诚信。我国首个个人诚信建设文件昨天发布，明确提出将以重点领域、重点人群为突破口，推动个人诚信记录机制的建立。重点领域涉及食品药品、交通安全、安全生产、环境保护等。重点人群涉及公务员、企业法定代表人及相关责任人、律师、教师、医师、导游等。此外，还将推进个人诚信信息共享，完善个人守信激励和失信惩戒机制。
守信者畅行无阻，失信者寸步难行，这就是诚信社会。
