<h2>中国人才诚信大数据平台【老板点评】发布会在京召开</h2>
<span class="consult-time">来源：<a href='http://news.cctv.com/2017/02/19/ARTIcBh9p7vo54Jpiztr3jwj170219.shtml'>央视网  </a> 2017/02/19</span>
央视网消息：2017年2月18日，由中国职业经理人协会、人民日报社《健康时报》联合主办的“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”在北京人民大会堂隆重召开。中国职业经理人协会高级顾问创会会长、原吉林省省长洪虎、原国务院新闻办公室副主任杨正泉、中国职业经理人协会会长邵章鸿、中国人才学创始人、原中国人事科学研究院院长王通讯、中国人才交流协会副会长兼秘书长陈军、北京全联职信科技有限公司董事长贾齐等500人莅临了此次发布会。

早在两千多年前，孔子用毕生的精力著书立说，阐述诚信是人立身之本，是国家立业之本，是人类发展之本。据不完全统计，中国有将近6亿的体制外员工，其中白领超过1亿。人才的职业信用形势严峻，而中国人才诚信大数据平台——【老板点评】的推出，实现了职场信用管理的信息化，满足了企业及个人的高信用值带来的职场便利。

诚信是我们的立身之本

诚信是一个人的立身之本，民族的存亡之根。一个不讲诚信的个人是社会的危险品，而一个不讲诚信的民族更是莫大的悲哀。如果没有了诚信就没有了价值，我们将在这个社会上寸步难行。社会诚信的失范、缺失与式微是任何处于社会转型期的国家都要面临的挑战，只有夯实诚信建设这个基础工程，使诚实守信成为全社会共同的价值追求和行为准则，才能夯实人才在社会发展的道德基础，从而为经济社会发展提供有力支撑。

诚信是深入骨髓的文化

诚信精神入骨髓，即文化。有诚信文化，必能塑造口碑。口碑，就是品牌。企业有企业的品牌，个人也有个人的品牌，而属于每个人的品牌，其实源自于我们自己的文化底蕴。

诚实守信不仅是道德范畴，在人才发展的时代中人才与雇主、雇主与人才、人才与人才之间的诚信就显得尤为重要，一点小的瑕疵与怀疑就会被社会这个放大镜彰显的尤为明显。因之，社会诚信问题是转型国家现代化推进过程中必须要完成的一项重要社会治理任务。

招聘成职场失信重灾区

职场诚信，长期以来由于缺乏可供判断和操作的有效工具，企业的诚信文化口号化现象比较突出。

中国职场征信现状堪忧，尤其招聘，无疑为职场失信的重灾区。在企业招聘阶段，失信行为主要有夸大个人工作技能和经验、面试失约、杜撰工作经历及项目经历；在职阶段泄露机密；离职阶段恶意带走核心资料、恶意劳动争议、恶意索要经济补偿的……这些失信乱象，给企业带来直接或间接的损失。因此建立职场征信体系已成为用人单位普遍的、迫切的需求。

诚信大数据打造健康职场环境

根据中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件，提出充分运用云计算和大数据等技术，为用人主体和人才提供高效便捷服务。扩大社会组织人才公共服务覆盖面。完善人才诚信体系，建立失信惩戒机制。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。

会议开始，由中国职业经理人协会会长邵章鸿先生宣布上台致辞。邵会长重点就中国职业经理人协会推进人才诚信建设工作进行了详细发言。

随后，中国职业经理人协会高级顾问、创会会长，原吉林省省长洪虎先生做了主题发言。洪虎会长就目前中国人才诚信现状作了深刻分析，从国家政策指引分析中国人才诚信建设。
<div class="imgmother">
	<img src="http://p1.img.cctvpic.com/photoworkspace/contentimg/2017/02/19/2017021918034929382.jpg">
	　洪虎先生发言
</div>
在此次“老板点评”新闻发布会上，由中国职业经理人协会会长邵章鸿先生、原国务院新闻办公室副主任杨正泉先生、中国航天科技国际交流中心主任邓宁丰、人民日报社《健康时报》副总编李晨玉以及老板点评设计者、北京全联职信科技有限公司董事长贾齐先生、人才战略实践专家 北京全联职信科技有限公司总裁王尚峰先生共同为“中国人才诚信大数据平台——老板点评”进行了盛大的揭幕仪式。在场的所有嘉宾、到场人员一起见证了这一意义重大的历史性时刻！
<div class="imgmother">
	<img src="http://p1.img.cctvpic.com/photoworkspace/contentimg/2017/02/19/2017021918041482515.jpg">
	揭幕仪式
</div>
揭幕仪式结束之后，贾齐就“老板点评”大数据诚信平台的设计理念及使用方法做了相关介绍和详细说明，并隆重介绍了研发团队并上台亮相。贾齐说道：“该平台具有实操简单、普遍适用的特点，符合创新、协调、绿色、开放、共享的发展理念。我们坚信，这款平台的应用能够净化职场秩序，为国家，为社会，为企业，为个人带来切实的利益，将为中国职业信用体系的建立发挥巨大的作用，是一款集社会效益和经济效益于一体的大数据平台”。最后贾齐说到：“我们这支年轻的团队，就像一支雁群，坚定我们的目标和使命，我们必将乘着理想的翅膀远航”。

会中，还开展了专家论坛的活动，丰富了此次发布会内容。本次论坛的主持人是神州投资合伙人、CMCN创始人杜江，出席此次发布会论坛的嘉宾有：法学博士、中国人民大学民商事法律科学研究中心副主任、中国知识产权法学研究会副秘书长及常务理事姚欢庆，经济学博士、企业管理专家、中国人民大学商学院副教授牛海鹏，中国首位人才学博士、畅销书《轻管理》作者丁雪峰，管理学博士、中国移动北京公司人力资源经理赵洪莉，香港国际翼咖啡美食传播有限公司董事长、我们熟知的“神仙姐姐”尹峰，人才战略实践专家、北京全联职信科技有限公司总裁王尚峰等。各位专业人士从不同方向、不同维度就目前的中国社会诚信，尤其是职场诚信问题做了沟通交流和发言，详细阐述了“老板点评”对于构建中国人才诚信体系具有的重要意义和深远影响。　　

<div class="imgmother">
	<img src="http://p1.img.cctvpic.com/photoworkspace/contentimg/2017/02/19/2017021918043343341.jpg">
	发布会论坛照
</div>
随后，中国人才学创始人、原中国人事科学研究院院长王通讯先生为此次大会作了精彩发言。王院长详细阐述了理论结合实际的人才诚信数据平台应用对社会经济发展的贡献和意义，对老板点评大数据平台寄予了美好期望和祝愿！

会议临近尾声之时，原国务院新闻办副主任杨正泉先生为此次发布会作了总结讲话。杨主任对人才大数据平台——“老板点评”的设计理念、社会价值和经济效益给予了充分肯定和鼓励支持，对中国人才诚信建设工作作了美好展望，也对老板点评做了充分的肯定。

2016年6月27日，习近平主席在中央全面深化改革领导小组第二十五次会议上提到“信用惩戒大格局，让失信者寸步难行”，强调要建立健全跨部门协同监管和联合惩戒机制。可见，在中央政策、国务院文件精神的指引和中国职业经理人协会的指导下，此款创新推出的、专业致力于“职业诚信”的互联网+服务平台——老板点评，将成为用人单位提供人才职场诚信的重要参考依据。

通过使用本产品，A企业通过记录离职员工《离任报告》，该员工到B企业通过老板点评查询到该报告，B企业掌握该员工真实职场信息，A企业获得积分（可用于账户消费使用）。同时，企业告知员工本企业使用老板点评记录、评价员工职场行为（包括工作成绩、阶段评价、离职评价等），会对企业现有人员形成明显约束力，极大改善企业员工职场态度。另外，本产品还有背景调查、员工评价、离任报告、老板圈、和免费招聘等功能。

中国人才诚信大数据平台——“老板点评”，通过企业建立员工职场档案实现约束、信任机制的工具，让企业为优秀员工背书站台，使失信者受到惩罚，致力于构建和谐职场环境，打造良性循环的健康职场环境。

