<h2>人才诚信大数据平台“老板点评”发布</h2>
<span class="consult-time">来源：<a href='http://finance.people.com.cn/n1/2017/0220/c153179-29093472.html?from=timeline&isappinstalled=0'>人民网 </a> 2017/02/20</span>
2月18日，由中国职业经理人协会、人民日报社《健康时报》联合主办的“诚信职场·创新共享——中国人才诚信大数据平台【老板点评】发布会”在北京举行。

据不完全统计，中国有将近6亿的体制外员工，人才的职业信用形势严峻，如果在职场上有一小部分人诚信失守将会对周围一大波人才造成影响。根据国务院办公厅印发的《关于加强个人诚信体系建设的指导意见》，加强个人诚信体系建设，推动形成市场性、社会性的约束和惩戒机制已成题中之义。

为解决职场诚信问题，构建和谐互信职场，有关市场机构耗费近两年时间，倾力打造了中国人才大数据平台——【老板点评】。

【老板点评】通过企业建立员工职场档案实现约束、信任机制的工具，让企业为优秀员工背书站台，使失信者受到惩罚，致力于构建和谐职场环境，打造良性循环的健康职场环境。

北京全联职信科技有限公司董事长贾齐介绍说，通过使用【老板点评】，A企业通过记录离职员工《离任报告》，该员工到B企业通过老板点评查询到该报告，B企业掌握该员工真实职场信息，A企业获得报告收益。同时，企业告知员工本企业使用老板点评记录、评价员工职场行为（包括工作成绩、阶段评价、离职评价等），会对企业现有人员形成明显约束力，极大改善企业员工职场态度。另外，本产品还有背景调查、员工评价、离任报告、老板圈、和免费招聘等功能。

中国人民大学商学院副教授、企业管理专家、经济学博士牛海鹏在活动现场点评道：“中国人才诚信大数据平台——【老板点评】有两个价值，第一个价值能够解决诚信的信息不对称，第二个价值是能帮助员工或者是帮助老板成为优秀乃至杰出的员工。”