<h2>重拾诚信，心安是人生最美的享受</h2>
<span class="consult-time">来源：健康时报   2017/03/28</span>
活动背景：近日，由中国职业经理人协会、健康时报社联合主办，北京全联职信科技有限公司承办的“诚信职场•创新共享——中国人才诚信大数据平台发布会”在人民大会堂隆重召开。中国职业经理人协会高级顾问、创会会长洪虎、国务院新闻办公室原副主任杨正泉、中国职业经理人协会会长邵章鸿、中国人才交流协会副会长兼秘书长陈军、北京全联职信科技有限公司董事长贾齐、全联职信CEO、人才战略实践专家王尚峰等500人莅临发布会。

说假话、假文凭、假发票、考试作弊、假医假药……失信问题，让生活变得更加有负担。

正如中国人民大学民商事法律科学研究中心副主任姚欢庆所说，我们现在这个社会很容易出现“相互投毒”的现象，而诚信建立是破解之道。因为只有在一个人人、处处都讲诚信的社会里，我们才会心安，而心安是人生最美的享受。

生活轻上阵

真正诚信的轻生活是什么样的呢？

中国首位人才学博士丁雪峰曾去香港参加会议，身上带的港币不够，就跟导师借，导师说得很简单，只要写张支票传真过去就行。“这能当钱嘛？有时人民币都有假。”导师却说，如果有人敢在这造假，就没有第二次机会了。幸福的生活不是拥有更多的物质，而是轻松上阵，依旧游刃有余。

可是，多的杂物能扔掉，不健康的生活习惯能改，人与人之间掺杂在失信里的生活却很难，因为信息的不对称。中国人民大学商学院副教授牛海鹏这样介绍信息的不对称：“我在这个单位的表现，下一单位的老板是不知道的，我在外边的表现家里的老婆不知道。”而要解决信息的对称，我们就能将复杂的生活简单化。

于是，如今的购物网站纷纷启用了好评、差评、标星的服务。最终目的是让大家都履行诚信，生活中的诚信，就“要诚心，不欺诈；相互相信，你信我，我信你”。当大家都不用为算计他人费心，就能享轻装上阵的生活了。

工作诚为信

“金三银四”是职场里的一句行话，说的是春季的“跳槽潮”，正如国务院新闻办公室原副主任杨正泉所说，现在员工的流动性大，他们不懂得需要在企业发展当中如何积累自己的业绩、积累自己的诚信。全联职信CEO、人才战略实践专家王尚峰给出一组数据，中国体制外人才六亿，简历造假的75%，中国每两年零六个月跳一次槽，日本人是十年才跳一次槽，美国人是五年。

老板们最不愿意要的是失信的员工。咖啡之翼董事长尹峰提到，在求职节目《非你莫属》中，最容易被老板点评置疑的是诚信问题，整场节目都是在挖掘真相。无论从基层还是高层，岗位越重要素养和诚信越重要。

其实，诚信落实到个人的工作上，说的就是安心工作，而中国移动北京公司人力资源经理赵洪莉认为，对于个人来讲，诚信不仅是一种品质更是一种责任。

何况，诚信本身对我们自己的职场之路是有益的。尹峰介绍，诚信职场除了可以使聘用求职者的时候，时间成本和效率都会降低外，还能让用人单位更精准地使用人才。每个人都有不同的特点和优势，你可能没发现，但识人用人的老板们发现了，并将你的优势都展现，这其实是对你的事业都有帮助的。

对于诚信评价体系来说，中国职业经理人协会高级顾问、创会会长洪虎引用了职业资质的诚信评价加以解释，职业经理人自我评价系统、职业经理人才市场评价系统、择人企业及出资人评价系统这三个评价子系统都要对被评价人的诚实守信情况进行评价，只不过是评价的角度、要素、项目、内容和标准各不相同。分别给出评价结果，不设置权重系数，以便给用人单位一个参考。

老板安心用人，员工安心工作，这就是诚信职场。

平台介绍：

老板点评大数据平台：通过大数据为老板和企业管理者在员工管理、人员选聘和人才培养等方面提供高效服务，这也是对职业经理人进行信用评价的一个初步探索。通过企业建立员工职场档案实现约束、信任机制的工具，让企业为优秀员工背书站台，使失信者受到惩罚，打造良性循环的健康职场环境。

北京全联职信科技有限公司董事长贾齐介绍，通过使用老板点评，A企业通过记录离职员工《离任报告》，该员工到B企业可在老板点评查询到该报告，B企业掌握他的真实职场信息，A企业获得报告收益。同时，企业告知员工本企业使用老板点评记录、评价员工职场行为（包括工作成绩、阶段评价、离职评价等），会对企业现有人员形成明显约束力，极大改善企业员工职场态度。另外，本产品还有背景调查、员工评价、离任报告、老板圈、和免费招聘等功能

相关阅读：

重拾诚信之分解动作

正如王尚峰外公在他很小的时候教育他的“人无信不立”，可是，有时候因为一个不小心的错，他人对你失信的认识就会像雪球一般，越滚越大。我们该如何重拾诚信形象呢？不妨做下面几个分解动作。

1. 完整地接纳自己

失去了别人对自己的信任，就像被扒光了衣服在大街上走一般。不妨先找个地方坐下来深深地呼吸，直到自己平静下来。丁雪峰提及，心理学里经常讲“完整地接纳自己”，就是接纳自己是不完美的，试着对自己说：“没有关系，你可以表现不好。”

2. 向受影响的人道歉

你的不诚信，有可能你不是有意的，或者有属于你自己的原因。就如尹峰提到的，在“非你莫属”的舞台，有人之所以作假把简历弄得很光鲜，是因为大家都这样做。可你的不诚信行为给别人带来了困扰，不妨将你的诚意表达出来，主动承担责任会得到他人的尊重。

3. 用点滴行动重塑诚信

重新获得别人的信任，需要用点滴的行动重塑。贾齐建议，如果你的失信导致工作出现了漏洞，那应积极主动去解决危机。如果是因为找工作时诚信出了问题，新单位的领导对你不认可，不妨勤做事，将领导安排的琐事都做好。

4. 刷新你的诚信记录

如果是职业失信，我们只要诚信做事，在离职时老板给出具一个诚信报告，或在【老板点评】这样的诚信数据平台刷新一下记录就可以了。但如果是生活中的诚信记录，不妨利用聚会，让大家对你多一些了解，一次、两次，三次……大家不仅能看到你的变化，还能在与别人的交流中，重新获得你的诚信信息。

