<h2>中国职业经理人协会会长邵章鸿为“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”致辞</h2>
<span class="consult-time">17/02/22</span>
2017年2月18日，由中国职业经理人协会、人民日报社《健康时报》联合主办的“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”在北京人民大会堂隆重召开。 
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/1.jpg"></div>
根据中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件，提出充分运用云计算和大数据等技术，为用人主体和人才提供高效便捷服务，扩大社会组织人才公共服务覆盖面，完善人才诚信体系，建立失信惩戒机制。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。
 <div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/5.jpg"></div>
会议开始，由中国职业经理人协会会长邵章鸿先生上台致辞。邵会长首先对各位领导、嘉宾的出席表示衷心的感谢；随后，重点就中国职业经理人协会推进人才诚信建设工作进行了详细发言。
<div class="imgmother"><img src="http://www.shuju.net/Data/ueditor/image/20170220/1487556465761263.png"></div>
他讲道：“中国职业经理人事业是在我国一项艰难而伟大的事业，需要在现有企业经理人制度的基础上，着重建立社会化的职业经理人资质评价制度，市场化职业经理人择人求职公共服务制度和行业自律的职业经理人持续管理与提高制度，从而提高我国经理人整体素质，推进中国职业经理人事业的全面发展。人才大数据平台“老板点评”是一个通过大数据为老板和企业管理者在员工管理、人员选聘和人才培养等方面提供高效、有利、帮助的工具，也是对职业经理人进行信用评价的一个初步探索，在中央提出加强三大信用建设的背景下，该平台的推出恰逢其时，我们希望我们共同努力，为进一步提升中国职业经理人诚信水平而共同努力。”
<div class="imgmother"><img src="{$Think.config.resources_site_root}/pc/new_images/6.jpg"></div>
2016年6月27日，习近平主席在中央全面深化改革领导小组第二十五次会议上提到“信用惩戒大格局，让失信者寸步难行”，强调要建立健全跨部门协同监管和联合惩戒机制。可见，在中央政策、国务院文件精神的指引和中国职业经理人协会的指导下，此款创新推出的、专业致力于“职业诚信”的互联网+服务平台——老板点评，将成为为用人单位提供人才职场诚信的重要参考依据。

确实，正如邵会长所言，建设中国人才诚信体系，提高职业诚信水平，需要全社会的共同努力才能实现，而老板点评便是这条探索人才诚信道路上的金钥匙。我们期待在不久的将来，它所发挥的巨大社会效益以及为中国社会经济的发展做出的贡献。
