<h2>丁雪峰：老板点评或将引领职场轻管理之风</h2>
<span class="consult-time">2017/03/28</span>
中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件中，提出利用大数据、云计算等互联网平台建立失信惩戒机制。在随后2016年12月23日国务院办公厅下发的《关于加强个人诚信体系建设的指导意见》中，加强个人诚信体系建设，推动形成市场性、社会性的约束和惩戒机制已成题中之义。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才诚信大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。此次发布会主题为“诚信职场•创新共享”，由中国职业经理人协会、人民日报社《健康时报》联合主办，多家媒体对此次发布会进行了广泛而详细的报道。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/1.jpg">
</div>
会上，各领域专家、社会组织、企业代表都从不同的维度发声，阐述了中国人才诚信大数据平台的现实意义。作为中国首位人才学博士、畅销书《轻管理》作者的丁雪峰先生从职场管理和员工管理的角度切入，详细阐述了老板点评所发挥的作用。他讲到：“从轻管理的角度，思考老板点评作为大数据平台，其价值体现在哪些方面？我想最大的价值就是能够积累体制外工作人员的评价档案，这个记录非常重要的。人才大数据平台老板点评，对于整个国家用人管理体系都是非常有益的补充，体制内人的工作经历每年都会有一个考评，比较准确反映了过去的成绩；那么，体制外的人谁来记录？今天老板点评就是做这样一件事，建立职场诚信体系。所以我觉得人才大数据平台能够让用人准确加倍，效率加倍”。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/n2.jpg">
</div>
而后，丁博士对于大数据平台——老板点评给出了自己的建设性意见，他讲到：“未来，这款产品一定是需要改进的，也要让更多的员工也加入进来，形成一个社群，这样对人的评价是多面的，信息也更加立体化、多元化。对于中国人才体系建设来讲，体制外这六亿人将形成一个非常重要的用人评价制度，对社会价值很大，很可能成为一棵参天大树”。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/n3.jpg">
</div>
相信人才诚信大数据平台将会越来越完善，越来越起到真正的约束作用，纯净职场环境。正如丁博士所言，我们也无比期待老板点评能够成为人才领域的独角兽公司，成为中国企业人力资源管理的标准动作！拭目以待！