<h2>杨正泉：老板点评将诚信文化继承与发扬并举</h2>
<span class="consult-time">2017/03/28</span>
中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件中，提出利用大数据、云计算等互联网平台建立失信惩戒机制。在随后2016年12月23日国务院办公厅下发的《关于加强个人诚信体系建设的指导意见》中，加强个人诚信体系建设，推动形成市场性、社会性的约束和惩戒机制已成题中之义。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才诚信大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。此次发布会主题为“诚信职场•创新共享”，由中国职业经理人协会、人民日报社《健康时报》联合主办，多家媒体对此次发布会进行了广泛而详细的报道。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/n4.jpg">
</div>
会上，原国务院新闻办公室副主任杨正泉先生为此次发布会作了总结讲话。他讲到：“第一，诚信已经作为德治当中一项重要内容列入了社会主义核心价值观。诚信问题不仅是继承的问题，更要结合现实发扬光大。第二，人才诚信大数据平台——老板点评符合企业发展规律和现实。第三，诚信的建立，需要老板点评但同时需要一个大环境，否则就只是企业的点评合作，成效慎微，而这个大的气侯需要逐步形成，就需要在座的各位共同努力构建。第四，需要舆论、新闻媒体的积极支持、正面报道和大力推进，形成一个尊重、发展人才的氛围，加强诚信建设，才能使企业和各项事业取得健康、有序的发展”。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/n5.jpg">
</div>
杨副主任通过以上四点展望诚信建设，可谓简明扼要、直击要害。而建设中国人才诚信体系，发扬诚信核心价值观，仍需要全社会的共同努力才能实现，而老板点评便是这条探索人才诚信道路上的金钥匙。我们期待在不久的将来，它所发挥的巨大社会效益以及为中国社会经济的发展做出的贡献。