<h2>王通讯：老板点评是显微镜，透视职场诚信问题</h2>
<span class="consult-time">2017/04/02</span>
中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件中，提出利用大数据、云计算等互联网平台建立失信惩戒机制。在随后2016年12月23日国务院办公厅下发的《关于加强个人诚信体系建设的指导意见》中，加强个人诚信体系建设，推动形成市场性、社会性的约束和惩戒机制已成题中之义。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才诚信大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。此次发布会主题为“诚信职场•创新共享”，由中国职业经理人协会、人民日报社《健康时报》联合主办，多家媒体对此次发布会进行了广泛而详细的报道。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/27-1.jpg">
</div>
会上，中国人才学创始人、原中国人事科学研究院院长王通讯先生为此次大会作了精彩发言，王院长主要从诚信内涵论、诚信资本论、诚信进化论和诚信建设论四方面做了详细介绍，他讲到：“所谓诚信内涵论，即诚者信也，信者诚也。中国历史上第一个讲诚信的人是管仲，古人讲诚信有三方面的含义：诚心，不欺诈；相互相信；履约。那么，现代社会的诚信大概意思更加丰富了，主要包括遵纪守法、履行承诺、对不合法和无法承受的承诺应施以法律严守、对意外没有履约的承诺应及时补救、善意对待利益相关方等等。其次，诚信也是一种资本，职场诚信是我们的通行证，是黏合剂，是关键要素，讲诚信就会大大提升社会资本，此为诚信资本论。第三，过去讲诚信范围是熟人间的，现在讲的是社会诚信，全世界诚信；过去讲诚信是道德层面，今天已经上升到了法制层面；现代社会还融入了很多新的内容，如关注弱势群体、谋财有度、对大自然各种资源的消耗不能过度等等，此为诚信进化论。第四，国务院、人力资源部的文件中已经多次提到诚信建设，而当前诚信建设我想有几个路径可以参考：要在这些文件的基础上更加注重制度建设，形成制度保障；建立失信惩戒机制，转变以往观念，加强警戒；政府部门、管理部门、各机构要树立模范意识，带头讲诚信；在全社会大力倡导诚信文化，把守信、履约当作美德宣扬；以大数据形成诚信监督，大数据就是望远镜，是显微镜，是方向盘。所以人才诚信大数据平台——老板点评将在人才诚信方面起到很大的作用，我们要充分利用，我非常崇敬他们，为社会发展、人才诚信事业做出了巨大贡献，希望大数据平台越做越好”！
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/n1.jpg">
</div>
王院长将老板点评大数据平台比喻为“望远镜”、“显微镜”、“方向盘”，确实，老板点评首创员工评价体系，为构建职场诚信体系做出巨大努力，站在了行业前端。它自身全面、特殊的“5+1”功能，就犹如显微镜一般透视职场中隐藏的秘密；同时，我相信，老板点评必将成为中国企业人力资源管理的标准动作，为中国职场诚信这面大旗把准航向！