<h2>中国职业经理人协会高级顾问、创会会长洪虎为老板点评发布会发言</h2>
<span class="consult-time">2017/03/28</span>
2017年2月18日，由中国职业经理人协会、人民日报社《健康时报》联合主办的“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”在北京人民大会堂隆重召开。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/1.jpg">
</div>
根据中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件，提出充分运用云计算和大数据等技术，为用人主体和人才提供高效便捷服务，扩大社会组织人才公共服务覆盖面，完善人才诚信体系，建立失信惩戒机制。

为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/4.jpg">
</div>
会上，由中国职业经理人协会高级顾问、创会会长、原吉林省省长洪虎先生做了主题发言，洪虎会长就职业经理人诚信评价的一些特点作了深入浅出的分析，指引中国人才诚信建设。
<div class="imgmother">
	<img src="{$Think.config.resources_site_root}/pc/new_images/n6.jpg">
</div>
他讲道：“中国职业经理人协会（以下简称中职协）已经发布了职业经理人资质评价与认证指引试行2016年版，诚实守信是职业经理人职业资质评价的一项重要内容，中职协与评价中的诚实守信有一些新的认知。其特点是：

   一、职业经理人的职业资质评价是特指对职业经理人进行的职业资质评价。

1、职业经理人是企业经理人中的一个特定人群，企业员工结构分类大致可以分为企业经营管理人员，企业专业技术人员，企业技能型人员和企业社会工作者四类。企业经理人属于企业经营管理人员，分为四个层次：

（1）企业一般经营管理人员。

（2）企业中层经营管理人员。

（3）企业高层经营管理人员。

（4）公司层经营管理人员及企业法人层次的经营管理人员。

企业经理人属于企业法人层次的经营管理人员，当然除了企业经理人企业法人层次的经营管理人员有董事、监事以及企业业主，企业经理人是企业经营中一个特殊的人群，其特点是长期从事企业经营管理工作，在企业中目前担任经理职务并以此作为长期社会职业，以担任企业经理职务工作收入为其主要生活来源，工作调整主要通过人才市场实现的企业经理人，职业经理人是实现了职业化、市场化，包括国际化和专业化企业经理人，可以把他们看作是具有职业身份的企业经理人。

企业经理人可以分为两类：一类是非独立经理人及人才市场不能独立配制的经理人，第二类是独立经理人，即人才市场能够独立配制的经理人。在非独立经理人中我们认为以下是非独立经理人：

（1）股东或业主兼任的经理人。
  
（2）公司的董事、监事兼任的经理人。
   
  （3）企业以外的机构委派到企业的经理人。
   
（4）其他与出资人或业主有关联背景这样的人担任的经理人。

作为独立经理人又可以分为两类：一类把担任企业经理职务仅仅作为一种工作选择的经理人，这部分称作工作经理人。第二类把担任经理职务作为一种特定社会身份选择的，也就是做一个长期社会职业选择的这样的经理人，我们把这种经理人称为职业经理人。

 2、职业经理人资质是有特定含义的一项评价指标，职业经理人资质是职业经理人职业身份、社会认可程度的标志，它不同于职业经理人资格，职业资质包括职业资历和职业素质。职业资历包括职业经理和职业业绩，职业素质包括职业素养、职业能力及技能、职业知识及技术和职业适配度。在职业经理和职业业绩的评价中包括诚实守信的评价，在职业素养和职业适配度的评价中也包括诚实守信的评价。
  
二、诚实守信是职业经理人职业资质评价的一项重要内容，职业资质的诚信评价是三个评价系统的综合评价，分别是职业经理人自我评价系统、职业经理人才市场评价系统、择人企业及出资人评价系统。这三个评价系统都要对被评价人的诚实守信情况进行评价，只不过是评价的角度、要素、项目、内容和标准各不相同。三个评价系统对诚实守信的综合评价不设置权重系数，而是分别列出这三个系统的评价结果，供评价信息采用者自己做出判断。

三、职业资质着重从道德修养层面对诚信进行评价。

人的行为约束边界主要有四个层次。

  1、思想觉悟。
  
  2、道德修养。
    
  3、纪律规范。
    
  4、法律约束。
  
这四个层次都涉及到诚信的内容。比如说思想觉悟中的诚信理念，道德修养中的诚信意识，纪律规范中的诚信规范，法律约束中的诚信约束，职业素养中诚信的评价主要限定于道德修养中的诚信评价，职业经理人职业素质的评价主要包括职业精神、职业道德和职业作风的评价。职业道德中职业道德的评价中职协设置了六项要素，即：坚守职业、敬业履职、诚实守信、遵纪守法、社会担当、敬业敬职六项内容。

四、职业资质诚信评价的内容。

职业经理人职业资质中诚实守信评价主要内容是：说真心话，履约守诺，表里如一，言行一致，这主要属于道德范畴的评价。作为道德范畴又分为四个层次：首先作为公民道德的诚实守信，即我们所说的公德部分的诚信内容。其次是作为企业经营管理人员从业道德的诚实守信，即我们所称的商德中的诚实守信。第三作为企业经理、高级管理人员任职道德的诚实守信，即我们所说高管官德诚实守信的内容。第四作为职业经理人与职业身份相匹配的职业道德的诚实守信内容，即我们所说的职德。职业经理人的诚实守信应该是综合这四个层次的评价，四个层次的评价也不设权重系数，仅直接列出其评价结果，供评价信息使用人自我判断。诚实守信作为职业道德中的一项内容，评价范围不易扩展很宽，墨子对信的释意是“信言和意也”，我们主要从言是否合于意这个角度评价信，至于行把它看作意的外在表达，不要把信拓展为行合于意也，这个“意”就是主意的“意”，至于公民信用的内容社会观点和社会实践中的认知并不完全一致，一般认为信用的范围比诚实守信要宽，职业经理人诚实守信的评价不是其完整的信用体系评价，这样操作起来简单易行。同时要注意把企业经理人个人诚信评价与对企业信用的评价区别开来，这样评价企业经理人诚信才便于实施。

建立诚信评价体系除了要重视对评价什么人、评价什么内容、如何去评价进行研究之外，我觉得还要着重地从评价的视觉和评价的侧重点来进行研究，也就是对于企业经营管理人员的表现，我们更需要从需求方的角度来评价，这是一；第二企业经营管理人员重在市场和经营者的认可，对于市场出资人认可要非常关注”。

相信有了洪会长这一番精彩的演讲，深入浅出的道明了关于职业诚信我们应该去评价什么人、评价什么内容、如何评价等方面的内容，它一定会成为未来人才大数据平台——老板点评构建职场诚信过程中所参考的依据。美好的蓝图需要高瞻远瞩的计划，踏实的成果也需要众人齐心协力去拼搏！