<h2>中国人才交流协会副会长兼秘书长陈军：老板点评助力中国人才诚信建设</h2>
<span class="consult-time">17/2/22</span>
中共中央印发的《关于深化人才发展体制机制改革的意见》（中发【2016】9号）文件中，提出利用大数据、云计算等互联网平台建立失信惩戒机制。在随后2016年12月23日国务院办公厅下发的《关于加强个人诚信体系建设的指导意见》中，加强个人诚信体系建设，推动形成市场性、社会性的约束和惩戒机制已成题中之义。
为响应中央这一政策性号召，解决职场诚信问题，构建和谐互信职场，举贤网董事长王尚峰先生联合中和教育集团创始人贾齐先生，共同投入巨资，耗费近两年时间潜心研发，倾力打造的中国人才诚信大数据平台——“老板点评”于2017年2月18日在北京人民大会堂成功举办了盛大而隆重的新闻发布会。此次发布会主题为“诚信职场•创新共享”，由中国职业经理人协会、人民日报社《健康时报》联合主办，多家媒体对此次发布会进行了广泛而详细的报道。
<div class="imgmother">
    <img src="{$Think.config.resources_site_root}/pc/new_images/46-1.jpg">
</div>
会上，中国人才交流协会副会长兼秘书长陈军从中国人才诚信建设的现状及迫切性方面进行了发言。他讲到：“当前跟随国家诚信建设的步伐，人才诚信建设在探索中做了一些尝试，取得了一些成效，但与社会需求还有差距，与经济社会发展水平还不相适应，人才诚信系统尚未形成，人才诚信意识和水平整体偏低，人才诚信缺失依然严重，人才诚信体系建设亟待加强。”此番讲话可谓一语中的，道出了目前中国人才市场上存在的诚信问题。
<div class="imgmother">
    <img src="{$Think.config.resources_site_root}/pc/new_images/46-2.jpg">
</div>
他继续讲到：“人才诚信大数据平台——‘老板点评’，切中要害，恰逢时期，在中国职业经理人协会指导下积极建立职业诚信体系，让职业失信者受到约束。在一定程度上为推动我国人才诚信体系建设做出了积极贡献，也充分体现了全联职信的大局意识、责任意识和担当意识。但是，人才诚信体系建设不会一蹴而就，任重而道远。当前我国正处于全面深化改革，加快推进社会主义现代化建设的关键时期，也是大力推进诚信建设的有力时机，希望全联职信抓住机遇，将这个项目做大做好，成为标杆项目，起到示范和引领作用，推动企业求职者和第三方服务机构立诚立信，营造良好的人才求职氛围和发展环境”。
<div class="imgmother">
    <img src="{$Think.config.resources_site_root}/pc/new_images/46-3.jpg">
</div>
千里之行，始于足下
正如陈军先生所言，建设中国人才诚信体系，提高职业诚信水平，依然任重道远，需要全社会、全行业的共同努力。希望未来，老板点评能够成为中国企业人力资源管理的标准动作，迸发其巨大的社会价值和经济效益。