<h2>以诚信文化助推法治政府建设</h2>
<span class="consult-time">17/4/12</span>
<div class="imgmother">
    <img src="http://finance.people.com.cn/NMediaFile/2017/0412/MAIN201704121524000579739185550.jpg">
</div>
中国人事科学研究院人力资源市场研究室主任、田永坡博士发表主旨演讲

人民网北京4月12日电（记者孙博洋）12日，由人民网主办的首届中国职场诚信高峰论坛在人民日报社新媒体大厦举行。中国人事科学研究院人力资源市场研究室主任田永坡在论坛上发言时表示，职业诚信不仅关系到单个人，而是关系到全社会和每个人的利益。

田永坡表示，中国正在进入一个职业信息爆发增长的时代。一方面，中国劳动力市场流动性大大增加，另一方面，职业工作复杂程度逐渐增加，和职业工作相关的信息呈爆发性增长的趋势，这对职业诚信都带来了巨大影响。他认为，在一个职业信息爆发的时代里面，职业诚信显得更加重要。

在谈到职业诚信体系建设时，田永坡认为以下几点需要重点把握：

第一，加强职业诚信体系的教育和宣传。让全社会认识到职业诚信关系到每一个人的利益。

第二，运用现代信息技术来推动诚信或者征信记录体系的建设。

第三，必须确保职业诚信信息的权威性。一定要有一个客观权威的第三方来对诚信信息提供客观评价。

第四，对职业诚信信息的使用必须谨慎、严谨。
