<h2>招聘成职场失信重灾区 职场需多些诚信少些套路</h2>
<span class="consult-time">17/4/13</span>
中青在线讯（中国青年报·中青在线记者 杨威 蒋晓斌）4月12日，《2017中国职场诚信调研报告》在首届中国职场诚信高峰论坛上正式发布。

　　《报告》显示，在对全国30多个城市各级企业HR和个人的调查中，83.19%的HR和个人认为中国职场诚信现状不佳，仅有16.25的HR和个人认为中国职场诚信现状“较好，职场失信现象仅是少数”，而选择 “中国职场诚信度很好，人人守信”这一选项的HR和个人低至0.58%。

　　67%的人力资源经理（HR）认为职场失信重灾区在招聘阶段，其中，面试失约、夸大工作技能经验、简历基本信息虚假位列失信行为的前三位。而在背景调查中，常见的失信行为包括：在职时间作假、隐瞒多次跳槽经历、存在负面评价、证明人作伪证和教育背景作假等。

　　看到严峻的职场诚信现状的同时，知了背调CEO王玉更为调查中的这样一组数据感到惊喜：调查中，73%的受访对象对入职背景调查表示认同，他们认为这是一个很现实的职场诚信解决办法。

　　王玉介绍，随着互联网的发展，背景调查也慢慢引入了互联网的因素。随着互联网大数据、政府信息公开、以及远程身份认证等技术的普及，背景调查从成本的降低、效率的提高以及价格的降低，包括在线授权的灵活性，已经越来越成熟。

　　而在中国人事科学研究院人力资源市场研究室主任田永坡看来，诚信是一种自律行为，在解决制度真空方面发挥着重要作用。它一方面可以降低劳动力市场的交易成本，另一方面也是形成良好的职业生态、推动整个市场体系建设的重要组成部分。他说：“提升整个社会的职业诚信程度，需要政府、中介组织、劳动供需双方的共同努力。”

　　论坛上，为倡导企业诚信文化、宣传职场诚信精神，知了背调联合各参会嘉宾单位共同发起成立中国职场诚信联盟。