<h2>以诚信文化助推法治政府建设</h2>
<span class="consult-time">17/4/21</span>
□王彬

　　治国理政，无信不立。诚信是社会主义核心价值观的重要内容，更是法治政府建设的重要方面，培育诚信文化是弘扬法治精神、建设法治政府的伦理基础。

　　诚信与法治有着天然密切的联系。法治的本质是一种对法律权威敬畏的信念，这种信念的伦理基础即是诚信。首先，诚信推动法律制定。法律主要规范人与人之间带有契约性质的社会关系，诚信的伦理及理性促使法律制定者公正地规定人们之间的权利义务，以便得到人们的普遍遵从，使复杂的社会交往有规可循，这是法律得到尊重并有效执行的重要原因。其次，诚信夯实法治基础。政治稳定是建设法治政府的基础。诚信精神作为公共管理机构自身权威和影响力的外在投射，反映出社会公众对公共管理行为的认可与支持。任何执政党只有赢得社会成员的广泛认同，才能维持执政所需的忠诚与信仰，形成凝聚力并由此获得政治稳定。再次，诚信促进法治进程。稳定性是诚信的基本价值，诚信精神不仅要求政策制定不能朝令夕改、决策出台必须于法有据，更体现在急速转型的社会中，为维护社会秩序和公平正义，在实施管理和服务的过程中展现出的对法律的遵从，从而引导全社会树立法治意识，促进社会进步。最后，诚信需要法治保障。法治是实现诚信的最可靠的保障，在法治的环境下，法律规则为人们提供可靠的预期，法律保障诚信行为的实施，并对失信行为给予否定性评价和惩戒性措施。从一定程度上看，法律的适用正是实现诚信的过程。

　　党的十八大以来，我省积极践行以人民为中心的发展思想，把政务诚信作为行政管理的重要准则和法治政府的重要方面大力推进，积极引导各行业各领域形成守法诚信的价值风尚。

　　强化顶层设计部署政务诚信。省委以身作则推进依法治省，制定了《四川省依法治省指标体系》，专章部署政务诚信建设。省政府将加强政务诚信作为推进法治政府建设的重中之重，印发了《四川省社会信用体系建设工作实施方案》，明确了“建立完善信用建设法规制度及标准体系”“全面构建守信激励和失信惩戒机制”等8个方面41项具体措施。

　　坚持立法引领促进诚信理念树立。政务诚信的建立，来自理念、政策、制度和组织能力等方面的优化更新。我省以立法为引领，加快建立促进政务诚信的法规规章，将诚信作为评价领导干部工作实绩的重要内容和执政状况的重要标准，逐级建立政府信用考评机制，使守法诚信成为公务人员最基本的道德理念、职责义务和行为规范。专门制定出台《四川省重大行政决策责任追究暂行办法》，对变更、废止行政决策的权限、程序等作出严格规定，通过对程序的控制避免政府失信行为发生。

　　扩大公众参与增强政府工作透明度。阳光是诚信的最好载体。我省围绕社会公众关心关注的重点领域，大力推进财政预决算、公共资源配置信息、民生工程和公益事业信息公开，切实保障了公众的知情权、参与权和监督权。强化政务新媒体应用，全省“双微一端”政务新媒体矩阵初步形成。统筹运用新闻发言人、政府网站、政府公报、政务微博微信、广播电视等平台及时发布政务信息，以及时、便捷的方式与公众进行互动交流。

　　深化体制改革树立诚信政府形象。改革行政管理体制是建设诚信政府的基础。我省把放管结合、激发市场和社会活力、营造公平竞争环境作为深化改革的落脚点和突破口，改革综合行政执法体制和相对集中行政审批体制，实现政府职能的合理控制和科学配置。开展了政府核准投资事项和行政事业性收费项目清理工作，推进商事登记制度改革，实现了“五证合一”和“一照一码”，让老百姓感受到实实在在的便捷。

　　加强监督追责破解政府失信难题。我省建立健全了权力清单和责任清单制度，强化对行政权力运行的制约和监督，坚决纠正和惩处违法行政、滥用职权、久拖不决、失职渎职行为。以实施《四川省重大行政决策责任追究暂行办法》为契机，建立了全覆盖的行政问责制度，健全了公开道歉、停职检查、引咎辞职、责令辞职、罢免等问责方式和程序，加大对失信行为的惩戒力度，倒逼诚信政府建设。广泛采用第三方评价和公众满意度调查等方式，客观评价政绩情况，避免因完成指标进行数据造假和不履行承诺的行为。

　　风起于青萍之末。诚信增加一分，法治就前行一步。在协调推进“四个全面”的历史新阶段，我们须更加坚定地践行以人民为中心的发展思想，以诚信文化推进法治政府建设，引导全社会形成守法诚信的价值风尚，不断为法治四川建设作出贡献。

　　（作者系省政府法制办副主任）