<h2>民政部、中编办、发改委等多部委下发“关于推进行业协会商会诚信自律建设工作的意见”</h2>
<span class="consult-time">17/01/22</span>
民政部 中央编办 发展改革委 工业和信息化部 商务部 人民银行 工商总局 全国工商联
关于推进行业协会商会诚信自律建设工作的意见

民发〔2014〕225号
各省、自治区、直辖市及新疆生产建设兵团民政厅（局）、编办、发展改革委、工业和信息化主管部门、商务厅（局）、工商局、工商联，中国人民银行上海总部，各分行、营业管理部，各省会（首府）城市中心支行，各副省级城市中心支行，各全国性行业协会商会： 
　　行业协会商会诚信自律建设，对于加强和改进行业协会商会管理，提高行业协会商会公信力，推进行业自律体系和社会信用体系建设，促进社会主义市场经济健康发展具有重要意义。为贯彻落实国务院《关于促进市场公平竞争维护市场正常秩序的若干意见》（国发〔2014〕20号）和《社会信用体系建设规划纲要（2014-2020年）》（国发〔2014〕21号）精神，现就推进行业协会商会诚信自律建设工作提出以下意见。 
　　一、支持行业协会商会参与行业信用建设 
　　（一）建立健全会员企业信用档案。行业协会商会可以根据自身实际情况，研究制定会员企业信用信息收集标准，建立行业内部信用信息收集渠道，建立健全会员企业信用档案，依法收集、记录和整理会员企业在生产、经营中产生的有关信用信息。有条件的行业协会商会可以收集会员企业交易伙伴的信用信息，建立会员企业交易伙伴信用信息数据库，帮助会员企业减少生产和经营风险。 
　　（二）积极开展会员企业信用评价。支持行业协会商会根据各自行业特点，加强与有资质的第三方信用服务机构合作，依法开展行业信用评价工作。信用评价工作要以服务会员企业、促进行业自律、提高行业信用水平为宗旨，遵循会员企业自愿参加的原则。行业协会商会要优化评价指标体系，完善评价操作流程，提升行业信用评价效率，评价方法、标准、结果等应当公开发布并提供查询服务。要依托新闻媒体、内部刊物和协会网站，积极宣传推广信用评价结果，提高诚信会员企业在政府、市场与社会中的接受度和知名度。 
　　（三）加强会员企业信用信息共享和应用。行业协会商会要主动与行业主管部门、国家统一信用信息平台、征信机构以及有上下游产业关系的行业组织进行对接，建立信用信息交换共享机制，为会员企业提供多层次、全方位的信用信息服务。行业协会商会提供的会员企业信用信息，征信机构可予以记载。行业协会商会要加强会员企业信用信息的应用，将会员企业信用信息作为评先评优、市场拓展、行业扶持和奖励等工作的重要参考，加强与商业银行、保险机构等金融机构的合作，帮助信用良好的会员企业获取更多的业务优惠、便利和市场机会。 
　　（四）帮助会员企业提高信用管理能力。行业协会商会可以通过举办培训班、研讨会等方式，加强会员企业信用管理专业知识培训，使会员企业了解、掌握企业信用管理知识，增强信用风险防范能力。可以协助会员企业建立客户档案、开展客户诚信评价，建立科学的信用管理流程和信用风险管理制度，提升会员企业综合竞争力，形成有效的信用风险防范机制。 
　　二、推动行业协会商会建立健全行业自律机制 
　　（五）健全行业自律规约。行业协会商会要根据行业发展要求，研究制定自律规约，积极规范会员企业生产和经营行为，引导本行业的经营者依法竞争，自觉维护市场竞争秩序，充分发挥市场监管中的自律作用。制定自律规约要体现公平公正、诚实信用和正当竞争的原则，不得含有排除、限制竞争的内容，要广泛征求行业企业和有关部门的意见建议，经过专家研究论证，并召开会员（代表）大会审议通过后颁布实施。对于没有制定自律规约的行业协会商会，要抓紧研究制定符合本行业特点的自律规约；已经制定或实施自律规约的行业协会商会，要认真总结经验，不断改进完善，使之更符合实际，针对性更强。行业协会商会要加强自律规约的执行与监督，对违反自律规约的，按照情节轻重，实行警告、行业内通报批评、公开谴责、取消会员资格、向有关部门通报等惩戒措施。推动行业协会商会建立的行业性约束和惩戒机制与政府、市场、社会形成的约束和惩戒机制相衔接，形成联动效应。 
　　（六）制定行业职业道德准则。行业协会商会要按照社会主义核心价值观要求，研究制定行业职业道德准则，规范从业人员职业行为，全面提高从业人员的思想道德素质、科学文化素质和技术业务素质，培育从业人员的职业道德和职业精神，营造诚信执业良好氛围。加大行业职业道德准则宣传力度，推动行业从业人员严格遵守行业职业道德准则。对于违背行业职业道德准则的从业人员，探索建立行业惩戒机制。推动会员企业履行社会责任，探索建立与国际标准相一致、符合行业特点的社会责任指标和评价体系，发布行业社会责任报告，提升行业社会责任绩效。 
　　（七）规范行业发展秩序。支持行业协会商会开展标准化工作。鼓励行业协会商会制定发布本行业的产品和服务标准，积极参与制定国家标准、行业规划和政策法规，不断提高行业产品和服务的质量。行业协会商会要发挥专业调解作用，积极协调会员企业之间、会员企业与其他经济组织之间关系，维护会员和行业整体利益。支持行业协会商会代表会员企业开展反倾销、反补贴、保障措施的调查、申诉、应诉工作，参与协调贸易争议。 
　　三、加强行业协会商会自身建设 
　　（八）完善法人治理。行业协会商会要以章程为核心，建立健全现代法人治理结构和运行机制。要把诚信自律建设内容纳入行业协会商会章程，提高行业协会商会依法自治水平。落实民主选举、差额选举制度，扩大直选范围。建立健全会员（代表）大会、理事会和监事会（监事）制度。完善人事、财务、档案、资产、活动管理、机构管理等各项内部管理制度。行业协会商会负责人和理事会成员要严格按照民主程序选举产生。鼓励选举企业家担任理事长（会长）。探索实行行业协会商会理事长（会长）轮值制。秘书长可以通过选举、聘任或向社会公开招聘等方式产生。 
　　（九）实行信息公开。行业协会商会要主动向会员公开年度工作报告、财务工作报告、会费收支情况以及经理事会研究认为有必要向会员公开的其他信息；向社会公开登记事项、章程、组织机构、接受捐赠、承接政府转移职能以及政府购买服务事项等信息，增加透明度和公信力。行业协会商会要依托统一的信息平台或者自身官方网站进行信息公开，自觉接受会员、新闻媒体和社会公众监督。鼓励广大行业协会商会不断丰富信息公开内容，扩大信息公开范围，创新信息公开方式。 
　　（十）推行诚信承诺。行业协会商会成立登记后，应签署诚信承诺书，并向社会公开诚信承诺书内容。要重点围绕服务内容、服务方式、服务对象和收费标准等进行公开承诺，做到不强制入会，不强行服务，不搞乱评比、乱培训、乱表彰，不超出章程规定的业务范围开展活动。鼓励行业协会商会积极培育诚信服务品牌，增强诚信服务意识，拓展诚信服务内容，创新诚信服务方式，不断提升诚信服务能力。 
　　四、完善保障措施 
　　（十一）加强组织领导。各地要将行业协会商会诚信自律建设与社会组织管理制度改革结合起来，作为一项重要工作纳入议事日程。各级民政、机构编制、发展改革、工业和信息化、商务、金融、工商、工商联等部门和单位要按照本意见的要求，切实加强组织领导，明确职责分工，落实工作责任，形成工作合力。鼓励行业协会商会设立专门的诚信自律工作机构。全国性行业协会商会要发挥带头作用，探索建立健全与国民经济行业发展相适应、覆盖全面、运行有效、作用明显的诚信自律建设体系。 
　　（十二）建立奖惩机制。各级民政部门要会同有关部门依托全国社会组织法人单位信息资源库建设，收集、整合行业协会商会各类信用信息，建立行业协会商会信用档案。对诚信自律良好的行业协会商会，在年度检查、等级评估、税收优惠、职能转移、购买服务等事项中，实行优先办理、简化程序和重点支持等激励政策。对存在多次失信或者严重失信并造成严重后果的，纳入“黑名单”进行管理，采取取消税收减免资格、降低评估等级、限制参与承接政府转移职能和购买服务项目等措施，加大惩戒力度。通过信用奖惩机制，使守信者处处受益、失信者寸步难行。 
　　（十三）做好宣传引导。组织行业协会商会深入开展以诚信自律创建为主题的教育活动，引导行业协会商会将诚信自律建设作为自觉追求和普遍行动。充分发挥电视、广播、报纸、网络等媒体的宣传引导作用，树立行业协会商会诚信自律典型，使广大行业协会商会学有榜样、赶有目标。建立行业协会商会失信行为的舆情监测机制，及时回应社会关切。 
                                                                民政部 中央编办 发展改革委
                                                            工业和信息化部 商务部 人民银行
                                                                        工商总局 全国工商联
                     2014年10月31日

