
<li>
    <a href="/news/detail?id=37">以诚信杀出2017中国特许加盟展的一匹黑马</a>
    <span>17/04/08</span>
</li>
<li>
    <a href="/news/detail?id=36">重拾诚信，心安是人生最美的享受</a>
    <span>17/03/28</span>
</li>

<li>
    <a href="/news/detail?id=35">诚信大数据打造健康职场</a>
    <span>17/02/25</span>
</li>

<li>
    <a href="/news/detail?id=34">诚信打造健康职场 中国人才诚信大数据平台发布</a>
    <span>17/02/20</span>
</li>

<li>
    <a href="/news/detail?id=33">人才诚信大数据平台“老板点评”发布</a>
    <span>17/02/20</span>
</li>

<li>
    <a href="/news/detail?id=31">中国人才诚信大数据平台【老板点评】发布会在京召开</a>
    <span>17/02/19</span>
</li>

<li>
    <a href="/news/detail?id=32">人才诚信大数据平台“老板点评”发布</a>
    <span>17/02/19</span>
</li>

<li>
    <a href="/news/detail?id=11">个人职场诚信平台：近六成简历存在造假问题 技术岗或成重灾区</a>
    <span>17/02/07</span>
</li>
<li>
    <a href="/news/detail?id=12">节后求职“草签族”毁约“任性”专家建议：建立职场诚信体系</a>
    <span>17/02/07</span>
</li>
<li>
    <a href="/news/detail?id=13">职业道德套路深，职场诚信不存我们还能相信谁？</a>
    <span>17/02/07</span>
</li>
<li>
    <a href="/news/detail?id=14">“信任社会”，从信用档案开始</a>
    <span>17/02/06</span>
</li>
<li>
    <a href="/news/detail?id=15">职场诚信档案—为职场优秀者背书站台 让职场无信者无路可去</a>
    <span>17/01/20</span>
</li>
<li>
    <a href="/news/detail?id=16">这14类职业人员注意！国家要为你们建一份“诚信档案</a>
    <span>17/01/20</span>
</li>
<li>
    <a href="/news/detail?id=17">职业薪资满意度调研：超三成职场人会因工资而跳槽</a>
    <span>17/01/12</span>
</li>
<li>
    <a href="/news/detail?id=18">构建职场诚信体系 形成职场良心循环</a>
    <span>17/01/09</span>
</li>
<li>
    <a href="/news/detail?id=19">国务院发文鼓励企业为这些人建职业诚信档案</a>
    <span>17/01/04</span>
</li>
<li>
    <a href="/news/detail?id=20">企业用工挂钩信用 个人诚信有记录</a>
    <span>17/01/03</span>
</li>