<li>
    <a href="/news/detail?id=53">田永坡：职业诚信事关每一个人的利益</a>
    <span>17/04/12</span>
</li>
<li>
    <a href="/news/detail?id=41">王通讯：老板点评是显微镜，透视职场诚信问题</a>
    <span>17/04/02</span>
</li>
<li>
    <a href="/news/detail?id=44">中国职业经理人协会高级顾问、创会会长洪虎为老板点评发布会发言</a>
    <span>17/03/28</span>
</li>
<li>
    <a href="/news/detail?id=43">杨正泉：老板点评将诚信文化继承与发扬并举</a>
    <span>17/03/28</span>
</li>
<li>
    <a href="/news/detail?id=42">丁雪峰：老板点评或将引领职场轻管理之风</a>
    <span>17/03/28</span>
</li>
<li>
    <a href="/news/detail?id=47">315打假求真，竟打出假人？</a>
    <span>17/03/15</span>
</li>
<li>
    <a href="/news/detail?id=49">跳槽指南很多，您别一路向北？</a>
    <span>17/03/15</span>
</li>
<li>
    <a href="/news/detail?id=48">谁说女子不如男，老板点评打他脸</a>
    <span>17/03/15</span>
</li>

<li>
    <a href="/news/detail?id=45">杨石头看待跳槽那些事</a>
    <span>17/02/27</span>
</li>
<li>
    <a href="/news/detail?id=46">中国人才交流协会副会长兼秘书长陈军：老板点评助力中国人才诚信建设</a>
    <span>17/02/22</span>
</li>
<li>
    <a href="/news/detail?id=30">中国职业经理人协会会长邵章鸿为“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”致辞</a>
    <span>17/02/22</span>
</li>
<li>
    <a href="/news/detail?id=29">中国职业经理人协会高级顾问、创会会长、原吉林省省长洪虎为“诚信职场•创新共享——中国人才诚信大数据平台【老板点评】发布会”发言</a>
    <span>17/02/22</span>
</li>
<li>
    <a href="/news/detail?id=28">咖啡之翼—尹峰发声：因为我是老板，所以我当然要用老板点评</a>
    <span>17/02/22</span>
</li>
<li>
    <a href="/news/detail?id=27">力破隐私争议问题，法学专家 姚欢庆为老板点评点赞</a>
    <span>17/02/20</span>
</li>
<li>
    <a href="/news/detail?id=26">构建健康诚信职场环境 老板点评正式发布</a>
    <span>17/02/20</span>
</li>
<li>
    <a href="/news/detail?id=25">诚信职场•创新共享--中国人才诚信大数据平台【老板点评】发布会在北京召开——诚信打造健康职场环境</a>
    <span>17/02/20</span>
</li>
<li>
    <a href="/news/detail?id=24">矢志建立中国人才诚信体系，"老板点评"重磅来袭</a>
    <span>17/02/16</span>
</li>
<li>
    <a href="/news/detail?id=23">1月21日老板点评首日注册量破万，首战告捷</a>
    <span>17/01/21</span>
</li>
<li>
    <a href="/news/detail?id=22">1月20日，特朗普就职演说前，中国有大事发生</a>
    <span>17/01/18</span>
</li>
<li>
    <a href="/news/detail?id=21">2017，拯救老板的神器来了</a>
    <span>17/01/20</span>
</li>