{extend name="_public:layout" /}

{block name="page-title"}详情-运营后台-老板点评{/block}

{block name="breadcrumb-active"}
<li class="active">详情</li>
{/block}

{block name="page-content"}

<div class="page-header">
    <h1>用户详情</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">

        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name">Username</div>
                <div class="profile-info-value">aaaa</div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">Username</div>
                <div class="profile-info-value">aaaa</div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">Username</div>
                <div class="profile-info-value">aaaa</div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">Username</div>
                <div class="profile-info-value">aaaa</div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">Username</div>
                <div class="profile-info-value">aaaa</div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">Username</div>
                <div class="profile-info-value">aaaa</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12  col-sm-8">
        <div class="hr hr-18 dotted hr-double"></div>
        <div class="table-header">
            用户角色
		</div>
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr> <!- 表格总宽度=12 ->
                    <th>企业名称</th> <!- 此列自动适应，宽度=12-(其他列宽度之和) ->
                    <th class="col-xs-3">职务</th>
                    <th class="col-xs-3">授权管理角色</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>举贤网科技（北京）股份有限公司</td>
                    <td>公司法人</td>
                    <td>老板</td>
                </tr>
                <tr>
                    <td>举贤网科技（北京）股份有限公司</td>
                    <td>公司法人</td>
                    <td>老板</td>
                </tr>
                <tr>
                    <td>举贤网科技（北京）股份有限公司</td>
                    <td>公司法人</td>
                    <td>老板</td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>


{/block}

{block name="resources-footer"}

<script type="text/javascript">
    jQuery(function($) {
        console.info($("#testForm"));
        $("#testForm").validate({
            debug:true,
            errorElement: 'div',
			focusInvalid: false,            
            rules: {
                'form-field-text': { required:true, minlength:3, maxlength:10 },
                'form-field-digits': { required:true, digits:true },
                'form-field-number': { required:true, number:true },
                'form-field-date': 'required',
                'form-field-select': 'required',
                'form-field-checkbox': 'required',
                'form-field-radio': 'required',
                'form-field-textarea': { required: true, minlength: 3, maxlength: 100 },
                email: {
							required: true,
							email:true
						},
            },
            messages: {
                'form-field-text': {
                    required: "请输入text",
                    minlength: "至少包含3个字符",
                    maxlength: "不能大于10个字符"
                },
                'form-field-digits': {
                    required: "请输入digits",
                    digits: "请输入整数"
                },
                'form-field-number': {
                    required: "请输入number",
                    number: "非法的数字格式"
                },
                'form-field-date': "请输入日期",
                'form-field-date': "请输入日期",
                'form-field-select': "请选择select",
                'form-field-checkbox': "请选择checkbox",
                'form-field-radio': "请选择radio",
                'form-field-textarea': {
                    required: "请输入text",
                    minlength: "至少包含3个字符",
                    maxlength: "不能大于10个字符"
                }
            },
            errorPlacement: function (error, element) {
                if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if(element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if(element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
                error.addClass("help-block");
                error.parents(".form-group").addClass("has-error");
            },

            submitHandler: function (form) {
            },            
        });
    });
</script>

{/block}