<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们-老板点评 让天下没有难管的员工</title>
	<meta name="Keywords" content="老板点评,老板点评APP,老板点评APP下载,职场征信,全联职信" />
	<meta name="Description" content="老板点评，让天下没有难管的员工。通过制约和信用约束，建立职场征信，以打造和谐互信职场为理念，让工作更加轻松！" />
	<link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/aboutUs.css">
</head>
<body>
<div class="wrap">
	<div id="header">
		<div class="headerR">
			<a href="#" id="agent"><span style="color: #debe58">申请代理</span></a>
			<a href="#" id="register"><span>注册</span></a>
			<a href="#" id="login"><span>登录</span></a>
			<a href="javascript:void(0)" id="download">下载手机客户端</a>
		</div>

		<div class="headerL">
			<h1 class="logo">
				<a href="/"><img src="{$Think.config.resources_site_root}/pc/img/home1200/logo.png">
					<span class="headerTitle">首页</span>
				</a>
			</h1>
		</div>
	</div>

	<div id="content">
		<p><span>老板点评</span> 是由北京全联职信科技有限公司独立研发的应用软件，致力于引领打造和谐诚信的职场环境。老板点评的核心是：基于首创的员工评价体系，帮助老板与员工建立信任关系并有效管束员工。</p>

		<p>老板点评的主要功能包括员工档案、阶段工作评价、离任报告、招聘等。老板（或人力资源部门）可以对员工进行建档、阶段性的工作评价及离任评价。</p>

		<p>民企发展到底有多难？相信每位老板都能吐槽吐上几天几夜。如果再说到人员管理中遇到的坑和奇葩，相信每位老板还能再吐几升血。老板点评不能帮你解决所有的发展问题，但是在人员管理方面，您早一天使用，必定早一天受益！</p>

		<p>“让老板们联合起来，共同抵制那些不良职场行为，共建利于降低企业用人风险的职场诚信环境；防止无信者为害自己公司，让守信有才者更容易被发现并为公司发挥更大的价值”，这就是老板点评想给你的。</p>
	</div>

	<div class="footPar">
		<div class="footerT">
			<div class="ftTitle">
				<span>塑造职场诚信，规范员工行为，不只是一家公司的事，更需要老板您的点评！</span>
				<div>
					<a href=""><em><img src="{$Think.config.resources_site_root}/pc/img/home1200/bosslogo.png" alt="关于老板点评"></em>
						<span>关于老板点评</span></a>

				</div>
			</div>
			<div class="ftAdd">
				<span>北京全联职信科技有限公司</span><br>
				<span>ADD：北京市朝阳区广渠东路3号中水电国际大厦1105</span><br >
				<span>E-mail：service@laobandianping.com</span><br>
				<span id="icp">京ICP备17001009号</span><br>
				<!--<span id="beibao">京公网安备1112123123123号</span>-->
			</div>
			<div class="ftCall">
				<em><img src="{$Think.config.resources_site_root}/pc/img/home1200/home_pic7_ic_phone.png" alt="老板点评-客服电话"></em>
				<span>400-815-9166</span>
			</div>
		</div>
	</div>
</div>
<div id="registerAlert">
	<img src="{$Think.config.resources_site_root}/pc/img/home1200/online.png" alt="老板点评-上线弹窗">
	<div class="registerAlertClose"></div>
</div>
{include file="-public/resources_homepc_footer" /}
<script type="text/javascript">
    window.onload = function () {
        var downloadBtn = document.querySelector('.downloadUserPhone');
        var toggleDown = document.querySelector('.key');

        downloadBtn.onmouseover = function () {
            toggleDown.style.display="block";
        }
        downloadBtn.onmouseout = function () {
            toggleDown.style.display="none";
        }

    }
</script>
</body>
</html>