<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,user-scalable=no"/>
        <meta name="format-detection" content="telephone=no" />
		<title>中国人才诚信建设工作委员会——老板点评</title>
		<link rel="stylesheet" type="text/css" href="{$Think.config.resources_site_root}/pc/css/index-mobile.css"/>
        <script>
	        //适配方案
	        (function(){
	            var width = document.documentElement.clientWidth;
	            var html = document.querySelector("html");
	            html.style.fontSize=width/16+"px";
	        })();
        </script>
	</head>
	<body>
	{include file="-public/mobile_header" /}
    <div class="top-img">
        <img src="{$Think.config.resources_site_root}/pc/images/index750/banner_pic1.png"/>
    </div>
	<div class="com-content">
		<ul class="moblie-tabNav">
		   <li><a href="/index/company-intr-mobile.html">公司简介</a></li>
		   <li><a href="/index/development-history-mobile.html">发展历程</a></li>
		   <li><a class="moblie-active-on" href="/index/committe-mobile.html">中国人才诚信建设工作委员会</a></li>
		</ul>
		<div class="company-content ">
			<p>中国职业经理人职业诚信建设工作委员会专业致力于“职业诚信”，旨在构建中国人才诚信体系，其创新推出中国人才诚信大数据平台——“老板点评”互联网+服务平台，将成为为用人单位提供人才职场诚信的重要参考依据，是我国社会信用体系的重要组成部分。 </p>
    		<div class="committe1">
    			<span class="commitee-name">王尚峰：</span><br>
    		    <p>著名人才实践专家 全联职信 CEO 及全国人才诚信建设工作委员会主任。</p>
    		</div>
		</div>
	</div>
	{include file="-public/mobile_footer" /}
	</body>
</html>
