<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>中国人才诚信建设工作委员会——老板点评</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{$Think.config.resources_site_root}/pc/css/pc-public-index.css" type="text/css" rel="stylesheet">
		<link href="{$Think.config.resources_site_root}/pc/css/com-bottom.css" type="text/css" rel="stylesheet">
	</head>
	<body>
	<div id="wrap">
	    {include file="-public/pc_header" /}
	<!--内容部分-->
		<div class="lrwrap">
			<div class="wrap-company">
				<img src="{$Think.config.resources_site_root}/pc/images/banner_piclittle.png">
				<div class="com-tab">
					<ul class="tab-nav">
						<li><a href="company-intr.html">公司简介</a></li>
						<li><a href="development-history.html">发展历程</a></li>
						<li><a class="active-on" href="javascript:void(0);">中国人才诚信建设工作委员会</a></li>
			    	</ul>
			    	<div class="tab-content">
			    		<p>中国职业经理人职业诚信建设工作委员会专业致力于“职业诚信”，旨在构建中国人才诚信体系，其创新推出中国人才诚信大数据平台——“老板点评”互联网+服务平台，将成为为用人单位提供人才职场诚信的重要参考依据，是我国社会信用体系的重要组成部分。 </p>
			    		<div class="committe1">
			    			<span class="commitee-name">王尚峰：</span><br>
			    		    <p>著名人才实践专家 全联职信 CEO 及全国人才诚信建设工作委员会主任。</p>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	    {include file="-public/pc_footer" /}
	</div>
	</body>
</html>
