<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>核心功能——老板点评</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{$Think.config.resources_site_root}/pc/css/pc-public-index.css" type="text/css" rel="stylesheet">
    <link href="{$Think.config.resources_site_root}/pc/css/com-bottom.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <div class="header">
        <div class="header-prev">
            <div class="lrwrap">
                <h3>中国人才诚信建设工作委员会</h3>
            </div>
        </div>
        <div class="header-main">
            <div class="lrwrap">
                <div class="header-main-logo">
                    <a href="/">
                        <img id="logo" src="{$Think.config.resources_site_root}/pc/images/ic_logo.png" alt="">
                        <img src="{$Think.config.resources_site_root}/pc/images/ic_zi.png" alt="">
                    </a>
                </div>
                <div class="header-main-index">
                    <a href="/">
                        <span >首页</span>
                    </a>
                    <a href="/index/functionality">
                        <span class="hmi-active">核心功能</span>
                    </a>
                    <a href="http://tidyway.cn/" target="_blank">
                        <span>加盟代理</span>
                    </a>
                </div>
                <div class="heder-main-call">
                    <img src="{$Think.config.resources_site_root}/pc/images/ic_phone.png" alt="">
                    <span>400-815-9166</span>
                </div>
                <div class="header-main-login">
                    <div>
                        <a id="registe" href="/Account/register">
                            <i class="redblock"></i>
                            <span class="hml-active hoverbiaozhu">注册</span>
                        </a>
                    </div>
                    <div>
                        <a id="login" href="/Account/login">
                            <span class="hoverbiaozhu">登录</span>
                        </a>
                    </div>
                    <div id="download">
                        <span class="hoverbiaozhu">下载APP</span>
                        <div class="downloadimg">
                            <img src="{$Think.config.resources_site_root}/pc/images/download_url.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容部分-->
    <div class="lrwrap">
        <div class="wrap-company">
            <img src="{$Think.config.resources_site_root}/pc/images/banner_piclittle.png">
            <img src="{$Think.config.resources_site_root}/pc/images/bitmap1.jpg">
            <img src="{$Think.config.resources_site_root}/pc/images/bitmap2.jpg">
            <img src="{$Think.config.resources_site_root}/pc/images/bitmap3.jpg">
            <img src="{$Think.config.resources_site_root}/pc/images/bitmap4.jpg">
            <img src="{$Think.config.resources_site_root}/pc/images/bitmap5.jpg">
        </div>
    </div>
    {include file="-public/pc_footer" /}
</div>
</body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=zPzvRwLMu2xL4EuWlAT3zot7Ar7lCyT4"></script>
</html>
