<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <title>老板点评 用良心点评您的员工</title>
    <meta name="Keywords" content="老板点评,老板点评APP,老板点评APP下载,职场征信,全联职信" />
    <meta name="Description" content="老板点评，用良心点评您的员工。通过制约和信用约束，建立职场征信，以打造和谐互信职场为理念，让工作更加轻松！" />
    <link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.resources_site_root}/pc/css/index-mobile.css"/>

    <script>
        //适配方案
        (function(){
            var width = document.documentElement.clientWidth;
            var html = document.querySelector("html");
            html.style.fontSize=width/16+"px";
        })();

    </script>
</head>
<body>
    {include file="-public/mobile_header" /}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/banner_pic3.jpg"/></div>
            <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/banner_pic1.png"/></div>
            <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/banner_pic2.png"/></div>

        </div>
        <!-- swpier point -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="userLogin">
        <div class="companyLogin">
            <img src="{$Think.config.resources_site_root}/pc/images/index750/ic_enterpriseuser.png" alt="">
            <div class="customer-login-details">
                <h3>企业用户</h3>
                <p>建立职场诚信档案激发员工正能量，管理约束遏制职场不诚信行为。</p>
                <a href="/m/account/signup?ProfileType=1"><div class="button customer-btn">开通服务</div></a>

                <!--<a class="playaudo">-->
                    <!--<img src="{$Think.config.resources_site_root}/pc/images/index750/ic_play.png" alt=""> 产品演示-->
                <!--</a>-->
            </div>
        </div>
        <div class="personLogin">
            <img src="{$Think.config.resources_site_root}/pc/images/index750/ic_person.png">
            <div class="customer-login-details">
                <h3>个人用户</h3>
                <p>个人职场诚信档案查询，提高应聘成功率，增加就业筹码。</p>
                <a href="/m/account/signup?ProfileType=2"><div class="button customer-btn">免费注册</div></a>

                <!--<a class="playaudo">-->
                    <!--<img src="{$Think.config.resources_site_root}/pc/images/index750/ic_play.png" alt=""> 产品演示-->
                <!--</a>-->
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="feature-bg"><img src="{$Think.config.resources_site_root}/pc/images/index750/bg_pic3.jpg" width="100%" /></div>
        <div class="feature-title">
            <img src="{$Think.config.resources_site_root}/pc/images/index750/ic_zi.png"/>
        </div>
        <div class="feature-con">
            <div class="swiper-container2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/core_pic1.png" /></div>
                    <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/core_pic2.png" /></div>
                    <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/core_pic3.png" /></div>
                    <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/core_pic4.png" /></div>
                    <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/index750/core_pic5.png" /></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination2"></div>
                <!-- Add Arrows
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>-->
            </div>
        </div>

    </div>
    <div class="companyshow">
        <div class="companyshow-title"><img src="{$Think.config.resources_site_root}/pc/images/index750/ic_zi2.png"/></div>
        <ul class="company-logo-list clearfix">
            <a href="http://www.10086.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/chinamoblie.png" alt=""></li></a>
            <a href="http://www.chinawallink.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/zhongguohuali.png" alt=""></li></a>
            <a href="http://www.bailingniao.cn/"> <li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/bailingniao.png" alt=""></li></a>
            <a href="http://www.negroup.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/zhonghejiaoyu.png" alt=""></li></a>
            <a href="http://www.wanda.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/wandajituan.png" alt=""></li></a>
            <a href="http://www.nhhchina.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/litiantangren.png" alt=""></li></a>
            <a href="http://www.dragonwings-cap.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/longyiziben.png" alt=""></li></a>
            <a href="http://www.gomeholdings.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/guomeijituan.png" alt=""></li></a>
            <a href="http://www.juxian.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/juxianwang.png" alt=""></li></a>
            <a href="http://www.gggrp.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/shuanggaojituan.png" alt=""></li></a>
        </ul>
        <div class="conpanyshow-num">
            <!--<div class="newcompany-num">入驻企业：<span>8190210</span> 家</div>-->
            <div class="newcompany-name">最新入驻企业：<span id="company-list-name"></span></div>
        </div>

    </div>
    <div class="new">
        <div class="news-title"><img src="{$Think.config.resources_site_root}/pc/images/index750/ic_zi3.png"/></div>
        <div class="lrwrap clearfix">
            <div class="news-list">
                <div class="news-class">
                    <a class="news-more" href="/index/new-mobile.html">更多>></a>
                    <i></i><span>新闻资讯</span>
                </div>
                <div class="news-list-title">
                    {include file="news/report_index" /}
                </div>
            </div>
            <div class="news-list">
                <div class="news-class">
                    <a class="news-more" href="/index/topic-mobile.html">更多>></a>
                    <i></i><span>专题聚焦</span>
                </div>
                <div class="news-list-title">
                    {include file="news/topic_index" /}
                </div>
            </div>
            <div class="news-list">
                <div class="news-class">
                    <a class="news-more" href="/index/policy-mobile.html">更多>></a>
                    <i></i><span>政策法规</span>
                </div>
                <div class="news-list-title">
                    {include file="news/policy_index" /}
                </div>
            </div>
        </div>
    </div>
    {include file="-public/mobile_footer" /}
<script>
    var swiper = new Swiper('.swiper-container', {
     autoplay : 3000,
     speed:1000,
     loop : true,
     pagination: '.swiper-pagination',
     paginationClickable: true,
     autoplayDisableOnInteraction : false
     });
    var swiper2 = new Swiper('.swiper-container2', {
        pagination: '.swiper-pagination2',
        paginationClickable: true,
        //nextButton: '.swiper-button-next',
        //prevButton: '.swiper-button-prev',
        loop : true,
        spaceBetween: 30
    });

    var companyNamestr='{$CompanyName}';
    var companyNameArray=companyNamestr.split(',');
    $('#company-list-name').text(companyNameArray[0])
    var conpanyNum=1;
    setInterval(function () {
        $('#company-list-name').text(companyNameArray[conpanyNum]);
        conpanyNum++;
    },3000)
</script>
</body>
</html>