<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>老板点评 用良心点评您的员工</title>
    <meta name="Keywords" content="老板点评,老板点评APP,老板点评APP下载,职场征信,全联职信" />
    <meta name="Description" content="老板点评，用良心点评您的员工。通过制约和信用约束，建立职场征信，以打造和谐互信职场为理念，让工作更加轻松！" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/pc-public-index.css">
    <link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/carousel.css">
    <link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/pc-index.css">
    <style type="text/css">
        .caroursel {
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div id="wrap">
{include file="-public/pc_header" /}
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/banner_pic3.jpg"/></div>
            <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/banner_pic1.jpg"/></div>
            <div class="swiper-slide"><img src="{$Think.config.resources_site_root}/pc/images/banner_pic2.jpg"/></div>
        </div>
        <!-- swpier point -->
        <div class="swiper-pagination"></div>
    </div>
    <!--login-->
    <div class="customer-login">
        <div class="customer-company-login">
            <img src="{$Think.config.resources_site_root}/pc/images/ic_enterpriseuser.png"/>
            <div class="customer-login-details">
                <h3>企业用户</h3>
                <p>建立职场诚信档案激发员工正能量，管理约束遏制职场不诚信行为。</p>
                <a href="/account/register?ProfileType=1" target="_blank"><div class="button customer-btn">开通服务</div></a>

                <!--<a class="playaudo">
                    <img src="{$Think.config.resources_site_root}/pc/images/ic_play.png" alt=""> 产品演示
                </a>-->
            </div>
        </div>
        <div class="customer-person-login">
            <img src="{$Think.config.resources_site_root}/pc/images/ic_person.png"/>
            <div class="customer-login-details">
                <h3>个人用户</h3>
                <p>个人职场诚信档案查询，提高应聘成功率，增加就业筹码。</p>
                <a href="/account/register?ProfileType=2" target="_blank"><div class="button customer-btn">免费注册</div></a>
                <!--<a class="playaudo">
                    <img src="{$Think.config.resources_site_root}/pc/images/ic_play.png" alt=""> 产品演示
                </a>-->
            </div>
        </div>
    </div>
    <div class="customer-contactus" id="online-consultant">
        <a href=""><img src="{$Think.config.resources_site_root}/pc/images/pup_ic_save.png" alt=""><span>在<br>线<br>客<br>服</span></a>
    </div>
    <div class="features">
        <h2 class="features-title"></h2>
        <article class="jq22-container">
            <div class="caroursel poster-main" data-setting='{"width":1200,"height":450,"posterWidth":800,"posterHeight":380,	        "scale":0.8,"dealy":"3000","algin":"middle"}'>
                <ul class="poster-list">
                    <li class="poster-item"><img src="{$Think.config.resources_site_root}/pc/images/ic_o.png" width="100%" height="100%" defer="true" data-src="{$Think.config.resources_site_root}/pc/images/corefunction_pic1.png"></li>
                    <li class="poster-item"><img src="{$Think.config.resources_site_root}/pc/images/ic_o.png" width="100%" height="100%" defer="true" data-src="{$Think.config.resources_site_root}/pc/images/corefunction_pic2.png"></li>
                    <li class="poster-item"><img src="{$Think.config.resources_site_root}/pc/images/ic_o.png" width="100%" height="100%" defer="true" data-src="{$Think.config.resources_site_root}/pc/images/corefunction_pic3.png"></li>
                    <li class="poster-item"><img src="{$Think.config.resources_site_root}/pc/images/ic_o.png" width="100%" height="100%" defer="true" data-src="{$Think.config.resources_site_root}/pc/images/corefunction_pic4.png"></li>
                    <li class="poster-item"><img src="{$Think.config.resources_site_root}/pc/images/ic_o.png" width="100%" height="100%" defer="true" data-src="{$Think.config.resources_site_root}/pc/images/corefunction_pic5.png"></li>
                </ul>
                <div class="poster-btn poster-prev-btn"></div>
                <div class="poster-btn poster-next-btn"></div>
            </div>
        </article>
    </div>
    <div class="nice-company-show">
        <div class="lrwrap">
            <div class="nice-company-show-title"></div>
            <ul class="company-logo-list clearfix">
                <a href="http://www.10086.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/chinamoblie.png" alt=""></li></a>
                <a href="http://www.chinawallink.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/zhongguohuali.png" alt=""></li></a>
                <a href="http://www.bailingniao.cn/"> <li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/bailingniao.png" alt=""></li></a>
                <a href="http://www.negroup.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/zhonghejiaoyu.png" alt=""></li></a>
                <a href="http://www.wanda.cn/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/wandajituan.png" alt=""></li></a>
                <a href="http://www.nhhchina.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/litiantangren.png" alt=""></li></a>
                <a href="http://www.dragonwings-cap.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/longyiziben.png" alt=""></li></a>
                <a href="http://www.gomeholdings.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/guomeijituan.png" alt=""></li></a>
                <a href="http://www.juxian.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/juxianwang.png" alt=""></li></a>
                <a href="http://www.gggrp.com/"><li class="company-logo"><img src="{$Think.config.resources_site_root}/pc/images/logo/shuanggaojituan.png" alt=""></li></a>
            </ul>
            <!--入驻企业：<span>8190210</span> 家&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <div class="show-company-name">最新入驻企业：<span id="company-list-name"></span></div>
        </div>
    </div>
    <div class="new">
        <div class="lrwrap clearfix">
            <div class="news-show-title"></div>
            <div class="news-list">
                <div class="news-class">
                    <a class="news-more" href="/index/news.html">更多>></a>
                    <i></i><span>新闻资讯</span>
                </div>
                <div class="news-list-title">
                    {include file="news/report_index" /}
                </div>
            </div>
            <div class="news-list">
                <div class="news-class">
                    <a class="news-more" href="/index/topic.html">更多>></a>
                    <i></i><span>专题聚焦</span>
                </div>
                <div class="news-list-title">
                    {include file="news/topic_index" /}
                </div>
            </div>
            <div class="news-list">
                <div class="news-class">
                    <a class="news-more" href="/index/policy.html">更多>></a>
                    <i></i><span>政策法规</span>
                </div>
                <div class="news-list-title">
                    {include file="news/policy_index" /}
                </div>
            </div>
        </div>
    </div>
    {include file="-public/pc_footer" /}
</div>
<script type='text/javascript'>
    $(document).ready(function() {
        if($('.icon-news-video')){
            $('.icon-news-video').html('<svg width="23px" height="20px" viewBox="-5 -11 40 40"><g class="transform-group"> <g transform="translate(0, 28) scale(1, -1) scale(0.03125, 0.03125)"> <path d="M892.8 768h-761.6c-19.2 0-35.2-6.4-48-22.4-12.8-12.8-19.2-32-19.2-54.4v-611.2c0-44.8 28.8-80 67.2-80h761.6c19.2 0 35.2 6.4 48 22.4s19.2 35.2 19.2 54.4v614.4c0 41.6-32 76.8-67.2 76.8zM224 64h-51.2c-25.6 0-44.8 22.4-44.8 51.2v140.8h96v-192zM224 320h-96v128h96v-128zM224 512h-96v140.8c0 28.8 19.2 51.2 44.8 51.2h51.2v-192zM736 480v-416h-448v640h448v-224zM896 115.2c0-28.8-19.2-51.2-44.8-51.2h-51.2v192h96v-140.8zM896 320h-96v128h96v-128zM896 512h-96v192h54.4c22.4 0 41.6-22.4 41.6-51.2v-140.8zM444.8 268.8l144 73.6 25.6 12.8c32 16 32 41.6 0 57.6l-169.6 86.4c-16 6.4-28.8 0-28.8-16v-192c0-22.4 12.8-28.8 28.8-22.4z" fill="#E2353C"></path> </g></g></svg>')
        }
        $('.swiper-container').css('height','100%');
        $("img[defer]").each(function(){
            var src = $(this).data("src");
            if(src) $(this).attr("src",src);
        });
        (function(m, ei, q, i, a, j, s) {
            m[i] = m[i] || function() {
                    (m[i].a = m[i].a || []).push(arguments)
                };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = 'http://static.meiqia.com/dist/meiqia.js';
            s.parentNode.insertBefore(j, s);
        })(window, document, 'script', '_MEIQIA');
        _MEIQIA('entId', 45944);
        _MEIQIA('withoutBtn');

        $("#online-consultant").click(function () {
            _MEIQIA('showPanel', {groupToken: '6a03f1766178aa84771be34af287eae0'});
            return false;
        });
        $("#after-service").click(function () {
            _MEIQIA('showPanel', {groupToken: '14761cc18c546d50ff172298526a9ac0'});
            return false;
        });
    });

    var companyNamestr='{$CompanyName}';
    var companyNameArray=companyNamestr.split(',');
    $('#company-list-name').text(companyNameArray[0])
    var conpanyNum=1;
    setInterval(function () {
        $('#company-list-name').text(companyNameArray[conpanyNum]);
        conpanyNum++;
    },3000)
</script>
</body>
</html>