<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>常见问题——老板点评</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{$Think.config.resources_site_root}/pc/css/pc-public-index.css" type="text/css" rel="stylesheet">
		<link href="{$Think.config.resources_site_root}/pc/css/com-bottom.css" type="text/css" rel="stylesheet">
	</head>
	<body>
	<div id="wrap">
	    {include file="-public/pc_header" /}
	    <!--内容部分-->
	    <div class="lrwrap">
	    	<div class="wrap-company">
	    		<img src="{$Think.config.resources_site_root}/pc/images/banner_piclittle.png">
	    		<div class="com-tab">
	    			<ul class="tab-nav">
	    				<li><a href="contact-us.html">联系我们</a></li>
	    				<li><a class="active-on" href="javascript:void(0);">常见问题</a></li>
	    			</ul>
	    			<div class="question-content">
    					<div class="question-inner">
    						<h4>Q1.老板点评是什么？</h4>
    						<p>老板点评是一款建立员工职业诚信体系的互联网平台。通过老板或老板授权的高管对企业在职员工进行工作评价、对离职员工出具离任报告和对即将录用的员工进行背景调查，并且在企业老板之间相互查阅知会，从而达到“为职业诚信者背书、让职业失信者受到约束”的作用。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q2.老板点评能给企业带来什么好处？</h4>
    						<p>1.提升现有员工效率：通过老板点评评价员工，创建员工职场信用记录，让员工对职业更加敬畏，从而提升现有员工效率。</p>
    						<p>2.评价收益：员工离职后，您的阶段评价和离任报告每被其他企业查看，都可以获得金币收益！</p>
    						<p>3.拓展人脉：老板圈功能只允许通过认证的法人发布动态和互动，对扩展老板人脉很有帮助。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q3.产品包含哪些功能？</h4>
    						<p>主要功能包括员工档案、阶段工作评价、离任报告、老板圈、背景调查、招聘等。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q4.员工档案，阶段评价和离任报告有什么联系，该如何操作？</h4>
    						<p>员工档案用来创建员工的基本信息；</p>
    						<p>阶段评价是对员工阶段性的工作进行评价；</p>
    						<p>离任报告是在员工离任环节进行的综合评价；</p>
    						<p>操作方面：</p>
    						<p>建立员工档案是进行阶段评价和离任报告的前提条件。</p>
    						<p>创建员工档案分为在职员工和离职员工档案，填写员工相关信息后可继续进行阶段评价；</p>
    						<p>阶段评价分为Q1，Q2，Q3，Q4，半年，全年各个阶段进行评价，具体对某个阶段进行工作能力，工作态度，工作业绩打分，输入工作评语（支持语音录入）；</p>
    						<p>离任报告评价内容包括离职原因，在职期间工作评价，以及离职后工作交接情况，离职评语（支持语音录入）等。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q5.背景调查查什么？</h4>
    						<p>背景调查查询的是员工的历任雇主对其的评价（包括阶段评价和离任报告），以及犯罪记录，信贷信用分等。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q6.招聘怎么使用？</h4>
    						<p>公司法人或法人授权的账号可以在招聘模块中免费发布职位。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q7.个人用户怎么使用老板点评？</h4>
    						<p>个人用户可通过老板点评APP或网站免费注册个人账户，通过账户查看历任雇主对其的评价，同时个人用户也可以邀请企业开通老板点评服务，邀请成功即可获得400元现金奖励。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q8.邀请注册有什么收益？</h4>
    						<p>企业每邀请一位老板开户，可获得1000金币奖励；</p>
    						<p>个人每邀请一位老板开户，可获得400现金奖励。</p>
    					</div>
    					<div class="question-inner">
    						<h4>Q9.员工信息安全能否得到保障？</h4>
    						<p>我们不主张在职员工“骑驴找马”，我们平台规则是：只有被标记为离职状态的员工才能在背景调查被查询，以及在个人账户求职，处于在职状态的员工在背景调查中里是查询不到的，所以您不用担心自己公司人员信息的安全问题。</p>
    					</div>	
    					<div class="question-inner">
    						<h4>Q10.是否涉及员工隐私问题？</h4>
    						<p>您上传的信息所有权和控制权归您所有。涉及到一些员工的隐私信息时，您需要获得员工本人的授权才能够上传档案，否则引起的纠纷和争议得由您承担。</p>
    					</div>	
    					<div class="question-inner">
    						<h4>我想成为代理</h4>
    						<p>申请代理您可以通过以下两种途径：</p>
    						<p>1.您可以拨打代理热线： 400-999-2070 ；</p>
    						<p>2.请您直接点击老板点评官网：http://www.laobandianping.com/ 导航栏 加盟代理；</p>
    						
    					</div>
                    </div>	
	    		</div>	
	    	</div>
	    </div>
        {include file="-public/pc_footer" /}
	</div>
	</body>
</html>
