{extend name="_public:layout" /}

{block name="page-content"}

<div class="page-header">
    <h1>IO - 企业详情</h1>
</div>
<div class="row" id="Employer-container">
    <div class="col-xs-12 col-sm-10">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name">企业编号</div>
                <div class="profile-info-value">{$Entity['EmployerId']}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">企业名称</div>
                <div class="profile-info-value">{$Entity['CompanyName']}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">员工个数</div>
                <div class="profile-info-value">{$Entity['EmployeeCount']}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10">
        <div class="hr hr-18 dotted hr-double"></div>
        <div id="EmployeeList-container">
            <div class="table-header">
                员工列表
            </div>
            <div class="center">
                <div  style="padding-top:48px;font-size:64px;">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </div>
                <div>正在获取员工列表...</div>
            </div>
        </div>
        </div>               
    </div>
</div>

{/block}

{block name="resources-footer"}
<script>
    $(document).ready(function () {
        function loadPageHtml(url) {
            $.get(url, function(content,status) {
                $("#EmployeeList-container").html(content);
                onPageLoadCompleted();
                
                $("#pagination-container a").click(function(){
                    onPageLoading($(this).data("page-loading-text"));
                    loadPageHtml($(this).attr("href"));                    
                    return false;
                });
            });
        }
        loadPageHtml("ColleagueList?EmployerId={$Think.get.EmployerId}");
    });
</script>
{/block}


