<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>老板点评</title>
	<meta name="description" content=""/>
	<!--清理缓存 start-->
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
	<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
</head>
<body>
<div class="wrapper share">
	<div class="inner">
		<img src="{$Think.config.resources_site_root}/mobile/img/logo.png">
		<h3>{$CompanyName}</h3>
		<p class="already">老板点评已开通</p>
		<section class="text">
			老板点评是建立员工职业诚信体系的一款互联网平台。通过老板或老板授权的高管对企业在职员工进行工作评价、对离职员工出具离任报告和对即将录用的员工进行背景调查，并且在企业老板之间相互查阅知会，从而达到为职业诚信者背书、让职业失信者受到约束.
		</section>
		<p class="open">已安装"老板点评"请打开APP登录</p>
		<p class="installs">还未安装?点击 <a href="/app/download">下载老板点评</a> </p>
	</div>
</div>
{include file="-public/resources__footer" /}
</body>
</html>