<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="true">
    <appName>JuXian.WebApi</appName>
  </appbase>
  <dataSettings>
    <sqlProcessor enableTrace="false"></sqlProcessor>
  </dataSettings>
  <applicationHub>
    <extension Name="WorkplaceApplication" asyncStart="true" c:type="JXBC.Workplace.WorkplaceApplication,JXBC.Workplace" />
  </applicationHub>  
  <paymentEngine>
    <paymentProvider key="System" c:type="IPaymentProvider.System" />
    <paymentProvider key="Wallet" c:type="IPaymentProvider.Wallet" />
    <paymentProvider key="Offline" c:type="IPaymentProvider.Offline" OfflineSecret="123456"/>

    <paymentProvider key="Alipay" c:type="IPaymentProvider.Alipay" charset="UTF-8" format="json" version="1.0" signMethod="RSA"
        appId="2016122304548210" partner="2088521429620463" sellerId="2088521429620463"
        privateKey="MIICXAIBAAKBgQC0DF6kc5AJn1DwopmoMEqVKDr8JeC6XVvX+viAgnUgoczXr/S4epKofX3JmGylCwmW/lrakuknkmUrcX8McL4+Ih99JSwT/vZBmmOrt/pz/4kip9LiL2+hZqzPO2ZIYgGeOjCP67tpWoPAFwGsE4sc0BjtKYtTfPkK9oUG4kM4ywIDAQABAoGAQqx1+7Yjt7x8j6/W8PZ5GAUe2rL4JmteEHwKvCQTVbM1FQY+vHX/i091XksIqJGOypCEen5+wr2uo0jTQHsbp20YaxB6TqamkaibhFOC1VTxYiASIhkntB7E3/rmVV5iGn8xoyYGAgkaOO071mf219donRSEk6lAkoN/13mSbpkCQQDo60qJhs/LLnR9vP00kj56Ux0TN/xeFGbL865V2kYNrdPpOiqwVdrh8e60RQVqraOFC08dOxfbmzFeAB+EEYVlAkEAxePZO3CeKOcYXNNwfPs8HZCp7k5mEAmJ90EMOV89G7grpL9O0fajm99b8fSdQKTaEopY9Fcmm+6Dgl0a1FO6bwJBAJ0DOCz7Xwp113uHsh0FVO67Jod1H0AAeseUDnq7eKvx+T9owaw7RCE6KRMG0D74rJmcZQmsc0nMFXxrktNByG0CQEMTViClrZZjrohYSvqyFdBXpqHWBRZOhWs/qysPMyFgLbrr9YWJui8taHb82Qh+WESMjFZV7ApSsFTRxjROJRUCQE1ujhS+RA+xxflOGgwuP+CMSsf8f9fu94ug3nkWxpwoKo/Vzc1FhhpDusgaMBcF0N/r+5fEty/E8/E6Nvm5qFw="
        publicKey ="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDI6d306Q8fIfCOaTXyiUeJHkrIvYISRcc73s3vF1ZT7XN8RNPwJxo8pWaJMmvyTn9N4HQ632qJBVHf8sxHi/fEsraprwCtzvzQETrNRwVxLO5jVmRGi60j8Ue1efIlzPXV9je9mkjzOmdssymZkh2QhUrCmZYI/FCEa3/cNMW0QIDAQAB"
        h5PayUrl="http://bc-api.jux360.cn:8120/v-test/appbase/PaymentRouter/AlipayH5Pay"
        returnUrl="http://bc-api.jux360.cn:8120/v-test/appbase/PaymentRouter/AlipayPaidRedirect"
        notifyUrl="http://bc-api.jux360.cn:8120/v-test/appbase/PaymentRouter/AlipayPaidCallback">
      <!--异步回调（和交易通知）地址需在开放平台APP中设置-->
      <payRoute name="APP"    method="alipay.trade.app.pay" productCode="QUICK_MSECURITY_PAY" timeoutExpress="7d" />
      <payRoute name="H5"     method="alipay.trade.wap.pay" productCode="QUICK_WAP_PAY" timeoutExpress="7d" />
      <payRoute name="QRCODE" method="alipay.trade.precreate" timeoutExpress="7d" />
    </paymentProvider>

    <paymentProvider key="Wechat" c:type="IPaymentProvider.Wechat"
            appId="wxf02323750107bfc4" appSecret="ca2a255462f2fe276c35c1d1d7c602da"
            partner="1428846002" partnerSecret="bc8c4708929c4ea9bce036e93cd37f6f"
            certFile="D:\WorkSpace\SVN-Repository\JuXian-BossComments\docs\third\wechat_web_apiclient_cert.p12"
            authRouteUrl="http://www.laobandianping.com/api/appbase/WechatRouter/AuthRoute"
            h5PayUrl="http://bc-api.jux360.cn/v-test/appbase/PaymentRouter/WechatH5Pay"
            notifyUrl="http://bc-api.jux360.cn/v-test/appbase/PaymentRouter/WechatPaidCallback" >
      <!--异步回调地址需在开放平台APP中设置-->
      <payRoute name="APP"    tradeType="APP" appId="wxae2889dd481d4049" appSecret="20a0c14cee553f601f76c41da6458ebd" partner="1426413102" partnerSecret="bc8c4708929c4ea9bce036e93cd37f6f" certFile="D:\WorkSpace\SVN-Repository\JuXian-BossComments\docs\third\wechat_app_apiclient_cert.p12" />
      <payRoute name="H5"     tradeType="JSAPI" />
      <payRoute name="QRCODE" tradeType="NATIVE" />
    </paymentProvider>

    <paymentProvider key="AppleIAP" c:type="IPaymentProvider.AppleIAP"
            productVerifyApi="https://buy.itunes.apple.com/verifyReceipt"
            sandboxVerifyApi="https://sandbox.itunes.apple.com/verifyReceipt">
      <product name="RenewalEnterpriseService"  productCode="OpenEnterpriseService.Lumpsum" />
      <product name="OpenEnterpriseService"     productCode="OpenEnterpriseService.Lumpsum" />
      <product name="OpenPersonalService"       productCode="OpenPersonalService.standard" price="30" />
      <product name="Deposit"                   productCode="DepositGoldCoins.default" price="98" goldCoins="98" />
    </paymentProvider>

    <payWaysOfBizSource>
      <add key="iOS" value="AppleIAP" />
      <add key="iOS:OpenEnterpriseService"      value="AppleIAP" />
      <add key="iOS:RenewalEnterpriseService"   value="AppleIAP" />
      <add key="iOS:OpenPersonalService"        value="AppleIAP" />
      <add key="iOS:BuyBackgroundSurvey"        value="Wallet,AppleIAP" />
      <add key="*"                              value="Wallet,Wechat,Alipay" />
      <add key="*:OpenEnterpriseService"        value="Wechat,Alipay,Offline" />
      <add key="*:RenewalEnterpriseService"     value="Wechat,Alipay,Offline" />
      <add key="*:OpenPersonalService"          value="Wechat,Alipay" />
    </payWaysOfBizSource>

    <paymentHandler targetBizSource="Deposit" c:type="IPaymentHandler.Deposit" />

    <paymentHandler targetBizSource="Withdraw" c:type="IPaymentHandler.Withdraw"
                    preprocessApi="http://127.0.0.1:8120/v-test/workplace/WithdrawHandler/Preprocess"
                    bizProcessApi="http://127.0.0.1:8120/v-test/workplace/WithdrawHandler/BizProcess" />
    <paymentHandler targetBizSource="WithdrawRefundHandler" c:type="IPaymentHandler.WebProxy"
                    preprocessApi="http://127.0.0.1:8120/v-test/workplace/WithdrawRefundHandler/Preprocess"
                    bizProcessApi="http://127.0.0.1:8120/v-test/workplace/WithdrawRefundHandler/BizProcess" />

    <paymentHandler targetBizSource="OpenEnterpriseService" c:type="IPaymentHandler.OpenEnterpriseService"
                    preprocessApi="http://127.0.0.1:8120/v-test/workplace/OpenEnterpriseService/Preprocess"
                    bizProcessApi="http://127.0.0.1:8120/v-test/workplace/OpenEnterpriseService/BizProcess" />
    <paymentHandler targetBizSource="RenewalEnterpriseService" c:type="IPaymentHandler.WebProxy"
                    preprocessApi="http://127.0.0.1:8120/v-test/workplace/RenewalEnterpriseService/Preprocess"
                    bizProcessApi="http://127.0.0.1:8120/v-test/workplace/RenewalEnterpriseService/BizProcess" />  

    <paymentHandler targetBizSource="BuyBackgroundSurvey" c:type="IPaymentHandler.WebProxy"
                    preprocessApi="http://127.0.0.1:8120/v-test/workplace/BuyBackgroundSurvey/Preprocess"
                    bizProcessApi="http://127.0.0.1:8120/v-test/workplace/BuyBackgroundSurvey/BizProcess" />
    
    <paymentHandler targetBizSource="OpenPersonalService" c:type="IPaymentHandler.WebProxy"
                    preprocessApi="http://127.0.0.1:8120/v-test/workplace/OpenPersonalService/Preprocess"
                    bizProcessApi="http://127.0.0.1:8120/v-test/workplace/OpenPersonalService/BizProcess" />
    
    <paymentHandler targetBizSource="ShareIncomeForOpenEnterpriseService" c:type="IPaymentHandler.Empty" />
    <paymentHandler targetBizSource="OpenEnterpriseGift"    c:type="IPaymentHandler.Empty" />
    <paymentHandler targetBizSource="SellBackgroundSurvey"  c:type="IPaymentHandler.Empty" />
  </paymentEngine>  
  
  <iMProvider alias="Easemob"
      orgName="635801792" appName="juxianling" clientId="YXA6P4j1cPVPEeWu6J-ZDnaOMw" clientSecret="YXA6FQpg0Ie9VAg04_rBpvkM8tI-YCM" />  
  <sinowayClient>
    <apiProviders key="PFXY" prdcod="PFXY0002" secret="7ab40e1f341947bdb0e176453e1ba0ab" chnlcod="50000035" orgno="QLZX0000000000000001" usrid="QLZX000001" />
    <apiProviders key="PFBL" prdcod="PFBL0002" secret="4bb1b4603df44857b7d836041b30f5e5" chnlcod="50000036" orgno="JXWT0000000000000001" usrid="JXWT000001" />
    <apiProviders key="P000" prdcod="PFBL0002" secret="a758f320b5764c7a996833e45c547481" chnlcod="50000007" orgno="JXW00000000000000001" usrid="JXW0000001" />
  </sinowayClient>
  <cached>
    <cache name="dictionaries" expiryTime="00:30:00" c:type="AppDomainCache" />
    <cache name="workplace:sms" expiryTime="00:10:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
    <cache name="workplace:sms-strategy" expiryTime="02:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
    <cache name="trade" expiryTime="00:10:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
    <cache name="default" expiryTime="20.00:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
    <cache name="passports:token" expiryTime="20.00:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
    <cache name="PHP" expiryTime="20.00:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
  </cached>  
  <logging>
    <loggers >
      <logger name="default">
        <ListenerIndex name="ConsoleListener" minLevel="Debug" />
        <ListenerIndex name="FileListener" minLevel="Trace" />
        <ListenerIndex name="ExceptionFileListener" minLevel="Warn"/>
      </logger>
      <logger name="ExceptionLogger">
        <ListenerIndex name="ExceptionFileListener"/>
      </logger>
      <logger name="FatalExceptionLogger">
        <ListenerIndex name="FatalExceptionFileListener"/>
      </logger>
      <logger name="TaskThreadExceptionLogger">
        <ListenerIndex name="TaskThreadExceptionFileListener" />
      </logger>
    </loggers>
    <listeners>
      <listener name="ConsoleListener" c:type="ConsoleListener">
        <Formatter c:type="logging.TextFormatter" content="[@LogTime] @Message" />
      </listener>
      <listener name="FileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.log" />
        <Formatter c:type="logging.TextFormatter" content="[@LogLevel] @Message \t @LogTime\r\n" />
      </listener>
      <listener name="FatalExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.fatal.ex.log" />
        <Formatter c:type="logging.TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="ExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.ex.log" />
        <Formatter  c:type="logging.TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="TaskThreadExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.taskThreadEx.log" />
        <Formatter c:type="logging.TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
    </listeners>
  </logging>
</configuration>