/*适配*/
/*清楚默认样式*/
html {
  background-color: #E4E5E9;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
input,
a,
button {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei" !important;
}
.clearfix:after,
.clearfix:before {
  display: table;
  clear: both;
  content: '';
}
img {
  display: block;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
input {
  outline: none;
  -webkit-appearance: none;
}
.button {
  background: linear-gradient(to right, #af8f4d, #dac07d, #af8f4d);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#af8f4d',endColorstr='#dac07d')";
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 0.10666667rem;
}
/*首页*/
.header {
  height: 2.98666667rem;
}
.header > .headerT {
  width: 100%;
  height: 1.06666667rem;
  background: url("../images/index750/bg_pic1.png") no-repeat center;
  -webkit-background-size: 100% 1.06666667rem;
  background-size: 100% 1.06666667rem;
  font-size: 0.36266667rem;
  font-weight: 500;
  line-height: 1.06666667rem;
  text-indent: 1.28rem;
}
.header > .header-content {
  width: 100%;
  height: 1.92rem;
  background-color: #fff;
}
.header > .header-font-size {
  font-size: 0.42666667rem;
}
.header-content > div {
  display: inline-block;
}
.header-call {
  margin-left: 0.96rem;
  height: 1.92rem;
  line-height: 1.92rem;
}
.header-call span {
  color: #ee3939;
}
.header-call img {
  width: 1.06666667rem;
  height: 0.896rem;
}
.header-call span,
.header-call img {
  display: inline-block;
  vertical-align: middle;
}
.header-menu {
  margin-left: 0.64rem;
}
.header-menu a {
  display: inline-block;
  padding: 0 0.64rem;
  height: 1.92rem;
  line-height: 1.81333333rem;
}
.header-menu span {
  box-sizing: border-box;
  font-weight: 500;
  display: inline;
  padding: 0.14933333rem 0;
}
.header-menu .hactive {
  color: #f4b802;
  border-bottom: 0.064rem solid #f4b802;
}
.header-call i {
  margin-right: 0.42666667rem;
}
/*swiper*/
.swiper-container,
.swiper-container > .swiper-wrapper,
.swiper-container > .swiper-wrapper > .swiper-slide,
.swiper-container > .swiper-wrapper > .swiper-slide > img {
  width: 16rem;
  height: 11.73333333rem;
}
.swiper-container .swiper-pagination-bullet {
  width: 0.34133333rem;
  height: 0.34133333rem;
  background-color: #8a8178;
  border-radius: 0.34133333rem;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #fff;
}
/*userLogin*/
.userLogin {
  width: 100%;
  background-color: #fff;
  padding: 0 0.85333333rem;
  box-sizing: border-box;
}
.companyLogin,
.personLogin {
  width: 100%;
  height: 6.95466667rem;
  box-sizing: border-box;
  padding: 1.28rem 0.64rem 0rem 0.42666667rem;
}
.companyLogin {
  border-bottom: 2px dashed #7b7b7b;
}
.companyLogin > img,
.personLogin > img {
  display: inline-block;
  width: 4.26666667rem;
  height: 3.60533333rem;
}
.companyLogin > img,
.companyLogin > div,
.personLogin > img,
.personLogin > div {
  float: left;
}
.customer-login-details {
  margin-left: 1.06666667rem;
  width: 7.89333333rem;
  height: 5.58933333rem;
}
.customer-login-details > h3 {
  font-size: 0.55466667rem;
  padding: 0;
  margin: 0;
}
.customer-login-details > p {
  font-size: 0.384rem;
  margin: 0.32rem 0;
}
.customer-login-details .customer-btn {
  display: block;
  width: 2.77333333rem;
  height: 1.06666667rem;
  font-size: 0.46933333rem;
  text-align: center;
  line-height: 1.06666667rem;
  border-radius: 0.21333333rem;
}
.playaudo {
  font-size: 0.384rem;
  display: block;
  margin-top: 0.42666667rem;
}
.playaudo > img {
  width: 0.512rem;
  height: 0.512rem;
  display: inline-block;
  vertical-align: middle;
}
.feature {
  position: relative;
}
.feature-title {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 5%;
}
.feature-title img {
  width: 3.136rem;
  height: 1.856rem;
}
.feature-con {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 20%;
  overflow: hidden;
}
/*function swiper*/
.swiper-container2 {
  width: 100%;
}
.swiper-slide {
  width: 98%;
  overflow: hidden;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  text-align: center;
}
.swiper-pagination-clickable {
  margin-top: 30px;
}
.swiper-slide img {
  width: 100%;
}
.swiper-pagination2 .swiper-pagination-bullet {
  background-color: #787672;
}
.swiper-pagination2 .swiper-pagination-bullet-active {
  background-color: #fff;
}
/*company-logo-show*/
.companyshow {
  background-color: #f8f8f8;
  width: 100%;
  height: 14.18666667rem;
}
.companyshow-title {
  width: 100%;
  height: 4.26666667rem;
  line-height: 5.33333333rem;
  text-align: center;
}
.companyshow-title img {
  width: 6.57066667rem;
  height: 1.856rem;
  display: inline-block;
}
.company-logo-list {
  width: 90%;
  margin-left: 5%;
}
.company-logo-list .company-logo {
  float: left;
  width: 18%;
  margin: 0rem 1% 0.42666667rem;
}
.company-logo-list .company-logo img {
  width: 2.47466667rem;
  height: 2.47466667rem;
}
.conpanyshow-num div {
  font-size: 0.384rem;
  text-align: center;
  margin-top: 0.74666667rem;
}
.conpanyshow-num span {
  font-size: 0.46933333rem;
  color: #e63939;
}
/*新闻*/
.new {
  background-color: #fff;
}
.news-title {
  width: 100%;
  height: 4.26666667rem;
  line-height: 5.33333333rem;
  text-align: center;
}
.news-title img {
  width: 3.62666667rem;
  height: 1.856rem;
  display: inline-block;
}
.lrwrap {
  padding: 0 1.28rem 1.28rem;
}
.news-list {
  float: left;
  height: 11.30666667rem;
  width: 100%;
  outline: 1px solid #8a8a8a;
  margin-top: 0.42666667rem;
}
.news-class {
  position: relative;
  margin: 0.384rem 0;
}
.news-more {
  position: absolute;
  font-size: 0.384rem;
  color: #8a8a8a!important;
  right: 5%;
  bottom: 0.21333333rem;
}
.news-class i,
.news-class span {
  vertical-align: middle;
}
.news-class i {
  width: 0.10666667rem;
  height: 0.512rem;
  display: inline-block;
  background-color: #e63939;
  margin: 0 0.29866667rem;
}
.news-class span {
  font-size: 0.512rem;
  font-weight: 600;
}
.news-list-title {
  width: 100%;
  padding: 0.04266667rem 5%;
  box-sizing: border-box;
  font-size: 0.384rem;
  font-weight: 500;
}
.news-list-title > li {
  list-style: none;
  margin: 0.256rem 0;
}
.news-list-title a {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
.news-list-title span {
  display: inline-block;
  float: right;
  font-size: 0.29866667rem;
  color: #808080;
  vertical-align: middle;
}
.footer {
  width: 100%;
  height: 6.4rem;
  background-color: #2b2b2b;
  padding: 0.74666667rem;
  font-size: 0.384rem;
  box-sizing: border-box;
  color: #8d8d8d;
}
.footer-top {
  width: 100%;
  height: 3.09333333rem;
  padding: 0.21333333rem 0.64rem;
  box-sizing: border-box;
  border-bottom: 1px solid #8d8d8d;
}
.footer-top > div {
  display: inline-block;
}
.ft-download-App {
  float: right;
}
.ft-download-App a {
  font-size: 0.34133333rem;
  color: white!important;
  text-align: right;
}
.ft-download-App img {
  width: 0.78933333rem;
  height: 0.78933333rem;
  margin-left: 0.53333333rem;
}
.footer a {
  color: #8d8d8d;
}
.ft-company-details p {
  color: white;
  font-size: 0.42666667rem;
}
.ft-company-details ul {
  margin: 0.32rem 0;
}
.ft-company-details ul li {
  display: inline-block;
  margin-right: 0.42666667rem;
}
.ft-company-details > div {
  font-size: 0.42666667rem;
  margin-top: 0.10666667rem;
  color: white;
}
.ft-company-details > div span {
  color: #e63939;
}
#daili {
  margin: 0;
}
#daili > a {
  text-decoration: underline;
  color: #efb70d!important;
}
.footer-bottom div {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #8d8d8d;
  font-size: 0.34133333rem;
  text-align: center;
}
/*foot fixed*/
.footerFix {
  border-radius: 0;
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 1.28rem;
  color: white;
  padding: 0.21333333rem;
  box-sizing: border-box;
}
.footerFix > .ffleft {
  border-right: 1px solid white;
}
.footerFix a {
  position: relative;
  bottom: 0.36266667rem;
  color: white;
  font-size: 0.46933333rem;
}
.footerFix > div {
  width: 50%;
  height: 0.85333333rem;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
.footerFix img {
  width: 0.85333333rem;
  height: 0.81066667rem;
  display: inline-block;
  vertical-align: middle;
}
.footerFix span {
  display: inline-block;
  vertical-align: middle;
}
/*其他页面*/
.com-content {
  background: #fff;
}
.moblie-tabNav {
  border-bottom: 0.04266667rem dashed #ccced0;
  padding: 0.64rem 0 0.64rem 1.28rem;
  overflow: hidden;
}
.moblie-tabNav li {
  float: left;
  margin-right: 0.85333333rem;
  font-size: 0.46933333rem;
}
.moblie-tabNav a {
  border-bottom: 0.08533333rem solid #ffffff;
  padding-bottom: 0.29866667rem;
}
.moblie-active-on,
.moblie-tabNav a:hover {
  color: #f4b802!important;
  border-bottom: 0.08533333rem solid #f4b802 !important;
}
.com-content p {
  text-indent: 0.85333333rem;
}
.company-content {
  font-size: 0.42666667rem;
  padding: 1.06666667rem 1.28rem;
}
.company-content img {
  width: 13.44rem;
}
.commitee-name {
  font-weight: bold;
}
.com-content h2 {
  font-size: 0.42666667rem;
  padding-bottom: 0.21333333rem;
}
.com-content h4 {
  font-size: 0.384rem;
}
.company-content table {
  padding-left: 0.74666667rem;
}
.company-content table td {
  width: 3.41333333rem;
}
.contact-con p,
.question-inner p {
  text-indent: 0;
}
#allmap {
  width: 10.66666667rem;
  height: 6.4rem;
}
.contact-button {
  width: 2.34666667rem;
  height: 0.74666667rem;
  line-height: 0.74666667rem;
  text-align: center;
  margin-top: 0.59733333rem;
}
.question-inner h4 {
  color: #c0a360;
  font-size: 0.42666667rem;
  padding-bottom: 0.21333333rem;
  border-bottom: 0.04266667rem dashed #cccccc;
}
.new-list li {
  font-size: 16 46.875rem;
  border-bottom: 0.04266667rem dashed #d2d2d2;
  margin-top: 0.21333333rem;
  padding-bottom: 0.21333333rem;
}
.new-list li a {
  display: inline-block;
  background: url(../images/ic_o.png) no-repeat left;
  padding-left: 20px;
  width: 8.32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.new-list li span {
  float: right;
  color: #999;
  font-size: 0.29866667rem;
}
.new-list a:hover {
  color: #f4b802!important;
  background: url(../images/ic_o1.png) no-repeat left;
}
.new-content {
  margin-top: 0.64rem;
  background: #fff;
  padding: 1.06666667rem 0.85333333rem;
  font-size: 0.46933333rem;
}
.new-content h2,
.imgmother {
  width: 12.8rem;
  font-size: 0.512rem;
  text-align: center;
  margin: auto;
}
.new-content .consult-time {
  display: block;
  text-align: center;
  color: #ccc;
  font-size: 0.29866667rem;
  padding-top: 0.384rem;
}
.imgmother img {
  width: 100%;
}
.imgmother {
  font-size: 0.384rem;
}
.new-content embed {
  width: 80%!important;
}
.top-img img {
  width: 100%;
}
.company-content p {
  margin-top: 0.32rem;
  margin-bottom: 0.42666667rem;
}
