<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>公司转账</title>
		  {include file="-public/resources_single_header" /}     
	</head>
	<body id="com-body">
		<div class="com-width">
			<div class="com-top">
				<img src="http://bc-res.jx.io:8000/pc/img/40.png">
				<div class="com-top1">
		  		<div class="em-a"><a href="#">邀请企业注册</a><div class="com-loss"><div class="com-tr"></div><span>有奖</span></div></div>
		  		<p><a href="#">下载手机客户端</a></p>
		  		</div>
			</div>
			<div class="qq-mid">
				<div class="qq-content account-transfer" id="content">
					<p class="account-txt margin-b20 font-20">您可以通过银行账号汇款</p>
					<ul class="account-con margin-b20 font-20">
						<li>账户：北京全联职信科技有限公司</li>
						<li>账号：110925635010401</li>
						<li>开户银行：招商银行北京东四环支行</li>
					</ul>
					<p class="account-open margin-b20 font-20">汇款后，请联系对接销售人员或老板点评客服开通服务。</p>
					<p class="account-tel font-20">客服电话：400-815-9166</p>
				</div>
				<div class="com-bottom"></div>
			</div>
		</div>
	</body>
</html>