
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>审核离职报告</title>
<meta name="description" content="" />
<!--清理缓存 start-->
<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<meta content="telephone=no" name="format-detection" />
<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/mobile/css/photoswipe.css?v=0" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/mobile/css/default-skin/default-skin.css?v=0" rel="stylesheet">
</head>
<body>
    {include file="employe_archive:Header" /}
    <!-- 离任报告 -->
    <section class="report">
        <p class="title font30">离任报告：{$model.CommentCode}</p>
        <div class="report-inner">
            <ul class="detail-list">
                <li><span>离任时间：</span> <span>{$DimissionTime}</span>
                </li>
                <li><span>离任薪资：</span> <span>{if $model.DimissionSalary}年薪{$model.DimissionSalary}万元{else}--{/if}</span>
                </li>
                <li class="pad-b"><span>离任原因：</span>
                    <span>{$model.DimissionReason}&nbsp;&nbsp;{$model.DimissionSupply}</span>
                </li>
            </ul>
        </div>
        <!-- 在职期间工作评价 -->
        <div class="job-on">
            <p class="job-tit font24">在职期间工作评价</p>
            <div class="score overflow">
                <div class="grade">
                    <div class="grade-top font24">工作能力</div>
                    <div class="grade-bottom">
                        <span class="font24">{$model.WorkAbilityText}</span><span><b
                            class="big">{$model.WorkAbility}</b><b class="small">分</b></span>
                    </div>
                </div>
                <div class="grade">
                    <div class="grade-top font24">工作态度</div>
                    <div class="grade-bottom">
                        <span class="font24">{$model.WorkAttitudeText}</span><span><b
                            class="big">{$model.WorkAttitude}</b><b class="small">分</b></span>
                    </div>
                </div>
                <div class="grade pad-r">
                    <div class="grade-top font24">工作业绩</div>
                    <div class="grade-bottom">
                        <span class="font24">{$model.WorkPerformanceText}</span><span><b
                            class="big">{$model.WorkPerformance}</b><b class="small">分</b></span>
                    </div>
                </div>
            </div>

        </div>
        <!-- 工作交接情况 -->
        <div class="job-on pad-t border-b">
            <p class="job-tit font24">工作交接情况</p>
            <div class="score  overflow pad-b27">
                <div class="grade">
                    <div class="grade-top font24">及时性</div>
                    <div class="grade-bottom">
                        <span class="font24">{$model.HandoverTimelyText}
                        </span><span><b class="big">{$model.HandoverTimely}</b><b
                            class="small">分</b></span>
                    </div>
                </div>
                <div class="grade">
                    <div class="grade-top font24">全面性</div>
                    <div class="grade-bottom">
                        <span class="font24">{$model.HandoverOverallText}</span><span><b class="big">{$model.HandoverOverall}</b><b
                            class="small">分</b></span>
                    </div>
                </div>
                <div class="grade pad-r">
                    <div class="grade-top font24">后续支持</div>
                    <div class="grade-bottom">
                        <span class="font24">{$model.HandoverSupportText}</span><span><b class="big">{$model.HandoverSupport}</b><b
                            class="small">分</b></span>
                    </div>
                </div>
            </div>
            <p class="will">
                <b>返聘意愿：</b>{$model.WantRecall}
            </p>
        </div>
        <!-- 离任评语 -->
        <div class="remark">
            <p class="remark-tit font24">离任评语</p>
            <div class="remark-con font24">{php}echo nl2br($model['WorkComment']){/php}</div>
            {if condition="$model.WorkCommentImages neq ''  "}
            <div class="remark-img overflow demo-gallery" data-pswp-uid="1">

                {foreach $model.WorkCommentImages as $images}
                {php}$exist_images=exist_file($images);{/php}
                {if $exist_images}
                <figure class="img">
                    <div><a href="{$images}" data-size="{$exist_images}" data-med="{$images}"
                            data-med-size="1024x1024"  width="100%" height="100%"><img src="{$images}" width="100%" height="100%"></a></div>
                </figure>
                {/if}
                {/foreach}
                
            </div>
            {/if}
            <!-- 收听语音 -->
            {if condition="$model.WorkCommentVoice neq ''  "}
            <div class="audio">
                <div class="audio-inner play">
                    <div class="circle fl"></div>
                    <audio id="audioa{$model.CommentId}" src="{$model.WorkCommentVoice}"></audio>
                    <p class="font24 fl audio-txt">点击收听评价{$model.WorkCommentVoiceSecond}"</p>
                </div>
                <div class="audio-inner pause hidden">
                    <div class="circle fl"></div>
                    <audio id="audioa{$model.CommentId}" src="{$model.WorkCommentVoice}"></audio>
                    <p class="font24 fl audio-txt">点击收听评价{$model.WorkCommentVoiceSecond}"</p>
                </div>
            </div>
            {/if}
            <ul class="remark-list detail-list">
                <li>
                    <span>评价时间：</span><span>{$model.CreatedTime|substr=0,10}</span>
                </li>
                <li>
                    <span>评价提交人：</span><span>{$model.PresenterId}</span>
                </li>
                <li>
                    <span>评价审核人：</span><span>{$model.AuditPersons}</span>
                </li>
                {if $model.loglist}
                 <li class="change-history" data-comment-id="{$model.CommentId}"><a href="javascript:;">此评价的修改历史></a></li>
                {/if}
            </ul>
            {if $model.AuditStatus eq 9}
            <div class="pasa-reason">审核未通过：<br>{$model.RejectReason}</div>
           {/if}
        </div>
        {if $model.AuditStatus eq 1}
        {if $bottomdisplay eq 0}
        <p class="pass-check font24">等待审核中</p>{/if}
        {elseif $model.AuditStatus eq 2}
        <p class="pass-check font24">已由{$model.OperatePassportId}审核通过</p>
        {else}
        <p class="pass-check font24">{$model.OperatePassportId}审核不通过</p>
        {/if}
    </section>
    <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg" style=""></div>
        <div class="pswp__scroll-wrap">
        <div class="pswp__container">
        <div class="pswp__item">
            <div class="pswp__zoom-wrap">
                <img class="pswp__img" src="">
            </div>
        </div>
        <div class="pswp__item">
            <div class="pswp__zoom-wrap">
                <img class="pswp__img" src=""></div>
            </div>
        <div class="pswp__item">
            <div class="pswp__zoom-wrap">
                <img class="pswp__img" src=""></div>
            </div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--fs pswp__element--disabled" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <script src="{$Think.config.resources_site_root}/mobile/js/photoswipe.min.js"></script>
    <script src="{$Think.config.resources_site_root}/mobile/js/photoswipe-ui-default.min.js"></script>
    <script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
    <script src="{$Think.config.resources_site_root}/mobile/js/jquery-2.0.3.min.js"></script>
    <script src="{$Think.config.resources_site_root}/mobile/js/boss.js"></script>
    <script src="{$Think.config.resources_site_root}/mobile/js/AppBridge.js"></script>
    <script src="{$Think.config.resources_site_root}/mobile/js/photoBig.js"></script>
</body>
</html>