<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加点评</title>
		<!--清理缓存 start-->
		<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
		<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
		<meta content="telephone=no" name="format-detection" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
		<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
        <script src="{$Think.config.resources_site_root}/mobile/js/jquery-2.0.3.min.js"></script>
        <script src="{$Think.config.resources_site_root}/mobile/js/AppBridge.js"></script>
        <script src="{$Think.config.resources_site_root}/-common/js/AppEnvironment.js?v=1.2"></script>
	</head>
	<body>
		<!--头部-->
        {if(!empty($Think.get.Code))}
		<div id="pageHead" style="text-align: center;">
			<b class="font34">添加点评</b>
		</div>
        {/if}
		<div class="comments commentSuccess font24">
			<p>点评成功</p>
			<a id="target" class="blue" href="#" onclick="">看看其他同事对老东家的评价吧~</a><br>
			<span class="grey"><b id="seconds">2</b> 秒后页面将自动跳转</span>
		</div>
	</body>
	<script>
        $(document).ready(function() {
           // alert("In App :" + AppBridge.embeddedAppView);
            $("#target").click(function(){
                //alert(AppBridge.gotoNativePage);
                AppBridge.gotoNativePage('OpinionSuccess',''); 
            });
        
            var interval = setInterval(function(){
                var seconds=parseInt($("#seconds").html());
                if(seconds>0) {
                    seconds--;
                    $("#seconds").html(seconds);
                }else {
                    clearInterval(interval); 
                    AppBridge.gotoNativePage('OpinionSuccess',''); 
                }
            },1000);
        });
	</script>
</html>
