<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>写写评论</title>
		<meta name="description" content=""/>
		<!--清理缓存 start-->
		<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
		<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
		<meta content="telephone=no" name="format-detection" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="{$Think.config.resources_site_root}/mobile/css/style.css?v=0" rel="stylesheet">
		<script src="{$Think.config.resources_site_root}/mobile/js/flexible.js"></script>
	</head>
	<body>
		<!--遮罩层-->
		<div class="loader-bg hidden">
			<p class="toast font34">评论成功！</p>
		</div>
		<!--头部-->
		<div id="pageHead">
			<svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3073"><path d="M738.145103 170.248828 663.234207 95.337931 313.114483 445.457655 312.937931 445.298759 238.768552 519.450483 238.945103 519.627034 238.768552 519.785931 313.679448 594.696828 313.838345 594.537931 658.996966 939.696552 733.166345 865.509517 388.007724 520.368552Z" p-id="3074"></path></svg>
			<b class="font34">写写评论</b>
		</div>
		<div class="comments writeBg">
			<div class="write overflow">
				<textarea placeholder="发表评论"></textarea>
				<p class="fr font28 grey"><span id="num">0</span>/140</p>
			</div>
			<div class="btn">
				<button id="submit">匿名点评</button>
			</div>
		</div>
		<!-- 错误提示 -->
	    <div class="error" id="error">评论最多140字哦~</div>
	</body>
	<script src="{$Think.config.resources_site_root}/mobile/js/jquery-2.0.3.min.js"></script>
	<script>
	$(function(){
		$(".write textarea").bind("input propertychange",function(){
			var num = $.trim($(this).val()).length;
			var str = $.trim($(this).val());
			if (num > 140) {
				var newstr = str.substr(0, 140);
			    $(this).val(newstr);
				$('#error').show().text('评论最多140字哦~');
					setTimeout(function(){
						$('#error').hide();
				},2000);
			}
			$("#num").html(num);
	    })
		
		/*提交*/
		$("#submit").click(function(){
			$(".loader-bg").removeClass("hidden");
			setTimeout(function(){
				$(".loader-bg").addClass("hidden");
			},2000);
		})
		
	})
		
	</script>
</html>
