<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="passports:Security.PasswordStrength" value="Weak"/>
  </appSettings>
  <connectionStrings>
    <add name="JXL.Passports" connectionString="server=192.168.0.9;port=30603;user id=root;password=db2test;database=jxl_passports_test;" providerName="MySqlProvider" />
  </connectionStrings>
</configuration>