<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase isDebug="true">
    <appName>JXL.Passports.Tests</appName>
    <typeAliases>
      <!--<typeAlias name="RepositoryFactory.passports" alias="JXL.Passports.DataRepositories.RepositoryFactory, JXL.Passports.DataRepositories"/>-->
    </typeAliases>
  </appbase>
</configuration>