{extend name="-public:layout_console-enterprise" /}
{block name="page-title"}创建新职位{/block}
{block name="page-content"}
		<div class="com1-bg">
			<div class="position-title">
			  <span class="position-pos">{$Detail.JobName}</span>
			  <span class="pos-salary">{$Detail.SalaryRangeMin}-{$Detail.SalaryRangeMax}</span>
			  <p>{$Detail.Company['CompanyAbbr']}  <span class="pos-time">{$Detail.time}</span></p>




			  <span>经验{$Detail.ExperienceRequire}/ {$Detail.EducationRequire} / {$Detail.JobLocation}</span>
			</div>
			<div class="position-details">
				<p class="com-tt">公司描述</p>
                <br/>
                <br/>
                <div class="pos-duty" style="white-space: pre-wrap;word-wrap:break-word;">{$Detail.JobDescription}
                   <!-- <textarea name="JobDescription" id="ev-say" class="ev-say"  wrap="physical">{$Detail.JobDescription}</textarea>-->
                </div>
                <!--<div class="pos-duty">
                    <p>岗位职责</p>
                    <p>1、根据公司编制及业务发展需求、协调、统计各部门的招聘需求，编制年度人员招聘计划；</p>
                    <p>2、建立和完善公司的招聘流程和招聘体系；</p>
                    <p>3、利用各种招聘渠道发布招聘广告、寻找招聘机构；</p>
                    <p>4、执行招聘、甄选、面试、选择、安置工作；</p>
                    <p>5、进行聘前测试和简历甄别工作；</p>
                    <p>6、制定相关岗位的薪酬计划、充分利用各种招聘渠道满足公司的人才需求；</p>
                    <p>7、建立后备人才选拔方案和人才储备机制；</p>
                </div>
                <div class="pos-duty">
                    <p>任职要求</p>
                    <p>1、大学以上本科学历；</p>
                    <p>2、具有同行业相关经验、猎头行业经验优先考虑；</p>
                    <p>3、受过现代人力资源管理技术、劳动法律法规等方面的培训；</p>
                    <p>4、3年以上企业招聘经验；</p>
                    <p>5、对人才的发展与引进、组织与人员调整、员工职业生涯设计等具有丰富的实践经验；</p>
                    <p>6、熟悉企业的招聘流程及各种招聘渠道；</p>
                </div>
                <div class="pos-duty pos-we">
                    <p>我们公司</p>
                    <p>北京银创国际投资管理有限公司，是在"实干兴邦、实业兴国；大力持续发展科技创新产业：惠普金融"的时代背景之下组建成立的，银创国际的联合发起方分别来自于生产制造业、新能源新材料、金融、资本市场等领域，在业内具有深广的背景渊源、卓越的盈创能力以及科学前瞻的战略布局。</p>
                    <p>银创国际是一家跨区域、多牌照、多元化经营发展的股份制金融与科技契合型公司，现有北京、哈尔滨、大连、济南、天津、青岛、石家庄、太原、武汉、重庆、济南等地40多家分支机构。</p>
                    <p>银创国际在再生资源、新能源、高新技术投融资领域经历了十多年的萌芽孵化期，因此公司在创立之初就顺利得到了来自多个行业优势资源的大力挹注。银创国际与国内各大知名高校的商学院、经管学院、金融学院的院长、研究员保持着长期的研究与智库合作；与新能源行业、传统制造业、基金、证券、银行业界也有着紧密的联系与合作，尤其是与上市公司中国葛洲坝集团绿园科技有限公司、环嘉集团、恒大集团、新华（大庆）商品交易所有着稳固的长远战略合作和业务层面的精细衔接。银创国际投资管理有限公司也是新华（大庆）商品交易所的第077号会员单位，在新型现货电子交易方面双方保持着全息化的业务合作。</p>
                    <p>银创国际目前运营的主要业务类型有：现货竞价交易、现货产品投资、再生资源产品即期</p>
                </div>-->
				<p class="com-tt pos-title">公司介绍</p>
				<div class="pos-company">
					<div class="pos-logo">
                        <img src="{$Detail.Company['CompanyLogo']}" alt="" style="width: 100%;height: 100%"/>
					</div>
					<div class="pos-companydetail">
						<!--<p>{$Detail.Company['CompanyAbbr']}</p>-->
						<p>{$Detail.Company['CompanyName']}</p>
						<p>{$Detail.Company['Industry']}   {$Detail.Company['CompanySize']}</p>
						<p><img src="{$Think.config.resources_site_root}/pc/img/add.jpg" >{$Detail.JobLocation}</p>
						<!--<p><img src="{$Think.config.resources_site_root}/pc/img/company.jpg" >{$Detail.Company['CompanyName']}</p>-->
					</div>
				</div>
			</div>
			<div class="pos-email">
				<p class="com-tt">投递简历到</p>
                <p>邮箱：{$Detail.ContactEmail}</p>
                <p>电话：{if(!empty($Detail.ContactNumber))}{$Detail.ContactNumber}{else/}--{/if}</p>
			</div>
		</div>
{/block}

{block name="resources-footer"}
<script>
    $(function () {
    	
    })
</script>

{/block}