<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>参数错误</title>
</head>
<body>
    <div class="container">
        <p>参数错误，没有找到对应数据</p>
        <p>url:@Request.Url</p>
    </div><!-- /.container -->
</body>

</html>
