@using JXBC.WebCore;
<!--主体 20160509 start-->
<div class="container cmn-main">
    <div class="about-intro">
        <h2>关于举贤</h2>
        <p>
            <img src="@(AppEnvironment.ResourcesSiteRoot)/jxl2/common/img/about/img1.jpg" alt="" class="img-responsive hidden-lg pull-right hidden-map">
            举贤网，专注中高端人才求职的互联网招聘平台。<br>
            举贤网科技（北京）股份有限公司，总部位于北京CBD，系国家级高新科技企业，十年来专注人才招聘服务，致力于互联网+招聘技术的实践。 <br>
            “中国人才银行”，举贤网2015年精心打造的中高端人才招聘新品，以数据为核心，利用大数据、云计算等前沿科技，为企业招聘提供“快”“准”“省”的招聘效果。
        </p>
    </div>
    <div class="about-map visible-lg"><img src="@(AppEnvironment.ResourcesSiteRoot)/jxl2/common/img/about/img1.jpg" alt="" class="img-responsive"></div>
    <div class="clear"></div>
    <div class="about-exp clearfix visible-lg">
        <dl class="son a">
            <dt class="date">2007.<br>08</dt>
            <dd class="txt">举贤网成立</dd>
        </dl>
        <dl class="son">
            <dt class="date">2008.<br>08</dt>
            <dd class="txt">举贤网国际<br>俱乐部开办</dd>
        </dl>
        <dl class="son a">
            <dt class="date">2009.<br>10</dt>
            <dd class="txt">国家面试官<br>授权机构<br>资格</dd>
        </dl>
        <dl class="son">
            <dt class="date">2010.<br>10</dt>
            <dd class="txt">知名投资<br>机构投资</dd>
        </dl>
        <dl class="son a">
            <dt class="date">2011.<br>09</dt>
            <dd class="txt">举贤网<br>正式上线</dd>
        </dl>
        <dl class="son">
            <dt class="date">2012.<br>07</dt>
            <dd class="txt">广州、上海、武<br>汉办事处成立</dd>
        </dl>
        <dl class="son b">
            <dt class="date">2012.<br>12</dt>
            <dd class="txt">举贤网<br>获评2012<br>年度科技创<br>新奖</dd>
        </dl>
        <dl class="son">
            <dt class="date">2014.<br>12</dt>
            <dd class="txt">推出“公司圈”<br>APP</dd>
        </dl>
        <dl class="son c">
            <dt class="date">2015.<br>10</dt>
            <dd class="txt">中国人才<br>银行上线</dd>
        </dl>
    </div>
    <div class="hidden-exp hidden-lg">
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2007.08</dt>
            <dd class="txt col-xs-8">举贤网成立</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2008.08</dt>
            <dd class="txt col-xs-8">举贤网国际俱乐部开办</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2009.10</dt>
            <dd class="txt col-xs-8">国家面试官授权机构资格</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2010.10</dt>
            <dd class="txt col-xs-8">知名投资机构投资</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2011.09</dt>
            <dd class="txt col-xs-8">举贤网正式上线</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2012.07</dt>
            <dd class="txt col-xs-8">广州、上海、武汉办事处成立</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2012.12</dt>
            <dd class="txt col-xs-8">举贤网获评2012年度科技创新奖</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2014.12</dt>
            <dd class="txt col-xs-8">推出“公司圈”APP</dd>
        </dl>
        <dl class="son row">
            <dt class="date col-xs-4 text-center">2015.10</dt>
            <dd class="txt col-xs-8">中国人才银行上线</dd>
        </dl>
    </div>
</div><!--主体 20160509 end -->