@using JXBC.WebCore;
@{
    ViewBag.Title = "举贤令";
}
<!--主体 20160509 start-->
<div class="iwrap-fla">
    <div class="container">
        <h2 class="caption">举贤令1.0</h2>
        <div class="con clearfix">
            <div class="text pull-left">
                <h3 class="slogan">让猎头帮你找工作</h3>
                <p class="annotate">下载举贤令让百万猎头为你做职场服务</p>
                <div class="download clearfix">
                    <a class="android" href="/app/download?target=android" title="安卓下载">ANDROID</a>
                    <a class="ios" href="/app/download?target=ios" title="苹果手机下载">IPHONE</a>
                </div>
            </div>
            <div class="qr pull-left hidden-xs hidden-sm">
                <img src="@(AppEnvironment.ResourcesSiteRoot)/jxl2/common/img/cmn/jxl-qrcode.png" alt="" width="118" height="118">
            </div>
        </div>
        <div class="pic hidden-xs hidden-sm"></div>
    </div>
</div>
<div class="iwrap-txt">
    <div class="container">
        <div class="pic pull-left">
            <img src="@(AppEnvironment.ResourcesSiteRoot)/jxl2/common/img/index/img13.png" alt="" class="img-responsive">
        </div>
        <p class="txt pull-left">让猎头帮你找工作<br>让工作主动来泡你</p>
    </div>
</div>
<div class="iwrap-con hidden-xs hidden-sm">
    <div class="container">
        <div class="dog"></div>
        <p class="txt1">
            一大波猎头向你涌来<br>
            好工作推到你面前
        </p>
    </div>
</div>
<div class="iwrap-txt b">
    <div class="container">
        <div class="pic pull-left">
            <img src="@(AppEnvironment.ResourcesSiteRoot)/jxl2/common/img/index/img8.png" alt="" class="img-responsive">
        </div>
        <p class="txt pull-left">找到你的职场经纪人<br>为你解决职场难题</p>
    </div>
</div>
<div class="iwrap-con b hidden-xs hidden-sm">
    <div class="container">
        <p class="txt2">在举贤令，找到职场服务<br>享受职场专属私人定制</p>
        <div class="per"></div>
        <div class="light"></div>
    </div>
</div>
<div class="iwrap-txt c">
    <div class="container">
        <div class="pic pull-left">
            <img src="@(AppEnvironment.ResourcesSiteRoot)/jxl2/common/img/index/img9.png" alt="" class="img-responsive">
        </div>
        <p class="txt pull-left">职业规划<br>名企面试分享</p>
    </div>
</div>
<div class="iwrap-con c hidden-xs hidden-sm">
    <div class="container">
        <div class="net"></div>
    </div>
</div>
<!--主体 20160509 end -->