@using JXBC.WebCore;
<!--主体 20160509 start-->
<div class="container clearfix cmn-main">
    <div class="proindex clearfix">
        <dl class="proindexer">
            <dt>帮你找工作</dt>
            <dd>根据你的需要，帮你找你最喜欢的职位</dd>
        </dl>
        <dl class="proindexer">
            <dt>帮你解决职场难题</dt>
            <dd>职业规划，面试技巧，简历包装，名企面试指南</dd>
        </dl>
        <dl class="proindexer">
            <dt>为你分享职场心经</dt>
            <dd>让你知道职场和公司招聘的秘密，让你更了解职场</dd>
        </dl>
        <dl class="proindexer">
            <dt>做你的职场经纪人</dt>
            <dd>为你谈薪水，帮你拿福利，职场问题找我就可以</dd>
        </dl>
    </div>
</div><!--主体 20160509 end -->