<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="true">
    <appName>JXBC.WebSite</appName>
  </appbase> 
  <cached>
    <cache name="Default" expiryTime="20.00:00:00" c:type="MemCache">
      <server address="192.168.0.9:11211" />
    </cache>
  </cached>
  <logging>
    <loggers >
      <logger name="default">
        <ListenerIndex name="ConsoleListener" minLevel="Debug" />
        <ListenerIndex name="FileListener" minLevel="Trace" />
        <ListenerIndex name="ExceptionFileListener" minLevel="Warn"/>
      </logger>
      <logger name="ExceptionLogger">
        <ListenerIndex name="ExceptionFileListener"/>
      </logger>
      <logger name="FatalExceptionLogger">
        <ListenerIndex name="FatalExceptionFileListener"/>
      </logger>
      <logger name="TaskThreadExceptionLogger">
        <ListenerIndex name="TaskThreadExceptionFileListener" />
      </logger>
    </loggers>
    <listeners>
      <listener name="ConsoleListener" c:type="ConsoleListener">
        <Formatter c:type="logging.TextFormatter" content="[@LogTime] @Message" />
      </listener>
      <listener name="FileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.log" />
        <Formatter c:type="logging.TextFormatter" content="[@LogLevel] @Message \t @LogTime\r\n" />
      </listener>
      <listener name="FatalExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.fatal.ex.log" />
        <Formatter c:type="logging.TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="ExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.ex.log" />
        <Formatter  c:type="logging.TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
      <listener name="TaskThreadExceptionFileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDDHH.taskThreadEx.log" />
        <Formatter c:type="logging.TextFormatter" header="=====[[@LogLevel]@BizLabs -- @URI \r\n" />
      </listener>
    </listeners>
  </logging>
</configuration>