{extend name="_public:layout" /}

{block name="page-content"}

<div class="row">
    <div class="col-xs-12  col-sm-8">
        <div class="hr hr-18 dotted hr-double"></div>
        <div class="table-header">
            特惠特惠
        </div>
        <form id='updateActivity' action="updateActivity" method="post" enctype="multipart/form-data">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">

            <tr> <!- 表格总宽度=12 ->
                <th class="col-xs-3" style='text-align:center'>活动名称</th> <!- 此列自动适应，宽度=12-(其他列宽度之和) ->
                <td><input type="text"  name="ActivityName" value="{$Detail.ActivityName}"/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center' >当前版本</th>
                <td><input type="text"  name="Version" value="{$Detail.Version}"/></td>
            </tr>
            <input type="hidden" name="ActivityId" value="{$Detail.ActivityId}"/>
            <input type="hidden" name="HeadFigureUrl" value="{$Detail.ActivityHeadFigure}"/>
            <input type="hidden" name="IosHeadFigureUrl" value="{$Detail.IosActivityHeadFigure}"/>
            <input type="hidden" name="IconUrl" value="{$Detail.ActivityIcon}"/>
            <tr>
                <th class="col-xs-3" style='text-align:center' >PC 安卓-原价</th>
                <td><input type="text"  name="AndroidOriginalPrice" value="{$Detail.AndroidOriginalPrice}"/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center' >PC 安卓-活动特惠价</th>
                <td><input type="text"  name="AndroidPreferentialPrice" value="{$Detail.AndroidPreferentialPrice}"/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>IOS-原价</th>
                <td><input type="text"  name="IosOriginalPrice" value="{$Detail.IosOriginalPrice}"/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>IOS-活动特惠价</th>
                <td><input type="text"  name="IosPreferentialPrice" value="{$Detail.IosPreferentialPrice}"/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>活动开始日期</th>
                <td><!--<input type="text"  name="ActivityStartTime" value="{:toLocalDateTime($Detail.ActivityStartTime,'Y-m-d H:i:s')}"/>-->
                    <div class="input-group input-group-sm" style="width: 100px">
                        <input type="text" id="ActivityStartTime" name="ActivityStartTime" class="date-picker hasDatepicker" value="{:toLocalDateTime($Detail.ActivityStartTime,'Y-m-d')}">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-calendar"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>活动截止日期</th>
                <td>
                    <div class="input-group input-group-sm" style="width: 100px">
                        <input type="text" id="ActivityEndTime" name="ActivityEndTime" class="date-picker hasDatepicker"  value="{:toLocalDateTime($Detail.ActivityStartTime,'Y-m-d')}">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-calendar"></i>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>PC活动说明(默认)</th>
                <td>
                    <textarea name="ActivityDescription" id="" cols="30" rows="3" style="resize:none">{$Detail.ActivityDescription}</textarea>
                </td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>Android活动说明</th>
                <td><textarea name="AndroidActivityDescription" id="" cols="30" rows="3" style="resize:none">{$Detail.AndroidActivityDescription}</textarea></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>Ios活动说明</th>
                <td>  <textarea name="IosActivityDescription" id="" cols="30" rows="3" style="resize:none">{$Detail.IosActivityDescription}</textarea></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>Android活动头图(默认)</th>
                <td><img src="{$Detail.ActivityHeadFigure}" alt="" width="80px"/> <input type="file" name="ActivityHeadFigure" value=""/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>Ios活动头图</th>
                <td><img src="{$Detail.IosActivityHeadFigure}" alt="" width="80px"/> <input type="file" name="IosActivityHeadFigure" value=""/></td>
            </tr>
            <tr>
                <th class="col-xs-3" style='text-align:center'>活动图标</th>
                <td><img src="{$Detail.ActivityIcon}" alt=""  width="80px"/> <input type="file" name="ActivityIcon" value=""/></td>
            </tr>


        </table>
            <center>
            <input type="submit" style="background: #00b3ee;border-radius: 7px;width:130px;height: 45px;" value="修改并保存"/>
            </center>
        </form>
    </div>
</div>


{/block}

{block name="resources-footer"}

<script>
   jQuery(function($) {
        $("#updateActivity").validate({
            errorElement: 'label',
			focusInvalid: false,            
            rules: {
                'ActivityName':"required",
                'AndroidOriginalPrice': { required:true, number:true },
                'AndroidPreferentialPrice': { required:true, number:true },
                'IosOriginalPrice': { required:true, number:true },
                'IosPreferentialPrice':{ required:true,number:true },
                'ActivityStartTime': 'required',
                'ActivityEndTime': 'required',
                'ActivityDescription': { required: true,maxlength: 300 },
                'AndroidActivityDescription':{ required: true,maxlength: 300 },
                'IosActivityDescription':{ required: true,maxlength: 300 },
            },
            messages: {
                'ActivityName': {
                    required: "请输入活动名称",
                },
                'AndroidOriginalPrice': {
                    required: "请输入安卓—原价",
                    number: "非法的数字格式"
                },
                'AndroidPreferentialPrice': {
                    required: "请输入活动价格",
                    number: "非法的数字格式"
                },
                'IosOriginalPrice': {
                    required: "请输入IOS—原价",
                    number: "非法的数字格式"
                },
                'IosPreferentialPrice': {
                    required: "请输入活动价格",
                    number: "非法的数字格式"
                },
                'ActivityStartTime':"请输入活动开始时间",
                'ActivityEndTime':"请输入活动结束时间",
                'ActivityDescription': {
                	required: "请输入PC活动说明",
                	maxlength: "最多300个字"
                },
                'AndroidActivityDescription': {
                	required: "请输入安卓活动说明",
                	maxlength: "最多300个字"
                },
                'IosActivityDescription': {
                	required: "请输入IOS活动说明",
                	maxlength: "最多300个字"
                }
            },
            success: function (e) {
                $(e).closest('tr').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
			},             
            errorPlacement: function (error, element) {
            	if(element.is('.date-picker')){
            		error.insertAfter(element.parent(".input-group"));
            	}
            	else{
            		error.insertAfter(element);
            	}
            	error.addClass("help-block");
                error.parents("tr").addClass("has-error");
            },

            submitHandler: function (form) {
                form.submit();
            },
        });
    });
  
</script>
{/block}
