<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>企业信息认证</title>
        {include file="-public/resources_fullscreen_header" /}
	</head>
	<body>
		<div class="iden-body iden-body2">
		  <div class="iden-con">
		  	   <img class="com-logo iden-logo" src="{$Think.config.resources_site_root}/pc/img/logo.png" >
		  	   <div class="com-form iden-bg iden-bg2"></div>
		  	   <div class="iden-info iden-info2">
		  		   <p class="com-title">企业认证</p>
		  		   <ul>
		  			  <li class="iden-circle"></li>
		  			  <li class="iden-line"></li>
		  			  <li class="iden-circle"></li>
		  			  <li class="iden-line"></li>
		  			  <li class="iden-circle"></li>
		  			  <li class="iden-line iden-gray"></li>
		  			  <li class="iden-circle iden-gray"></li>
		  		   </ul>
		  		   <dl>
		  			  <dd class="iden-color">填写企业信息</dd>
		  			  <dd class="iden-color">填写法人信息</dd>
		  			  <dd class="iden-color">信息审核</dd>
		  			  <dd>进入工作台</dd>
		  		   </dl>
		  		   <img class="iden-face" src="{$Think.config.resources_site_root}/pc/img/face.png">
		  		<div class="warn-word iden3-word">
		  			<p>您的企业申请已成功提交！</p>
		  			<p>审核结果将于24小时内以短信形式通知到您。</p>
		  			<p>如有问题，请联系400-815-9166</p>
		  		</div>
		  	</div> 	 
		</div>
	</body>	
</html>
