<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{block name="page-title"}老板点评{/block}</title>
	{include file="-public/resources__header" /}
</head>
<body>

	<div class="com-bb">
		<!--左侧部分-->
		<div class="com1-left">
			{include file="-public/menu-sidebar-enterprise" /}
		</div>
		{include file="-public/header-enterprise" /}
		<div id="page-content">
		{block name="page-content"}
			<!-- this is page-content -->
		{/block}
		</div>

	</div>
	{include file="-public/resources__footer" /}
	{block name="resources-footer"}
	<!-- this is page-content -->
	{/block}
</body>
</html>
