<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{block name="page-title"}老板点评{/block}</title>

		{include file="-public/resources_fullscreen_header" /}
	</head>

	<body>
		{block name="page-content"}
			<!-- this is page-content -->
		{/block}

		{include file="-public/resources_fullscreen_footer" /}
        {block name="resources-footer"}
            <!-- this is page-content -->
        {/block}
	</body>
</html>
