<div class="com1-head">
    {if $MyCompanyRole==1 or $MyCompanyRole==2}
	<a href="/Mine/CompanyUpdate?CompanyId={$CompanyId}" title="{$CompanySummary.CompanyName}"> <img src="{$CompanySummary.CompanyLogo}" ></a>
    {else/}
    <a href="javascript:void(0);" title="{$CompanySummary.CompanyName}"> <img src="{$CompanySummary.CompanyLogo}" ></a>
    {/if}
</div>
<p class="com1-name">{$CompanySummary.LegalName} <span>公司法人</span></p>
<!--金库部分-->
<div class="com1-money">
	<div class="money">
		<i class="iconfont">&#xe630;</i>
		<div class="com1-m1">
			<p class="com-p1">公司的金库</p>
			<p>{if empty($CompanySummary.Wallet.AvailableBalance)}0.00{else}{$CompanySummary.Wallet.AvailableBalance}{/if}金币</p>
		</div>
	</div>
<!--	<div class="money">
		<i class="iconfont">&#xe62f;</i>
		<div class="com1-m1">
			<p class="com-p1">可提现金额</p>
			<p>{if empty($CompanySummary.Wallet.CanWithdrawBalance)}0.00{else}{$CompanySummary.Wallet.CanWithdrawBalance}{/if}金币</p>
		</div>
	</div>-->
</div>