<div class="footer">
    <div class="footer-top">
        <div class="ft-download-App">
            <a href="/app/download" target="_blank"><img src="{$Think.config.resources_site_root}/pc/images/index750/btn_pre_app.png">APP下载</a>
        </div>
        <div class="ft-company-details">
            <p>北京全联职信科技有限公司</p>
            <ul>
                <li><a href="/index/company-intr-mobile.html">公司简介</a></li>
                <li><a href="/index/about-us-mobile.html">关于老板点评</a></li>
                <li><a href="/index/contact-us-mobile.html">联系我们</a></li>
                <li><a href="/index/question-mobile.html">常见问题</a></li>
                <li id="daili"><a href="http://wap.tidyway.cn/#join">申请代理</a></li>
            </ul>

            <div>服务热线：<a href="tel:400-815-9166"><span> 400-815-9166</span></a></div>

        </div>

    </div>
    <div class="footer-bottom">
        <div>&copy; 2017 laobandianping 京ICP备17001009号</div>
    </div>
</div>
<div class="footerFix button">
    <div class="ffleft">
        <a href="https://static.meiqia.com/dist/standalone.html?eid=45944&groupid=6a03f1766178aa84771be34af287eae0" target="_blank">
            <img src="{$Think.config.resources_site_root}/pc/images/index750/pup_ic_save.png">
            <span>在线咨询</span>
        </a>
    </div>
    <div class="ffright">
        <a href="https://static.meiqia.com/dist/standalone.html?eid=45944&groupid=14761cc18c546d50ff172298526a9ac0" target="_blank">
            <img src="{$Think.config.resources_site_root}/pc/images/index750/pup_ic_save1.png">
            <span>售后客服</span>
        </a>
    </div>
</div>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/swiper-3.4.1.jquery.min.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/index-mobile.js"></script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'http://static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 45944);
    _MEIQIA('withoutBtn');
</script>