<div class="header">
    <div class="headerT">中国人才诚信建设工作委员会</div>
    <div class="header-content header-font-size">
        <div class="header-menu">
            <a href="/index/index-mobile.html"><span class="hactive">首页</span></a>
            <a href="/index/functionality-mobile.html"><span>核心功能</span></a>
            <a href="/app/download"><span>下载APP</span></a>
        </div>
        <div class="header-call">
            <a href="tel:400-815-9166"><i><img src="{$Think.config.resources_site_root}/pc/images/index750/ic_phone.png" alt=""></i><span>400-815-9166</span></a>
        </div>
    </div>
</div>