<div class="footer">
    <div class="lrwrap">
        <div class="footer-details">
            <div class="footer-details-right">
                <div class="urlpic">
                    <div class="weichat"><img src="{$Think.config.resources_site_root}/pc/images/btn_nor_wenet.png" alt="">
                        <div class="weichatimg">
                            <img src="{$Think.config.resources_site_root}/pc/images/download_url2.png" alt="">
                        </div>
                    </div>
                    <div class="appstroe"><img src="{$Think.config.resources_site_root}/pc/images/btn_nor_app.png" alt="">
                        <div class="appstroeimg">
                            <img src="{$Think.config.resources_site_root}/pc/images/download_url3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer-details-call">
                    服务热线：<span>400-815-9166</span>
                </div>
                <div class="footer-details-email">
                    意见反馈：service@laobandianping.com
                </div>
            </div>
            <div class="footer-details-left">
                <ul class="fdl-title ft-title clearfix">
                    <li>全联职信</li>
                    <li>产品服务</li>
                    <li>加盟代理</li>
                    <li>媒体资讯</li>
                    <li>联系我们</li>
                </ul>
                <ul class="fdl-title footer-hover-color">
                    <li>
                        <ul class="fdl-second-list">
                            <li><a href="/index/company-intr.html">公司介绍</a></li>
                            <li><a href="/index/development-history.html">发展历程</a></li>
                            <li><a href="/index/committee.html">中国人才诚信建设工作委员会</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="fdl-second-list">
                            <li><a href="/index/about-us.html">老板点评</a></li>
                            <li><a href="/index/about-company.html">企业用户协议</a></li>
                            <li><a href="/index/about-person.html">个人用户协议</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="fdl-second-list">
                            <li><a href="http://tidyway.cn/" target="_blank">加盟政策</a></li>
                            <li><a href="http://tidyway.cn/#apply"  target="_blank">申请代理</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="fdl-second-list">
                            <li><a href="/index/news.html">新闻资讯</a></li>
                            <li><a href="/index/topic.html">专题聚焦</a></li>
                            <li><a href="/index/policy.html">政策法规</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="fdl-second-list">
                            <li><a href="/index/contact-us.html">联系我们</a></li>
                            <li><a href="/index/question.html">常见问题</a></li>
                            <li id="friends">
                                <a href="#">友情链接
                                    <ul>
                                        <li><a href="http://www.juxian.com/">举贤网</a></li>
                                        <li><a href="http://www.negroup.cn/">中和教育</a></li>
                                        <li><a href="http://www.xuehuiwang.com/">学慧网</a></li>
                                        <li><a href="http://www.gaoxun.com/">高训网</a></li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ourdetails">
            <div class="beian">&copy; 2017 laobandianping 京ICP备17001009号</div>
            <div class="chinarul">
                <div><a href="http://t.knet.cn/index_new.jsp"><img src="{$Think.config.resources_site_root}/pc/images/ic_china.png" alt=""><span> 中国信用</span></a></div>
                <div><a href="http://www.miitbeian.gov.cn"><img src="{$Think.config.resources_site_root}/pc/images/ic_icp.png" alt=""><span> ICP备案</span></a></div>
                <div><a href="http://www.bj.cyberpolice.cn/index.do"><img src="{$Think.config.resources_site_root}/pc/images/ic_save.png" alt=""><span> 安全网站</span></a></div>
                <div><a href="http://www.innocom.gov.cn/"><img src="{$Think.config.resources_site_root}/pc/images/ic_countion.png" alt=""><span> 国家高新</span></a></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/swiper-3.4.1.jquery.min.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc01-24/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/jquery.carousel.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/index4.js"></script>
<script type='text/javascript'>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?51a70b5d6bd8efd219786af83c185d5f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
