<link href="{$Think.config.resources_site_root}/pc/css/iconfont.css"  type="text/css" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/pc/css/reset.css" type="text/css" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/pc/css/second.css" type="text/css" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/pc/css/backgroundsurvey.css" type="text/css" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/pc/css/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="{$Think.config.resources_site_root}/mobile/css/photoswipe.css?v=0" rel="stylesheet">
