<link rel="stylesheet" type="text/css" href="{$Think.config.resources_site_root}/pc/css/index720.css"/>

<script src="{$Think.config.resources_site_root}/pc/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/swiper.min.css">
<link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/main.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.resources_site_root}/pc/css/index720.css"/>
<link rel="stylesheet" href="{$Think.config.resources_site_root}/pc/css/swiper.min.css">
<script>
    //适配方案
    (function(){
        var width = document.documentElement.clientWidth;
        var html = document.querySelector("html");
        html.style.fontSize=width/16+"px";
    })();
</script>