<script src="http://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="{$Think.config.resources_site_root}/-common/js/AppEnvironment.js"></script>

<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/slider.js?v=1"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/slider-grade.js"></script>
<script type="text/javascript" src="{$Think.config.resources_site_root}/pc/js/zUI.js"></script>
<script type='text/javascript'>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?51a70b5d6bd8efd219786af83c185d5f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>