<!DOCTYPE html>
<html  lang="zh">
	<head>
		<meta charset="utf-8">
		<title>背景调查查询</title>
		<meta name="description" content=""/>
		<!--清理缓存 start-->
		<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
		<meta content="telephone=no" name="format-detection" />
		<meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <!--#include virtual="/-sources/-common/resources_header.html"-->
	</head>
	<body>
		<!--左侧部分-->
		<div class="com1-left">
		  	<!--#include virtual="/-sources/-common/menu-sidebar.html"-->
		</div>
		<!--#include virtual="/-sources/-common/header.html"-->
		<!--右侧内容开始-->
		<div class="backgroundsurvey">
			<div class="background-inner">
				<h2>背景调查</h2>
				<form>
					<div class="inp">
						<input type="text" name="name">
					</div>
					<div class="inp">
						<input type="text" name="idcard">
					</div>
					<button type="submit">查询</button>
				</form>
				<p>
					在老板点评中，只要被标记为在职人员，<br>
					则其信息不能被查询
				</p>
				<div class="search-result">
					<h3>查询结果</h3>
					<ul>
						<li>
							<div class="fl">
								<span>岳新林</span>
								<span>举贤网科技(北京)股份有限公司</span>
							</div>
							<div class="fr">
								<a href="javascript:;">查看背调报告</a>
							</div>
						</li>
						<li>
							<div class="fl">
								<span>岳新林</span>
								<span>举贤网科技(北京)股份有限公司</span>
							</div>
							<div class="fr">
								<a href="javascript:;">查看背调报告</a>
							</div>
						</li>
						<li>
							<div class="fl">
								<span>岳新林</span>
								<span>举贤网科技(北京)股份有限公司</span>
							</div>
							<div class="fr">
								<a href="javascript:;">查看背调报告</a>
							</div>
						</li>
						<li>
							<div class="fl">
								<span>岳新林</span>
								<span>举贤网科技(北京)股份有限公司</span>
							</div>
							<div class="fr">
								<a href="javascript:;">查看背调报告</a>
							</div>
						</li>
						<li>
							<div class="fl">
								<span>岳新林</span>
								<span>举贤网科技(北京)股份有限公司</span>
							</div>
							<div class="fr">
								<a href="javascript:;">查看背调报告</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<!--#include virtual="/-sources/-common/resources_footer.html"-->
</html>
